{% extends "base.html" %}

{% block body %}
<div class="span9">

<aside>Pressemitteilung</aside>

<h2>FragDenStaat.de stärkt die Informationsfreiheit &mdash;
<br/>Rekord bei IFG-Anfragen</h2>

<p class="lead">Über 6000 Anfragen wurden 2012 nach dem Informationsfreiheitsgesetz des Bundes gestellt, davon mehr als ein Drittel über das Webportal FragDenStaat.de.</p>

<p><i>Berlin, 27.02.2013</i> - Dank des Portals FragDenStaat.de nutzen immer mehr Bürger die weitreichenden Möglichkeiten, die ihnen das Informationsfreiheitsgesetz bietet. Im letzten Jahr hat sich die Zahl der Anfragen nahezu verdoppelt, wie eine Statistik des Bundesinnenministeriums zeigt. Wurden im Jahr 2011 insgesamt knapp 3.300 Anfragen von Bürgern an Bundesbehörden gestellt, waren es im Jahr 2012 fast 6.100. Darunter befinden sich rund 2.100 Anfragen über FragDenStaat.de, was über einem Drittel aller Anfragen an Bundesbehörden entspricht.</p>


<p>„Wir freuen uns zu sehen, dass unser Portal es vielen Bürgern erleichtert, eine Anfrage zu stellen“, sagt Stefan Wehrmeyer, Projektleiter FragDenStaat.de bei der Open Knowledge Foundation Deutschland.
Vor dem Launch des Portals im Sommer 2011 wären Anfragen viel komplizierter gewesen, da die richtigen juristischen Formulierungen und die Kenntnis des richtigen Ansprechpartners Voraussetzung waren. All diese Formalitäten erspart FragDenStaat.de dem Bürger nun. Er wird bei der Suche nach der Behörde unterstützt und muss nur noch seine Frage in ein Feld eingeben - über den Verlauf wird er stets per Mail benachrichtigt.</p>


<p>Besonders gelagerte Fälle trugen zum Anstieg der Anfragen bei: Der wissenschaftliche Dienst des Bundestages sandte ein Gutachten zu <a href="https://fragdenstaat.de/anfrage/gutachten-rechtsfragen-im-kontext-der-abgeordnetenkorruption/">“Rechtsfragen im Kontext der Abgeordnetenkorruption”</a> zwar jedem einzelnen Antragsteller zu, erlaubte aber nicht die Veröffentlichung des Gutachtens. FragDenStaat.de entwickelte daraufhin eine Möglichkeit, das Gutachten mit nur einem Mausklick ebenfalls anzufordern. Das Gutachten wurde fast 800 mal angefordert. Ebenfalls auf diese Weise fragten viele Bürger beim Bundeskanzleramt <a href="https://fragdenstaat.de/anfrage/informationen-zu-abendessen-mit-herrn-ackermann-im-april-2008/">Informationen zu einem Geburtstagsessen</a> im Jahr 2008 für den damaligen Deutsche-Bank-Chef Josef Ackerman an (rund 850 Fälle). Insgesamt nutzten Bürger in fast 1.700 Fällen solche Ein-Klick-Anfragen.</p>

<h3>Schwelle von 1.000 Einzelanfragen überschritten</h3>

<p>Im Unterschied zu den sogenannten Ein-Klick-Anfragen stehen Anfragen, die nur eine einzelne Person gestellt hat. Rund 400 Einzelanfragen verzeichnete das Portal im Jahr 2012 an den Bund. Erfreulicherweise hat die Gesamtzahl solcher Einzelanfragen an Bund und Länder am 23. Februar 2013 die Marke von 1.000 überschritten.</p>

<p>„Wenn Ihnen etwas seltsam vorkommt oder Sie gerne nähere Informationen von einer Behörde zu einem Vorgang haben wollen - fragen Sie einfach nach“, ermutigt Stefan Wehrmeyer Bürgerinnen und Bürger.</p>

<hr/>

<p>FragDenStaat.de wurde am 1. August 2011 gestartet. Mittlerweile sind neben Anfragen an Bundesbehörden auch Anfragen an Behörden in folgenden Bundesländern möglich: Berlin, Brandenburg, Hamburg und Nordrhein-Westfalen. In konkreter Vorbereitung sind außerdem die Bundesländer Saarland, Thüringen und Rheinland-Pfalz.</p>

<p>FragDenStaat.de ist mit größtenteils ehrenamtlicher Arbeit entstanden und finanziert sich über Spenden. Die Webseite wird von dem gemeinnützigen Open Knowledge Foundation Deutschland e.V. betrieben.</p>

<p>Zu den Unterstützern des Portals gehören Transparency International Deutschland e.V. und die Deutsche Gesellschaft für Informationsfreiheit e.V.</p>



<h4 id="ansprechpartner">Ansprechpartner</h4>
<p>Stefan Wehrmeyer<br/>
Projektleiter FragDenStaat.de bei der Open Knowledge Foundation Deutschland<br/>
Email: <a href="mailto:stefan.wehrmeyer@okfn.org">stefan.wehrmeyer@okfn.org</a><br/>
Telefon: 0151 15550559
</p>

<h4 id="links">Links</h4>
<ul class="unstyled">
  <li>
    <a href="http://bmi.bund.de/SharedDocs/Downloads/DE/Themen/Politik_Gesellschaft/Verwaltungsrecht/IFG_Statistik_2012.html">
      <i class="icon-globe"></i>
      IFG-Statistik 2012 auf der Seite des Bundesinnenministeriums
    </a>
  </li>
  <li>
    <a href="https://fragdenstaat.de/anfrage/gutachten-rechtsfragen-im-kontext-der-abgeordnetenkorruption/">
      <i class="icon-arrow-right"></i>
      FragDenStaat.de-Anfrage zum Abgeordnetenkorruptions-Gutachten
    </a>
  </li>
  <li>
    <a href="https://fragdenstaat.de/anfrage/informationen-zu-abendessen-mit-herrn-ackermann-im-april-2008/">
      <i class="icon-arrow-right"></i>
      FragDenStaat.de-Anfrage zum Ackermann-Abendessen
    </a>
  </li>
</ul>

<h4 id="downloads">Downloads</h4>
<ul class="unstyled">
  <li>
    <a href="{{ STATIC_URL }}data/IFG_2012.csv">
      <i class="icon-download-alt"></i>
      Download der BMI-Statistik 2012 als CSV
    </a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}data/fds_stats_2012.csv">
      <i class="icon-download-alt"></i>
      Download Zahlenvergleich als CSV
    </a>
  </li>
  <li>
    <a href="{{ STATIC_URL }}img/logo_fragdenstaat.png">
      <i class="icon-download-alt"></i>
      FragDenStaat.de-Logo als PNG
    </a>
  </li>
</ul>

<h4 id="grafiken">Grafiken</h4>

<iframe src="https://charts-datawrapper.s3.amazonaws.com/7Cwa5/index.html?rev=41" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="920" height="600"></iframe>

<h5>Gesamtzahl der Anfragen an Bund und Länder auf FragDenStaat.de</h5>

<p>
  <img src="{{ STATIC_URL }}img/stats/anfragenentwicklung-20130226.png" alt="Anfragenentwicklung"/>
</p>
<p><small>Die Sprünge enstehen durch die beschriebenen 1-Klick-Anfragen.</small></p>


<h4 id="api">API</h4>
<p>Die <a href="/api/v1/docs/">FragDenStaat.de-API</a> steht für eigene Auswertungen zur Verfügung.</p>

</div>
{% endblock %}
