{% load i18n cms_tags %}
{% with instance.audio_file.extension as ext %}
    <audio {% if instance.text_title %}title="{{ instance.text_title }}"{% endif %}
           {% if instance.attributes %}{{ instance.attributes_str }}{% endif %}>
        <source src="{{ instance.audio_file.url }}"
                type="audio/{% if ext == "mp3" %}mpeg{% else %}{{ ext }}{% endif %}">
        {{ instance.text_description }}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </audio>
    <div class="d-md-flex text-nowrap">
        <div class="w-100 hstack align-items-center gap-3">
            <button class="btn btn-primary rounded-circle audio-player__playpause">
                <i class="fa fa-play"></i>
                <span class="visually-hidden">{% trans "Play/pause" %}</span>
            </button>
            <button class="btn text-center btn-sm rounded-circle audio-player__backward">
                <i class="fa fa-backward"></i>
                <span class="visually-hidden">{% trans "Backwards" %}</span>
            </button>
            <input type="range"
                   class="form-range audio-player__progress"
                   value="0"
                   min="0">
            <button class="btn text-center btn-sm rounded-circle audio-player__forward">
                <i class="fa fa-forward"></i>
                <span class="visually-hidden">{% trans "Forwards" %}</span>
            </button>
        </div>
        <div class="hstack align-items-center gap-3 mt-3 mt-md-0 ">
            {# djlint:off H021 #}
            <div class="audio-player__textprogress text-center"
                 style="min-width: 11ch">00:00 / 00:00</div>
            {# djlint:on #}
            <button class="btn d-flex align-items-center audio-player__speed">
                <i class="fa fa-clock-o"></i>
                <span class="visually-hidden">{% trans "Playback speed" %}:</span>
                &nbsp;<span class="audio-player__speed-display">1x</span>
            </button>
            <a href="{{ instance.audio_file.url }}"
               download="{{ instance.audio_file.label }}"
               class="btn d-flex align-items-center text-nowrap audio-player__download">
                <i class="fa fa-download"></i>
                &nbsp; {% trans "Download" %}
            </a>
        </div>
    </div>
    <ul class="vstack gap-2 m-0 pt-3 mt-3 border-top list-unstyled audio-player__chapters d-none">
    </ul>
{% endwith %}
{% comment %}
  # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
  # https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
  {{ instance.audio_file }}
  # Available variables:
  {{ instance.text_title }}
  {{ instance.text_description }}
  {{ instance.attributes_str }}
{% endcomment %}
