{% extends "foirequest/body/body.html" %}

{% load foirequest_tags %}
{% load i18n %}
{% load legalaction %}
{% load campaign_tags %}


{% block request_top_pane %}

{% if object|can_write_foirequest:request %}

{% if object.costs %}
  <div
  role="tabpanel"
  class="tab-pane fade"
  id="crowdfunding-panel"
  aria-labelledby="crowdfunding-tab"
  >
    <div class="container p-5">
      {% include "froide_crowdfunding/includes/request_pane.html" with object=object %}
    </div>
  </div>
{% endif %}

{% can_use_klageautomat object as has_right_permissions %}
{% if object.is_actionable or has_right_permissions %}
  <div
    role="tabpanel"
    class="tab-pane fade"
    id="legalaction-panel"
    aria-labelledby="legalaction-tab"
  >
    <div class="container py-5">
      {% include "froide_legalaction/includes/request_pane.html" with object=object %}
    </div>
  </div>
{% endif %}

{% endif %}
{% endblock %}

{% block request_action_menu_footer %}
{% if object|can_write_foirequest:request and object|foirequest_has_questionaire %}
  <li class="nav-item">
    <a id="questionaire-tab" class="nav-link" data-toggle="tab" href="#questionaire" role="tab" aria-controls="questionaire" aria-selected="false">
      <span>
        {% translate "Questionnaire" %}
        {% if object|foirequest_campaign_report_count == 0 %}
          {% if object.status_is_final %}
            <span class="badge badge-pill badge-danger">
              <span class="fa fa-exclamation-circle"></span>
            </span>
          {% endif %}
        {% else %}
          <span class="badge badge-pill badge-success">
            <span class="fa fa-check"></span>
          </span>
        {% endif %}
      </span>
    </a>
  </li>
{% endif %}
{% endblock %}

{% block request_action_pane_footer %}
  {% if object|can_write_foirequest:request and object|foirequest_has_questionaire %}
    <div id="questionaire" class="tab-pane fade" role="tabpanel" aria-labelledby="questionaire-tab">
      {% render_campaign_questionaire object %}
    </div>
  {% endif %}
{% endblock %}