{% extends "foirequest/body/correspondence.html" %}
{% load i18n %}
{% load fds_cms_tags %}
{% load foirequest_tags %}
{% load campaign_tags %}
{% load fds_tags %}
{% block foirequest_message_before_last %}
    <div class="d-print-none">{% fds_static_placeholder "message_donation_banner" %}</div>
{% endblock %}
{% block foirequest_message_after_single %}
    <div class="d-print-none">{% fds_static_placeholder "message_donation_banner" %}</div>
{% endblock %}
{% block after_foirequest_messages %}
    {% if object|can_write_foirequest:request and object.status_is_final and object|foirequest_has_questionaire and object|foirequest_campaign_report_count == 0 %}
        <div class="position-sticky d-print-none" style="bottom: 0">
            <div class="bg-yellow-100 text-center p-2">
                <a data-tabgo="tab"
                   data-scrollto="questionaire"
                   data-name="questionaire"
                   href="#questionaire">{% translate "Please fill out the questionnaire!" %}</a>
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
