<div class="design-container text-bg-body-tertiary text-body">
    <div class="container ">
        <div class="py-5 row">
            <div class="col col-md-10">
                <h2 data-auto-id="kontakt-und-feedback" id="kontakt-und-feedback">Kontakt und Feedback</h2>
                <p>
                    Wir freuen uns über Hinweise, Tipps und Feedback! Nutzen Sie dafür unser anonymisiertes Formular oder schreiben Sie einfach&nbsp;an&nbsp;<a href="mailto:info@fragdenstaat.de">info@fragdenstaat.de</a>.
                </p>
                {% include "fds_cms/feedback.html" %}
            </div>
        </div>
    </div>
</div>
