{% load i18n %}
{% load static %}
{% load icons %}
{% load content_helper %}
{% load thumbnail %}
{% load cms_tags %}
{% load account_tags %}
{% load search_helper %}
{% load menu_tags %}
<header id="header">
    <div class="container-md">
        <a href="#main"
           class="visually-hidden-focusable skippy text-bg-blue-500 p-3 position-fixed top-0">
            {% trans "Skip to main content" %}
        </a>
    </div>
    <nav class="bg-body">
        <div class="container-lg">
            <ul class="nav-ul w-100">
                <li class="d-lg-none">
                    <button class="btn btn-link nav-toggle-menu"
                            data-target="main"
                            aria-controls="menu-main">
                        <span class="navbar-toggler-icon"></span>
                        <span class="visually-hidden">{% trans "Menu" %}</span>
                    </button>
                </li>
                {% page_url "home" as home_url %}
                <li class="order-lg-first nav-logo">
                    <a href="{{ home_url|default:'/' }}">
                        {% render_svg "img/header_logo.svg" %}
                        <span class="visually-hidden">{{ SITE_NAME }}</span>
                    </a>
                </li>
                <ul class="nav-menu nav-menu-expanded py-3 py-lg-0" id="menu-main">
                    <li class="nav-break d-none d-lg-block" aria-hidden="true"></li>
                    {% if home_url %}
                        {% page_attribute "menu_title" "home" as home_title %}
                    {% endif %}
                    <li>
                        <a href="{{ home_url|default:'/' }}"
                           {% if request.path == home_url %}class="active" aria-current="page"{% endif %}>{{ home_title|default:"Startseite" }}</a>
                    </li>
                    {% page_url "investigations" as investigations_url %}
                    {% if investigations_url %}
                        {% page_attribute "menu_title" "investigations" as investigations_title %}
                    {% endif %}
                    <li>
                        <a href="{{ investigations_url|default:'/recherchen/' }}"
                           {% if request.path|startswith:investigations_url %}class="active" aria-current="page"{% endif %}>{{ investigations_title|default:"Recherchen" }}</a>
                    </li>
                    {% page_url "lawsuits" as lawsuits_url %}
                    {% if lawsuits_url %}
                        {% page_attribute "menu_title" "lawsuits" as lawsuits_title %}
                    {% endif %}
                    <li>
                        <a href="{{ lawsuits_url|default:'/klagen/' }}"
                           {% if request.path|startswith:lawsuits_url %}class="active" aria-current="page"{% endif %}>{{ lawsuits_title|default:"Klagen" }}</a>
                    </li>
                    <li class="nav-sm d-lg-none">
                        <hr>
                    </li>
                    <li class="ms-lg-auto nav-search order-lg-first">{% multi_search small=True %}</li>
                </ul>
            </ul>
        </div>
    </nav>
</header>
<nav aria-label="breadcrumb"
     {% if request.current_page.fdspageextension.breadcrumb_background %} class="text-bg-{{ request.current_page.fdspageextension.breadcrumb_background }}{% if request.current_page.fdspageextension.breadcrumb_overlay %} breadcrumb-overlay{% endif %}
     "
     {% endif %}>
    <div class="container-md">
        <ol class="breadcrumb">
            {% show_breadcrumb 0 "cms/breadcrumbs.html" %}
        </ol>
    </div>
</nav>
