{% load i18n %}
{% load icons %}
{% load static %}
{% if has_translation %}
    <a class="btn btn-sm {% if target_language == 'de-ls' %}btn-outline-primary{% else %}btn-primary{% endif %} leichte-sprache-toggle"
       href="{{ target_url }}">
        {% render_svg "img/icon-leichte-sprache.svg" %}
        <span class="d-none d-lg-inline">Leichte Sprache</span>
    </a>
{% else %}
    <button class="btn btn-sm btn-outline-primary leichte-sprache-toggle"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#noLsTranslationModal">
        {% render_svg "img/icon-leichte-sprache.svg" %}
        <span class="d-none d-lg-inline">Leichte Sprache</span>
    </button>
{% endif %}
<!-- Modal for missing translation -->
<div data-teleport="body"
     class="modal fade"
     id="noLsTranslationModal"
     tabindex="-1"
     aria-labelledby="noLsTranslationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noLsTranslationModalLabel">
                    {% render_svg "img/icon-leichte-sprache.svg" %}
                    Leichte Sprache
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <p>Diese Seite ist leider noch nicht in Leichter Sprache verfügbar.</p>
                <p>Sie können zur Startseite in Leichter Sprache wechseln:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hier bleiben</button>
                <a href="{{ home_url }}" class="btn btn-primary">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Zur Startseite in Leichter Sprache
                </a>
            </div>
        </div>
    </div>
</div>
