{% load i18n %}
{% load account_tags %}

{% if request.user.is_authenticated %}
  {% get_menu_items as menu_items %}
{% endif %}

{% if request.user.is_authenticated %}
  {% for menu_item in menu_items.before_request %}
    <li>
      <a class="dropdown-item" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
    </li>
  {% endfor %}
  {% for menu_item in menu_items.before_settings %}
    <li>
      <a class="dropdown-item" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
    </li>
  {% endfor %}
  {% for menu_item in menu_items.after_settings %}
    <li>
      <a class="dropdown-item" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
    </li>
  {% endfor %}
  <li>
    <hr class="dropdown-divider" />
  </li>
  <li>
    <form action="{% url 'account-logout' %}" method="post" class="dropdown-item">
      {% csrf_token %}
      <button type="submit" class="btn btn-link p-0">{% blocktrans %}Log out{% endblocktrans %}</button>
    </form>
  </li>
{% endif %}