{% load i18n %}
{% load static %}

{# Translators: meta keywords #}
<meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{% trans 'Freedom of Information Requests, Freedom of Information Law, Public Body Information' %}{% endif %}" />

{% block additional_meta %}
  <meta name="google-site-verification" content="upljx19ZJVGT73Sx1miWKLOWBKga4LQJ_hqFl0vhhJE" />
{% endblock %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
<link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#0069d0">
<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
<meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
