{% load static %}

<!-- Hero area -->
<div class="hero-area container position-relative">
  <div class="row">
    <div class="col-md-8 col-lg-6 pl-md-5 pl-lg-0 pt-5 pt-lg-6 pb-md-4 offset-lg-1 d-md-flex flex-md-column justify-content-md-center text-blue-700 text-center text-md-left">
      <h1>Wir bringen Licht ins Dunkel der Behörden</h1>
      <p>Jede Person hat das Recht auf Informationen aus Politik und Verwaltung. FragDenStaat hilft Ihnen dabei, Ihr Recht durchzusetzen.</p>
    </div>
    <div class="col col-md-4 d-flex justify-content-center align-items-md-end justify-content-md-end pt-lg-5">
      <img class="hero-area__image" src="{% static 'img/homepage/question_mark.png' %}">
    </div>
  </div>
</div>

<!-- Hero area process description -->
<div class="container position-relative mb-6">

  <div class="process row justify-content-center">
    <div class="process__wrap col-md-11 col-lg-10 px-3 py-4 p-sm-4 p-lg-5">
      
      <h3>So funktioniert's</h3>
        
        <div class="steps">
          <div class="steps__wrap">
            <div class="step">
              <div class="step__number">1</div>
              <div class="step__text">
                Sie stellen eine Anfrage. Wir leiten diese an die zuständige Behörde weiter.
              </div>
            </div>
            <div class="step">
              <div class="step__number step__number--highlight">2</div>
              <div class="step__text">
                Sie erhalten eine E-Mail, sobald die Behörde auf Ihre Anfrage reagiert.
              </div>
            </div>
            <div class="step">
              <div class="step__number">3</div>
              <div class="step__text">
                Die Antwort wird für Sie und auch für andere öffentlich einsehbar.
              </div>
            </div>
          </div>
          <div class="steps__line"></div>
        </div>
        
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-start">
          <a href="" class="btn btn-primary mr-auto mr-md-3 mb-3 mb-md-0">Anfrage erstellen</a>
          <a href="" class="btn btn-outline-primary mr-auto mb-3 mb-md-0">Einsteiger-Guide</a>
          <a id="videoModalTrigger" data-toggle="modal" href="#videoModal">Sehen Sie sich ein Video an <i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
        </div>
  
        <div id="videoModalContainer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content"></div>
          </div>
        </div>
  
    </div>
  </div>
</div>

<!-- Campaign area -->
<div class="campaign-area container position-relative">
  <div class="row d-flex">
    <div class="order-2 order-md-1 col-md-8 col-lg-6 pl-md-5 pl-lg-0 pt-3 pt-md-6 pb-md-4 offset-lg-1 d-md-flex flex-md-column justify-content-md-center text-blue-700 text-center text-md-left">
      <h1>Unsere Kampangen</h1>
      <p>Mehr als 90.000 Personen haben FragDenStaat bereits genutzt. Mit unseren Kampagnen öffnen wir gemeinsam den Wissensschatz der Gesellschaft und bringen Veränderung in Amtsstuben.</p>
      <p><a href="" class="btn btn-primary">Alle Kampagnen ansehen</a></p>
    </div>
    <div class="order-1 order-md-2 col col-md-4 col-lg-5 mt-n5 ml-md-n2 ml-lg-0 d-flex align-items-md-start justify-content-center">
      <img class="campaign-area__image" src="{% static 'img/homepage/megaphone.png' %}">
    </div>
  </div>
</div>

<!-- Campaign area slider -->
<div class="container position-relative mb-6">
  <div class="campaign-slider row">
    <div class="campaign-slider__wrap col">

      <div class="campaign-card p-3">
        <div class="campaign-card__image">
          
        </div>
        <h3 class="campaign-card__title">#Zensurheberrecht</h3>
        <div class="campaign-card__content">
          Wir hatten ein staatliches Gutachten zu Krebsrisiken von Glyphosat veröffentlicht und die Bundesregierung zwang uns mit dem Urheberrecht es wieder zu löschen – bis wir 45.000 Menschen dazu animierten, das Gutachten ebenfalls anzufragen.
        </div>
        <div class="campaign-card__footer">
          <a href="" class="btn btn-outline-primary">Kampagne ansehen</a>
        </div>
        
      </div>

    </div>
  </div>
</div>

<!-- Investigation area -->
<div class="investigation-area container position-relative mb-6">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 pt-5 pt-lg-6 pb-md-4 text-blue-700 text-center">
      <h1>Unsere Recherchen</h1>
      <p>Mit exklusiven Informationen, die wir durch Anfragen erhalten, veröffentlichen wir eigene Recherchen.</p>
      <p><a href="" class="btn btn-primary">Alle Kampagnen ansehen</a></p>
    </div>
  </div>
</div>

<!-- Newsletter area -->
<div class="newsletter-area container position-relative mb-4">
  <div class="row">
    <div class="col d-flex justify-content-center mb-2">
      <img class="newsletter-area__image" src="{% static 'img/homepage/newsletter.png' %}">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 pb-md-4 text-blue-700 text-center">
      <h1>Newsletter</h1>
      <p>Abonnieren Sie unseren Newsletter, um über neue Kampagnen, Klagen und Recherchen zu erfahren!</p>
      <p><a href="" class="btn btn-primary">Abonnieren</a></p>
    </div>
  </div>
</div>

<!-- Lawsuits area -->
<div class="lawsuits-area container position-relative mb-6">
  <div class="row">
    <div class="col-md-8 col-lg-6 pl-md-5 pl-lg-0 pt-3 pt-md-6 pb-md-4 offset-lg-1 text-blue-700 text-center text-md-left">
      <h1>Unsere Klagen</h1>
      <p>Wenn Behörden Informationen rechtswidrig nicht herausgeben, setzen wir die Informationsfreiheit vor Gericht durch.</p>
      <p><a href="" class="btn btn-primary">Alle Klagen ansehen</a></p>
    </div>
  </div>
</div>

<!-- Donate area -->
<div class="donate-area container position-relative mb-4">
  <div class="row">
    <div class="col d-flex justify-content-center mb-2">
      <img class="donate-area__image" src="{% static 'img/homepage/donate_2.png' %}">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 pb-md-4 text-blue-700 text-center">
      <h1>Spenden Sie uns!</h1>
      <p>Mit Ihrer Spende unterstützen Sie nicht nur den Erhalt von FragDenStaat, sondern tragen aktiv etwas zur Informationsfreiheit in Deutschland bei.</p>
      <p><a href="" class="btn btn-primary">Jetzt spenden</a></p>
    </div>
  </div>
</div>

<!-- Testimonials area -->
<div class="testimonial-area container position-relative">
  <div class="row justify-content-center">
    <div class="col-12 pt-3 pt-md-6 pb-md-4 text-blue-700 text-center">
      <h1>Das sagen andere über uns</h1>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
