@font-face {
    font-family: 'Kreon';
    src: local('Kreon Regular'), local('Kreon-Regular'), url('../fonts/Kreon-Regular.ttf') format('truetype'), url('../fonts/Kreon-Regular.woff') format('woff');
}

h1, h2, h3, h4 {
       font-family: 'Kreon';
}

.navbar-fds {
    border: 0 !important;
}

.spendenbutton {
  height: 50px;
  margin-left: 10px;
  z-index: 10;
}

.spendenbutton-img {
  height:66px;
}

.heroine-unit h1 {
  font-size: 2em;
  margin: 0 0 0.5em;
}

.noticeable-break {
  border: 2px solid #ccc;
}

.navbar-fds .navbar-brand {
  font-size: 34px;
  color: #06C;
  font-family: 'Kreon', arial, serif;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  padding: 18px 15px 12px 60px;
  background-position: 15px 16px;
}

.donation-banner {
  z-index: 1001;
  width: 100%;
  color: #333;
  background-color: #5cb85c;
  padding: 10px 0 30px;
  overflow:hidden;
}

.donation-banner a {
  color: #fff;
}

.donation-banner a.btn {
  color: inherit;
}

.donation-banner small {
  font-size: 75%;
}

.donation-banner .action-links {
  color: #fff;
}

.donation-top {
  padding-top: 0;
}

.donation-banner h3 {
  font-size: 20px;
}

.donation-banner .btn-success {
  margin-top: 7px;
}

#close-donation {
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 1200px) {
  .donation-banner h3 {
    font-size: 24px;
  }
}

.donation-banner {
  position: relative;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .donation-top {
    padding-top: 165px;
  }
  .donation-banner {
    /* position: fixed; */
  }
  .donation-image {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.donatotron {
  background-color: #fff;
}

.donation-nav.affix {
    position: static;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  /* Widen the fixed sidebar */
  .donation-nav.affix,
  .donation-nav.affix-bottom {
    width: 263px;
  }
  .donation-nav.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 10px;
    right: 83px;
  }
  .donation-nav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .donation-nav.affix-bottom,
  .donation-nav.affix {
    width: 263px;
  }
}

.video-embed {
  display: block;
}

.video-embed-container {
  text-align: center;
  margin-top: 1em;
}

@media screen and (min-width: 1200px) {
  .video-embed-container {
    margin-top: 0;
  }
}

.video-embed img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.teaser {
  margin-bottom: 20px;
}

/* Wau Holland Logo Size (in Impressum) */
.wau {
    width: 18em;
}


.small-icon.topic-wirtschaft {
    background-image: url('../img/topics/wirtschaft_small.png')
}
.small-icon.topic-verteidigung {
    background-image: url('../img/topics/verteidigung_small.png')
}
.small-icon.topic-kultur-und-medien {
    background-image: url('../img/topics/kultur-und-medien_small.png')
}
.small-icon.topic-gesundheit {
    background-image: url('../img/topics/gesundheit_small.png')
}
.small-icon.topic-bildung-und-forschung {
    background-image: url('../img/topics/bildung-und-forschung_small.png')
}
.small-icon.topic-andere {
    background-image: url('../img/topics/andere_small.png')
}
.small-icon.topic-arbeit-und-soziales {
    background-image: url('../img/topics/arbeit-und-soziales_small.png')
}
.small-icon.topic-inneres {
    background-image: url('../img/topics/inneres_small.png')
}
.small-icon.topic-justiz {
    background-image: url('../img/topics/justiz_small.png')
}
.small-icon.topic-umwelt {
    background-image: url('../img/topics/umwelt_small.png')
}
.small-icon.topic-auswartiges {
    background-image: url('../img/topics/auswartiges_small.png')
}
.small-icon.topic-verkehr {
    background-image: url('../img/topics/verkehr_small.png')
}
.small-icon.topic-bau {
    background-image: url('../img/topics/bau_small.png')
}
.small-icon.topic-finanzen {
    background-image: url('../img/topics/finanzen_small.png')
}
.small-icon.topic-familien-senioren-frauen-und-jugend {
    background-image: url('../img/topics/familien-senioren-frauen-und-jugend_small.png')
}
.small-icon.topic-entwicklung {
    background-image: url('../img/topics/entwicklung_small.png')
}
.small-icon.topic-landwirtschaft {
    background-image: url('../img/topics/landwirtschaft_small.png')
}
.small-icon.topic-verbraucherschutz {
    background-image: url('../img/topics/verbraucherschutz_small.png')
}

.small-icon.jurisdiction-bund {
    background-image: url('../img/jurisdictions/bund_small.png')
}
.small-icon.jurisdiction-berlin {
    background-image: url('../img/jurisdictions/berlin_small.png')
}
.small-icon.jurisdiction-brandenburg {
    background-image: url('../img/jurisdictions/brandenburg_small.png')
}
.small-icon.jurisdiction-nrw {
    background-image: url('../img/jurisdictions/nrw_small.png')
}
.small-icon.jurisdiction-hamburg {
    background-image: url('../img/jurisdictions/hamburg_small.png')
}
.small-icon.jurisdiction-rheinland-pfalz {
    background-image: url('../img/jurisdictions/rheinland-pfalz_small.png')
}
.small-icon.jurisdiction-mecklenburg-vorpommern {
    background-image: url('../img/jurisdictions/mecklenburg-vorpommern_small.png')
}
.small-icon.jurisdiction-saarland {
    background-image: url('../img/jurisdictions/saarland_small.png')
}
.small-icon.jurisdiction-bremen {
  background-image: url('../img/jurisdictions/bremen_small.png')
}
.small-icon.jurisdiction-thueringen {
  background-image: url('../img/jurisdictions/thueringen_small.png')
}
.small-icon.jurisdiction-schleswig-holstein {
  background-image: url('../img/jurisdictions/schleswig-holstein_small.png')
}
.small-icon.jurisdiction-sachsen-anhalt {
  background-image: url('../img/jurisdictions/sachsen-anhalt_small.png')
}
.small-icon.jurisdiction-baden-wurttemberg {
  background-image: url('../img/jurisdictions/baden-wurttemberg_small.png')
}
.small-icon.jurisdiction-bayern {
  background-image: url('../img/jurisdictions/bayern_small.png')
}
.small-icon.jurisdiction-hessen {
  background-image: url('../img/jurisdictions/hessen_small.png')
}
.small-icon.jurisdiction-niedersachsen {
  background-image: url('../img/jurisdictions/niedersachsen_small.png')
}
.small-icon.jurisdiction-sachsen {
  background-image: url('../img/jurisdictions/sachsen_small.png')
}


/* style for animation on index page */

.step {
  display: block;
}
.step:hover {
  text-decoration: none;
}

.step-number {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #777;
  color: #f8f8f8;
  border-radius: 20px;
  text-align: center;
  z-index: 5;
}

@media screen and (min-width: 992px) {
  .step-number {
    left: 42%;
  }
}

@media screen and (min-width: 992px) {
  .step:nth-last-child(-n+2):after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: #777;
    position: absolute;
    top: 36px;
    left: -50%;
  }
}

.step-box {
  position: relative;
  top: -35px;
  background-color: #d9edf7;
  color: #f8f8f8;
  margin: 15px;
  border-radius: 6px;
  text-align: center;
  padding: 15px;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .step-box {
    top: 0px;
    height: 100px;
  }
}

.step .step-number,
.step:after,
.step .step-box {
  animation-duration: 10s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

.step:nth-child(1) .step-number {
  animation-name: step-1;
}
.step:nth-child(1) .step-box {
  animation-name: box-step-1;
}

.step:nth-child(2) .step-number,
.step:nth-child(2):after {
  animation-name: step-2;
}
.step:nth-child(2) .step-box {
  animation-name: box-step-2;
}

.step:nth-child(3) .step-number,
.step:nth-child(3):after {
  animation-name: step-3;
}
.step:nth-child(3) .step-box {
  animation-name: box-step-3;
}

@keyframes step-1 {
  25% {
    background-color: #ffb74d;
  }
}

@keyframes step-2 {
  50% {
    background-color: #ffb74d;
  }
}

@keyframes step-3 {
  75% {
    background-color: #ffb74d;
  }
}

@keyframes box-step-1 {
  0%, 50%, 100% {
    color: #333;
    background-color: #d9edf7;
  }
  25% {
    color: #f8f8f8;
    background-color: #428bca;
  }
}

@keyframes box-step-2 {
  0%, 75%, 100% {
    color: #333;
    background-color: #d9edf7;
  }
  50% {
    color: #f8f8f8;
    background-color: #428bca;
  }
}

@keyframes box-step-3 {
  0%, 50%, 100% {
    color: #333;
    background-color: #d9edf7;
  }
  75% {
    color: #f8f8f8;
    background-color: #428bca;
  }
}

/* END: style for animation on index page */
