{% extends "filingcabinet/document_detail.html" %}
{% load thumbnail %}
{% block meta %}
    {% include "snippets/meta.html" %}
    {% if object.public %}
        <meta itemprop="name" content="{{ object.title }}">
        {% if object.description %}<meta itemprop="description" content="{{ object.description }}">{% endif %}
        {# Open Graph data #}
        <meta property="og:title" content="{{ object.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url"
              content="{{ SITE_URL }}{{ object.get_absolute_url }}" />
        <meta property="og:image"
              content="{% thumbnail object.get_cover_image_file "ogimage" %}" />
        {% if description %}<meta property="og:description" content="{{ object.description }}" />{% endif %}
        <meta property="og:site_name" content="{{ SITE_NAME }}" />
    {% endif %}
{% endblock %}
