{% load i18n %}
<div class="amount-group {% if 'is-invalid' in widget.attrs.class %}is-invalid{% endif %}">
    {% if presets %}
        <div class="hstack flex-wrap gap-1">
            {% for preset in presets %}
                <button type="button"
                        class="btn btn-outline-primary{% if preset|stringformat:'d' == widget.value %} active{% endif %}"
                        data-value="{{ preset }}"
                        data-target="{{ widget.attrs.id }}">{{ preset }} {{ currency }}</button>
            {% endfor %}
            {# djlint:off H021 #}
            <div class="input-group" style="max-width: 20rem;">
                <button type="button"
                        class="btn btn-outline-secondary btn-other-amount"
                        data-focus="{{ widget.attrs.id }}">{% trans "Other amount" %}</button>
                {% include "django/forms/widgets/text.html" %}
                <span class="input-group-text">{{ currency }}</span>
            </div>
        </div>
    {% endif %}
</div>
