{% with id=widget.attrs.id %}<div{% if id %} id="{{ id }}"{% endif %}>
  {% for group, options, index in widget.optgroups %}
    {% for option in options %}
      <div class="form-check form-check-inline">
      {% with widget=option %}
        {% include "django/forms/widgets/input.html" %}
        <label class="form-check-label"{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>{{ widget.label }}</label>
      {% endwith %}
      </div>
    {% endfor %}
  {% endfor %}
  </div>
{% endwith %}
