*.egg-info
*.mo
*.pyc
*.db
.DS_Store
local_settings.py
build/
public/
.idea/
fds-env/
favicon-result.json
node_modules/
froide/
data/
*.map
*hot-update.json
*hot-update.js
htmlcov/
.coverage
django.po
.env.*
!fragdenstaat_de/locale/**/django.po