*.egg-info
*.mo
*.pyc
*.db
.DS_Store
local_settings.py
build/
fragdenstaat_de/theme/static/img/_*
fragdenstaat_de/theme/static/js/
fragdenstaat_de/theme/static/css/
fragdenstaat_de/theme/static/fonts/
fragdenstaat_de/theme/static/img/jurisdictions/*/*
.idea/
fds-env/
favicon-result.json
node_modules/
froide/
data/
*.map
*hot-update.json
*hot-update.js
