repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        files: \.(js|ts|vue)?$
        entry: pnpm lint
        args: [--no-warn-ignored]

  - repo: local
    hooks:
      - id: ensure-consistent-dependencies
        name: Ensure consistent dependencies (pnpm/requirements.txt)
        language: python
        entry: scripts/ensure_consistent_dependencies.py
        additional_dependencies:
          - pyyaml
