[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "<2.0"
markdown = "*"
celery = "*"
celery-haystack = "*"
django-celery-email = "*"
django-haystack = "*"
django-taggit = "*"
pytz = "*"
requests = "*"
django-floppyforms = "*"
django-overextends = "*"
python-magic = "*"
python-mimeparse = ">=0.1.4"
django-configurations = "*"
django-storages = "*"
dj-database-url = "*"
django-cache-url = "*"
django-contrib-comments = "*"
unicodecsv = "*"
honcho = "*"
django-tinymce = "*"
anyjson = "*"
"psycopg2" = "*"
raven = "*"
froide = {git = "git://github.com/okfde/froide.git", editable = true, ref = "master"}
froide-campaign = {git = "git://github.com/okfde/froide-campaign.git", editable = true, ref = "master"}
froide-food = {git = "git://github.com/okfde/froide-food.git", editable = true, ref = "master"}
froide-legalaction = {git = "git://github.com/okfde/froide-legalaction.git", editable = true, ref = "master"}
elasticsearch = ">=2.0.0,<3.0.0"
python-memcached = "*"
"pypdf2" = "*"
reportlab = "*"
wand = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
coreapi = "*"
django-filter = "*"
django-cms = "*"
django-filer = "*"
djangocms-text-ckeditor = "*"
djangocms-picture = "*"
djangocms-video = "*"
python-slugify = "*"
django-leaflet = "*"
phonenumbers = "*"
django-treebeard = "*"
djangocms-blog = {extras = ["taggit", "search"]}
aldryn-apphooks-config = ">=0.4.0rc1"
djangorestframework-jsonp = "*"
aldryn-search = "*"


[dev-packages]

flower = "*"
gunicorn = "*"
