celery>=5.2.2
cryptography>=38.0.1
channels
coreapi
dj-database-url
django-admin-sortable2
django-cache-url
django-celery-beat
django-celery-email
django-cms>=3.11
django-configurations
django-contractor
django-contrib-comments
django-crossdomainmedia
django-filer
django-filingcabinet
django-filter
django-floppyforms
django-json-widget
django-leaflet
django-logentry-admin
django-mfa3
django-oauth-toolkit
django-parler
django-sekizai>=2.0
django-storages
django-taggit
django-treebeard
Django>=4.0,<4.1
# remove when release > 0.9.4
-e git+https://github.com/django-cms/djangocms-frontend.git@master#egg=djangocms-frontend
# remove when release >= 3.1.0
-e git+https://github.com/django-cms/djangocms-link.git@master#egg=djangocms-link
# Remove when no longer imported
djangocms-bootstrap4>=3
djangocms-icon
djangocms-picture
djangocms-text-ckeditor>=5.1
djangocms-video
djangorestframework
djangorestframework-csv
djangorestframework-jsonp
elasticsearch-dsl>=7.0.0<8.0.0
elasticsearch<8.0.0,>=7.0.0
geoip2
html-text
icalendar
jsonschema
lxml>=4.6.5
markdown
num2words
numpy>=1.21
openpyxl
pandas
phonenumbers
Pillow>=9.0.0
psycopg2
pygtail
pyisemail
pypdf2
python-magic
python-mimeparse
python-slugify
reportlab
requests
sentry-sdk
stripe
torch
torchvision
Wand
WeasyPrint
webp
websockets
xlrd

-e git+https://github.com/okfde/django-amenities.git@main#egg=django-amenities
-e git+https://github.com/okfde/froide.git@main#egg=froide
-e git+https://github.com/okfde/froide-campaign.git@main#egg=froide-campaign
-e git+https://github.com/okfde/froide-food.git@main#egg=froide-food
-e git+https://github.com/okfde/froide-fax.git@main#egg=froide-fax
-e git+https://github.com/okfde/froide-legalaction.git@main#egg=froide-legalaction
-e git+https://github.com/okfde/froide-exam.git@main#egg=froide-exam
-e git+https://github.com/okfde/django-filingcabinet.git@main#egg=django-filingcabinet
-e git+https://github.com/okfde/froide-payment.git@main#egg=froide-payment
-e git+https://github.com/okfde/froide-crowdfunding.git@main#egg=froide-crowdfunding
-e git+https://github.com/okfde/froide-govplan.git@main#egg=froide-govplan
-e git+https://github.com/stefanw/django-contractor.git@main#egg=django-contractor
-e git+https://github.com/stefanw/djangocms-sortabletable.git@main#egg=sortabletable
-e git+https://github.com/OpenLegalTech/django-legal-advice-builder.git@main#egg=django_legal_advice_builder
-e git+https://github.com/okfde/fcdocs-annotate.git@main#egg=fcdocs_annotate
