celery>=5.2.2
cryptography
pyopenssl>=22.0.0
channels
coreapi
dj-database-url
django-admin-sortable2>=2.1.6
django-celery-beat>=2.5.0
django-celery-email
django-cms==4.1.0rc3
django-configurations
django-contractor
django-contrib-comments
django-crossdomainmedia
django-elasticsearch-dsl>=8.0,<9.0
django-filer>=2.2.4
django-filingcabinet
django-filter
django-floppyforms
django-json-widget
django-leaflet
django-logentry-admin
django-mfa3
django-oauth-toolkit<2.0.0
django-parler
django-sekizai>=4.1.0
django-storages
django-taggit
django-treebeard
Django>=4.2
# TODO: remove after CMS migration
-e git+https://github.com/stefanw/djangocms-4-migration.git@fds-migration#egg=djangocms-4-migration
djangocms-alias>=2.0.0
djangocms-audio
djangocms-frontend>=1.1.1
djangocms-link>=3.1.0
djangocms-icon
djangocms-picture
djangocms-text-ckeditor>=5.1
djangocms-versioning>=2.0.0
djangocms-video
djangorestframework>=3.14.0
djangorestframework-csv
djangorestframework-jsonp
elasticsearch-dsl>=8.0.0<9.0.0
elasticsearch<9.0.0,>=8.0.0
geoip2
html-text
icalendar
jsonschema
lxml>=4.6.5
markdown
num2words
numpy>=1.21
openpyxl
pandas
pgpy>=0.6.0
phonenumbers
Pillow>=9.0.0
pikepdf==7.0.0
psycopg[binary]>=3.1.9
# pygtail>=0.14.0
-e git+https://github.com/okfde/pygtail.git@dac8bc6fc8d65c7ac820806e570242919616e946#egg=pygtail
pyisemail
pypdf
python-magic
python-mimeparse
python-slugify
reportlab
requests
sentry-sdk
stripe
torch
torchvision
unidecode
Wand
WeasyPrint
webp
websockets
xlrd

-e git+https://github.com/okfde/django-amenities.git@main#egg=django-amenities
-e git+https://github.com/okfde/froide.git@main#egg=froide
-e git+https://github.com/okfde/froide-campaign.git@main#egg=froide-campaign
-e git+https://github.com/okfde/froide-food.git@main#egg=froide-food
-e git+https://github.com/okfde/froide-fax.git@main#egg=froide-fax
-e git+https://github.com/okfde/froide-legalaction.git@main#egg=froide-legalaction
-e git+https://github.com/okfde/froide-exam.git@main#egg=froide-exam
-e git+https://github.com/okfde/django-filingcabinet.git@main#egg=django-filingcabinet
-e git+https://github.com/okfde/froide-payment.git@main#egg=froide-payment
-e git+https://github.com/okfde/froide-crowdfunding.git@main#egg=froide-crowdfunding
-e git+https://github.com/okfde/froide-govplan.git@main#egg=froide-govplan
-e git+https://github.com/stefanw/django-contractor.git@main#egg=django-contractor
-e git+https://github.com/stefanw/djangocms-sortabletable.git@main#egg=sortabletable
-e git+https://github.com/fragdenstaat/django-legal-advice-builder.git@main#egg=django_legal_advice_builder
-e git+https://github.com/okfde/fcdocs-annotate.git@main#egg=fcdocs_annotate
