-r requirements.in
black>=22.1.0
Sphinx
django-debug-toolbar>=3.2.1
coverage
factory-boy
faker
flake8
flake8-bugbear
mccabe
mock
pbr
pre-commit
pycodestyle
pyflakes
pytest-django
pytest-factoryboy
pytest-playwright
django-coverage-plugin
tblib
time-machine
honcho
ipdb
ipython>=7.31.1
isort
pywatchman
