-r requirements.in
Sphinx
django-debug-toolbar>=3.2.1
coverage
factory-boy
faker
mock
pbr
pre-commit
pycodestyle
pyflakes
pytest-django
pytest-factoryboy
pytest-playwright
django-coverage-plugin
tblib
time-machine
honcho
ipdb
ipython>=7.31.1,<8
pywatchman
