amqp==2.2.2
anyjson==0.3.3
billiard==3.5.0.3
celery==4.1.0
celery-haystack==0.10
certifi==2017.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.4.2
django==1.11.9
django-appconf==1.0.2
django-cache-url==2.0.0
django-celery-email==2.0.0
django-configurations==2.0
django-contrib-comments==1.8.0
django-filter==1.1.0
django-floppyforms==1.7.0
django-fsm==2.6.0
django-haystack==2.7.dev0
django-markdown-deux==1.0.5
django-oauth-toolkit==1.0.0
django-overextends==0.4.3
django-storages==1.6.5
django-taggit==0.22.2
django-tinymce==2.7.0
# until https://github.com/django-treebeard/django-treebeard/pull/91 resolved
-e git+git://github.com/stefanw/django-treebeard.git@deploy#egg=django-treebeard
djangorestframework==3.7.7
honcho==1.0.1
idna==2.6
itypes==1.1.0
jinja2==2.10
jsonfield==2.0.2
kombu==4.1.0
markdown==2.6.11
markdown2==2.3.5
markupsafe==1.0
oauthlib==2.0.6
pillow==5.0.0
psycopg2==2.7.3.2
pypdf2==1.26.0
python-magic==0.4.15
python-mimeparse==1.6.0
pytz==2017.3
raven==6.4.0
reportlab==3.4.0
requests==2.18.4
six==1.11.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
wand==0.4.4
-e git+git://github.com/okfde/froide.git@master#egg=froide
-e git+git://github.com/okfde/froide-campaign.git@master#egg=froide-campaign
-e git+git://github.com/okfde/froide-legalaction.git@master#egg=froide-legalaction
