{% load i18n %}
{% load humanize %}
{% load static %}
{% with last_donation=recurrence.last_donation %}
    <div class="border border-2 border-callout p-3 tight-margin vstack gap-2">
        <div>
            <strong>
                {% if donation.amount.as_integer_ratio.1 == 1 %}
                    {{ donation.amount|floatformat:0|intcomma }}
                {% else %}
                    {{ donation.amount|intcomma }}
                {% endif %}
                Euro
            </strong>
        </div>
        {% if donation.payment %}
            <div {% if donation.payment.status_color %}class="text-{{ donation.payment.status_color }}"{% endif %}>
                <i class="fa fa-{{ donation.payment.status_icon }}" aria-hidden="true"></i>
                {{ donation.payment.get_status_display }}
            </div>
        {% else %}
            {% if donation.received_timestamp %}
                <div class="text-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% trans "Confirmed" %}
                </div>
            {% else %}
                <div class="text-warning">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {% trans "Pending" %}
                </div>
            {% endif %}
        {% endif %}
        {% if donation.purpose %}
            <div>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                {{ donation.purpose }}
            </div>
        {% endif %}
        <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ donation.timestamp|date:"DATE_FORMAT" }}
        </div>
        <div class="hstack gap-2">
            {% if donation.icon %}
                <img src=" {% static "img/"|add:donation.icon %} " alt="" class="payment-icon">
            {% endif %}
            <div>
                <span>{{ donation.get_method_display }}</span>
                {% if donation.last4 %}
                    <span>
                        (<span aria-hidden="true" class="user-select-none">⋅⋅⋅⋅ ⋅⋅⋅⋅ ⋅⋅⋅⋅</span>
                        <span class="visually-hidden">{% translate "Last four digits" %}:</span>
                        {{ donation.last4 }})
                    </span>
                {% endif %}
            </div>
        </div>
        {% if recurrence.is_banktransfer %}
            <p>{% translate "You can adjust your donation by changing your standing order." %}</p>
        {% elif recurrence.subscription %}
            <ul class="list-unstyled">
                <li>
                    <a class="action-link arrow"
                       href="{{ recurrence.subscription.get_absolute_url }}">{% translate "Adjust amount or interval" %}</a>
                </li>
                <li>
                    <a class="action-link arrow"
                       href="{{ recurrence.subscription.get_absolute_url }}">{% translate "Pause or cancel your subscription" %}</a>
                </li>
            </ul>
        {% elif recurrence.is_paypal %}
            <p>{% translate "You can change or cancel your PayPal subscription in your PayPal account." %}</p>
            <a href="https://www.paypal.com/billing/subscriptions"
               target="_blank"
               class="action-link arrow">{% translate "Manage your PayPal subscriptions" %}</a>
        {% endif %}
    </div>
{% endwith %}
