{% extends "fds_donation/base.html" %}
{% load i18n form_helper %}
{% block title %}
    {% translate "Update your donation" %}
{% endblock %}
{% block app_body %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>{% translate "Create a new donation" %}</h3>
            {% if recurrences %}
                <div class="alert alert-warning">
                    <p>{% translate "Please note that you currently have the following recurring donations active:" %}</p>
                    <ul>
                        {% for recurrence in recurrences %}
                            <li>
                                {{ recurrence.get_description }}
                                (<a href="{{ recurrence.get_absolute_url }}">{% translate "Details / Cancel" %}</a>)
                            </li>
                        {% endfor %}
                    </ul>
                    <p>{% translate "You can adjust the amount or frequency of your recurring donation on the detail page." %}</p>
                    <p>
                        {% translate "If you want to change the payment method, please cancel your recurring donation and create a new one here." %}
                    </p>
                </div>
            {% endif %}
            <form action="{{ form.action }}" method="POST" class="donation-form">
                {% csrf_token %}
                {{ form.form_settings }}
                {{ form.reference }}
                {{ form.keyword }}
                {{ form.form_url }}
                {{ form.query_params }}
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="row">
                            <div class="col-12">{% render_field field stacked=True %}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% translate "Donate" %}</button>
                <a href="{{ object.get_absolute_url }}"
                   class="btn btn-secondary text-end">{% translate "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
