{% extends "fds_donation/base_minimal.html" %}
{% load i18n form_helper %}
{% block title %}
    {% translate "Update your donation" %}
{% endblock %}
{% block app_body %}
    <div class="row justify-content-center">
        <div class="col-8">
            {% if has_donation %}
                <h3>{% translate "Create a new donation" %}</h3>
            {% else %}
                <h3>{% translate "Donate now" %}</h3>
            {% endif %}
            {% if recurrences %}
                <div class="alert alert-warning">
                    <p>{% translate "Please note that you currently have the following recurring donations active:" %}</p>
                    <ul>
                        {% for recurrence in recurrences %}
                            <li>
                                <p>
                                    <strong>{{ recurrence.get_description }}</strong>
                                    <br />
                                    {% if recurrence.is_banktransfer %}
                                        {% translate "Change this or cancel with your bank." %}
                                    {% elif recurrence.subscription %}
                                        <a href="{{ recurrence.subscription.get_absolute_url }}">{% translate "Details / Cancel" %}</a>
                                    {% elif recurrence.is_paypal %}
                                        {% translate "This Paypal subscription is not managed by us. You can change or cancel your PayPal subscription in your PayPal account." %}
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                    <p>
                        {% translate "If you want to change the payment method, please cancel your recurring donation and create a new one here." %}
                    </p>
                </div>
            {% endif %}
            <dl class="mb-0">
                <dt>{% translate "Name" %}:</dt>
                <dd>
                    {{ donor.get_full_name }}
                </dd>
                <dt>{% translate "Email" %}:</dt>
                <dd>
                    {{ donor.email }}
                </dd>
                {% if donor.company_name %}
                    <dt>{% translate "Company" %}:</dt>
                    <dd>
                        {{ donor.company_name }}
                    </dd>
                {% endif %}
                {% if donor.address %}
                    <dt>{% translate "Address" %}:</dt>
                    <dd>
                        <pre>{{ donor.get_full_address }}</pre>
                    </dd>
                {% endif %}
            </dl>
            <p class="mt-n2">
                <a href="{{ donor.get_absolute_change_url }}">{% translate "Update these details" %}</a>
            </p>
            <form action="{{ form.action }}" method="POST" class="donation-form">
                {% csrf_token %}
                {{ form.form_settings }}
                {{ form.reference }}
                {{ form.keyword }}
                {{ form.form_url }}
                {{ form.query_params }}
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="row">
                            <div class="col-12">{% render_field field stacked=True %}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% translate "Donate" %}</button>
                {% if has_donation %}
                    <a href="{{ object.get_absolute_url }}"
                       class="btn btn-secondary text-end">{% translate "Cancel" %}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
