{% extends "fds_donation/base.html" %}
{% load i18n %}
{% load cms_tags %}
{% block title %}
    {% translate "Your donation" %}
{% endblock %}
{% block extra_head %}<meta name="robots" content="noindex" />{% endblock %}
{% block body %}
    <div class="text-bg-yellow-200">
        <div class="container py-3">
            <h1>{% translate "Thank you for your support!" %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="border border-2 border-yellow-300 text-bg-body p-3 mt-n3 col-lg-6 col-md-8 d-flex flex-column">
            {% if object.can_receive_receipt %}
                <p>{% translate "You will receive a donation receipt at the start of each year via e-mail." %}</p>
                <a href="{% url "fds_donation:donor-change" %}"
                   class="action-link arrow">{% trans "Update personal data for receipts" %}</a>
            {% else %}
                <p>{% trans "You currently do not receive donation receipts." %}</p>
                <a href="{% url "fds_donation:donor-change" %}"
                   class="action-link arrow">{% trans "Enter personal data for donation receipts" %}</a>
            {% endif %}
            {% page_url "help:donations" as help_donations_url %}
            <a href="{{ help_donations_url }}" class="action-link arrow">{% trans "Frequent questions & contact" %}</a>
        </div>
    </div>
    {% if donation_downloads %}
        <section class="container mt-5">
            <h2>{% trans "Downloads" %}</h2>
            <ul class="list-unstyled vstack gap-3">
                {% for title, url in donation_downloads %}
                    <li>
                        <a class="btn btn-primary" target="_blank" href="{{ url }}"><i class="fa fa-download" aria-hidden="true"></i> {{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    {% if pending_banktransfers %}
        <section class="container my-5">
            <h2>{% trans "Pending banktransfers" %}</h2>
            <div class="alert alert-info" role="alert">
                {% translate "The status of donations made by bank transfer is updated at the beginning of the following month, as account statements are only reconciled then." %}
            </div>
            <ul class="list-unstyled vstack gap-3">
                {% for donation in pending_banktransfers %}
                    <li class="border border-2 border-callout p-3">
                        {% if donation.order.is_recurring %}
                            <p>
                                <strong>{% translate "Please set up a standing order" %}</strong>
                            </p>
                        {% endif %}
                        {% include "fds_donation/includes/banktransfer_instructions.html" with order=donation.order %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    {% if recurrences %}
        <section class="container my-5">
            <h2>
                {% blocktrans count n=recurrences|length  %}Your recurring donation{% plural %}Your recurring donations{% endblocktrans %}
            </h2>
            <div class="row row-cols-1 row-cols-md-2 g-3">
                {% for recurrence in recurrences %}
                    <div class="col d-flex">{% include "fds_donation/includes/recurrence.html" with recurrence=recurrence %}</div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <div class="container">
        <div class="border border-2 border-yellow-300 text-bg-body p-3 mt-3 col-lg-6 col-md-8 d-flex flex-column">
            <a class="btn btn-primary action-link arrow"
               href="{% url 'fds_donation:donor-donate' %}">{% translate "Add another donation" %}</a>
        </div>
    </div>
    <section class="container my-5">
        <h2>{% translate "All transactions" %}</h2>
        <div class="table-responsive">
            <table class="table table-hover no-hyphens text-nowrap">
                <thead>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Purpose" %}</th>
                    <th>{% trans "Payment method" %}</th>
                    <th>{% trans "Status" %}</th>
                </thead>
                <tbody class="align-middle">
                    {% for donation in donations %}
                        <tr>
                            {% with last_donation=recurrence.last_donation %}
                                <td>{{ donation.timestamp|date:"DATE_FORMAT" }}</td>
                                <td class="text-end">{{ donation.amount }} Euro</td>
                                <td>{{ donation.purpose }}</td>
                                <td>{% include "fds_donation/includes/payment_method.html" with donation=donation %}</td>
                                <td>
                                    {% if donation.payment %}
                                        <div {% if donation.payment.status_color %}class="text-{{ donation.payment.status_color }}"{% endif %}>
                                            <i class="fa fa-{{ donation.payment.status_icon }}" aria-hidden="true"></i>
                                            {{ donation.payment.get_status_display }}
                                        </div>
                                    {% elif donation.received_timestamp %}
                                        <div class="text-success">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {% trans "Confirmed" %}
                                        </div>
                                    {% else %}
                                        <div class="text-warning">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            {% trans "Pending" %}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section class="container my-5">
    {% if donor.user and request.user.is_authenticated and not request.user.password %}
        <section class="container my-5">
            {% include "account/includes/set_password_now.html" %}
        </section>
    {% endif %}
    {% if request.user != donor.user %}
        <div class="container my-5">
            <form action="{% url 'fds_donation:donor-logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">{% translate "Log out of this donor profile" %}</button>
            </form>
        </div>
    {% endif %}
{% endblock body %}
