{% extends "fds_donation/base.html" %}
{% load i18n %}
{% load cms_tags %}
{% block title %}
    {% translate "Your donation" %}
{% endblock %}
{% block extra_head %}<meta name="robots" content="noindex" />{% endblock %}
{% block body %}
    <div class="text-bg-yellow-200">
        <div class="container py-3">
            <h1>{% translate "Thank you for your support!" %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="border border-2 border-yellow-300 text-bg-body p-3 mt-n3 col-md-6 d-flex flex-column">
            <a href="{{ object.get_absolute_change_url }}" class="action-link arrow">{% trans "Update personal data" %}</a>
            <a href="{% page_url "help:donations" %}" class="action-link arrow">{% trans "Frequent questions & contact" %}</a>
        </div>
    </div>
    {% comment %} {% if last_donation and last_donation.payment.variant == 'banktransfer' %}
        <div class="mt-5 mb-5">
            {% include "fds_donation/includes/banktransfer.html" with payment=last_donation.payment order=last_donation.payment.order %}
        </div>
    {% endif %} {% endcomment %}
    {% if recurrences %}
        <section class="container mt-5">
            <h2>
                {% blocktrans count n=recurrences|length  %}Your recurring donation{% plural %}Your recurring donations{% endblocktrans %}
            </h2>
            <div class="row row-cols-md-2 g-3">
                {% for recurrence in recurrences %}
                    <div class="col d-flex">{% include "fds_donation/_recurrence.html" with recurrence=recurrence %}</div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section class="container mt-5">
        <h2>{% translate "All transactions" %}</h2>
        {% if has_pending %}
            <div class="alert alert-info" role="alert">
                {% translate "The status of donations made by bank transfer is updated at the beginning of the following month, as account statements are only reconciled then." %}
            </div>
        {% endif %}
        <div class="row row-cols-md-2 g-3">
            {% for donation in donations %}
                <div class="col d-flex">{% include "fds_donation/_transaction.html" with donation=donation %}</div>
            {% endfor %}
        </div>
    </section>
    {% if donor.user and request.user.is_authenticated and not request.user.password %}
        <section>
            {% include "account/includes/set_password_now.html" %}
        </section>
    {% endif %}
{% endblock body %}
