{% load i18n %}
{% load cms_tags %}
{% load sekizai_tags %}
{% load frontendbuild %}
{% load cookie_consent_tags %}
{% load video_player_tags %}
{% url 'cookie_consent_status' as status_url %}
{% url "cookie_consent_cookie_group_list" as manage_cookies %}
{% url "cookie_consent_accept" varname="youtube" as accept_url %}
{% url "cookie_consent_decline" varname="youtube" as decline_url %}
{% if instance.embed_link %}
    {# show iframe if embed_link is provided #}
    <div class="cookie-consent"
         data-status-url="{{ status_url }}"
         data-cookie-group="youtube"
         data-accept-url="{{ accept_url }}"
         data-decline-url="{{ decline_url }}">
        <template class="cookie-consent__content">
            <div class="ratio ratio-{{ instance.attributes.ratio|default:"16x9" }}">
                <iframe data-consent-src="{{ instance.embed_link }}" {{ instance.attributes_str }} frameborder="0" allowfullscreen="true" allow="encrypted-media; picture-in-picture"></iframe>
            </div>
        </template>
        <template class="cookie-consent__message">
            <div class="ratio ratio-{{ instance.attributes.ratio|default:"16x9" }} position-relative">
                {% include "djangocms_video/default/_embed_thumbnail.html" with picture=instance.poster %}
                <div class="d-flex flex-column align-items-center justify-content-center text-md-center p-3 p-md-5 {% if instance.poster %}text-bg-gray-900 bg-opacity-90{% else %}text-bg-body-tertiary{% endif %}">
                    {% page_url "privacy-policy" as privacy %}
                    <h3 class="visually-hidden">{% trans "Consent for YouTube video embed" %}</h3>
                    <p>
                        {% with direct_url=instance.embed_link|youtube_url %}
                            {% blocktrans with direct_url=direct_url %}To show you a YouTube video, we need your consent. By clicking on “Accept”, <a href="{{ direct_url }}" target="_blank">the video</a> will be loaded and played, resulting in a data transfer to YouTube.{% endblocktrans %}
                        {% endwith %}
                    </p>
                    <div class="hstack gap-2 justify-content-center">
                        <button type="button" class="btn btn-primary cookie-consent__accept">{% translate "Accept" %}</button>
                        <a href="{{ privacy }}" class="btn btn-light">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>
        </template>
        <template class="cookie-consent__declined">
            <div class="ratio ratio-{{ instance.attributes.ratio|default:"16x9" }} position-relative">
                {% include "djangocms_video/default/_embed_thumbnail.html" with picture=instance.poster %}
                <div class="d-flex flex-column align-items-center justify-content-center text-md-center p-3 p-md-5 {% if instance.poster %}text-bg-gray-900 bg-opacity-90{% else %}text-bg-body-tertiary{% endif %}">
                    <p>
                        {% blocktrans with manage_cookies=manage_cookies %}You have chosen to not show YouTube videos on our site. <a href="{{ manage_cookies }}">Change cookie preferences</a>{% endblocktrans %}
                    </p>
                    <a href="{{ instance.embed_link|youtube_url }}"
                       class="btn btn-primary"
                       target="_blank">{% trans "Watch on YouTube" %} <i class="fa fa-external-link"></i></a>
                </div>
            </div>
        </template>
    </div>
{% else %}
    {# render <source> or <track> plugins #}
    <video {{ instance.attributes_str }} {% if instance.poster %}poster="{{ instance.poster.url }}"{% endif %}>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% trans "Your browser doesn't support this video format." %}
    </video>
{% endif %}
{% comment %}
    # Available variables:
    {{ instance.template }}
    {{ instance.label }}
    {{ instance.embed_link }}
    {{ instance.poster }}
    {{ instance.attributes_str }}
{% endcomment %}
{% addtoblock "js" %}
{% if instance.embed_link %}
    {% include "_frontend.html" with entry_point="consentbanner.js" %}
{% endif %}
{% endaddtoblock %}
