{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Newsletter" %}{% endblock title %}</title>

{% block header %}
{% endblock header %}

{% block top_block %}{% endblock %}

{% block navbar %}
  {% include "header_reduced.html" %}
{% endblock %}

{% block body_wrapper %}
  <main class="main">

    {% block index_banner %}{% endblock %}
    {% block foisite_advice %}{% endblock %}

    {% block messages %}
      {% include "snippets/messages.html" %}
    {% endblock messages %}

    <div class="container mb-5 mt-3">
      {% block body %}{% endblock %}
    </div>
  </main>
{% endblock %}