{% extends "cms/page.html" %}
{% load thumbnail %}
{% load cms_tags %}
{% load i18n %}
{% block meta %}
    <meta property="og:title" content="{{ event.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ event.get_absolute_domain_url }}" />
    <meta name="description" content="{{ event.description }}" />
    <meta property="og:description" content="{{ event.description }}" />
    {% if event.image %}
        <meta property="og:image"
              content="{% thumbnail event.image 1200x630 crop subject_location=event.image.subject_location %}" />
    {% endif %}
{% endblock meta %}
{% block title %}{{ event.title }} – {{ SITE_NAME }}{% endblock %}
{% block body %}
    {% include "snippets/breadcrumbs.html" %}
    <div class="text-bg-blue-10 py-3 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12{% if event.image %} col-md-6 col-lg-8{% endif %}">
                    <h1>{{ event.title }}</h1>
                    <p class="lead">{{ event.description|linebreaksbr }}</p>
                </div>
                {% if event.image %}
                    <div class="col-12 col-md-6 col-lg-4 pb-3">
                        <img src="{% thumbnail event.image 1200x630 crop subject_location=event.image.subject_location %}"
                             alt="{{ event.image.default_alt_text }}"
                             class="img-fluid" />
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-3 p-md-5 pb-md-4 border-blue shadow-blue mt-n3 mt-md-n5 bg-body">
            <div class="row">
                {% if event.location %}
                    <div class="col col-12 col-md-3">
                        <h2 class="h6">{% trans "Location" %}</h2>
                        <p>{{ event.location|linebreaksbr }}</p>
                    </div>
                {% endif %}
                <div class="col col-6 col-md-3">
                    <h2 class="h6">{% trans "Start" %}</h2>
                    <time datetime="{{ event.start_date|date:"c" }}">
                        {{ event.start_date | date:"DATETIME_FORMAT" }}
                    </time>
                </div>
                <div class="col col-6 col-md-3">
                    <h2 class="h6">{% trans "End" %}</h2>
                    <time datetime="{{ event.end_date|date:"c" }}">
                        {{ event.end_date | date:"DATETIME_FORMAT" }}
                    </time>
                </div>
                <div class="col col-12 col-md-3 mt-3 mt-md-0">
                    <a href="{{ event.get_ical_url }}"><i class="fa fa-download"></i> {% trans "Add to calendar" %}</a>
                    {% include "snippets/share_buttons.html" with text=event.title links=True url=event.get_absolute_domain_url copy_text=copy_text %}
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">{% render_placeholder event.content_placeholder %}</div>
{% endblock body %}
