{% load cms_tags %}
<li class="col col-12 col-md-4 d-flex mb-2">
    <div class="box-card border border-2 border-gray-300 p-3 w-100 position-relative">
        <p class="mb-2">
            <a href="{% url "fds_events:event-detail" event.slug %}"
               data-toggle-row
               class="action-link stretched-link">{{ event.title }}</a>
        </p>
        <div class="d-flex">
            <div style="width: 1rem;" class="text-center">
                <i class="flex-shrink-0 fa fa-calendar" aria-hidden="true"></i>
            </div>
            <time class="flex-grow-1 ms-2" datetime="{{ event.start_date|date:"c" }}">
                {{ event.start_date }}
            </time>
        </div>
        {% if event.short_location %}
            <div class="d-flex mt-2">
                <div style="width: 1rem;" class="text-center">
                    <i class="flex-shrink-0 fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <span class="flex-grow-1 ms-2">{{ event.short_location }}</span>
            </div>
        {% endif %}
        <hr />
        <p class="mb-0">{{ event.description }}</p>
    </div>
</li>
