{% load static %}<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex"/>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    .og-container {
      height: 100vh;
      width: 100vw;
    }
    .og-container h1 {
      font-size: 4rem;
    }
    .og-container h3 {
      font-size: 3rem;
    }
    .og-container p.lead {
      font-size: 2.2rem !important;
    }
    .og-container .fa {
      font-size: 2.5rem !important;
    }
  </style>
  {% block extra_style %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>