{% overextends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/fds-style.css" %}"/>
{% endblock %}

{% block additional_meta %}
<meta name="google-site-verification" content="upljx19ZJVGT73Sx1miWKLOWBKga4LQJ_hqFl0vhhJE" />
{% endblock %}

{% block top_block %}
<div class="donation-banner">
  <div class="container">
    <div class="row">
      <button type="button" id="close-donation" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <div class="col-lg-2 col-md-2 visible-lg visible-md">
        <a href="{% url 'help-donate' %}#stefan">
          <img title="Stefan Wehrmeyer betreibt FragDenStaat.de momentan alleine." src="{% static "img/donation_photo.jpg" %}" alt="Stefan Wehrmeyer" class="donation-image"/>
          <small class="visible-lg">Stefan Wehrmeyer, Betreiber</small>
          <small class="hidden-lg">Stefan Wehrmeyer</small>
        </a>
      </div>
      <div class="col-lg-10 col-md-10">
        <h3>Mit Ihrer Hilfe können wir 2014 FragDenStaat.de weiter betreiben</h3>
        <p>
          {% if user.is_authenticated %}<strong>Hallo {{ user.get_full_name }}!</strong>{% endif %}
          {# <a style="text-decoration:underline" href="{% url 'help-donate' %}">Die Antwort wird Sie überraschen!</a> #}
          Helfen Sie uns auch 2014 Dokumente zu befreien und Menschen zu helfen: <br/>
          Bitte spenden Sie für transparente Informationsfreiheit in Deutschland. <a style="text-decoration:underline" href="{% url 'help-donate' %}">Erfahren Sie mehr...</a>
        </p>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6">
            <a href="https://www.betterplace.org/de/projects/15469-fragdenstaat-de/donations/new" class="btn btn-success">
              <span class="glyphicon glyphicon-heart"></span>
              Spenden Sie jetzt über betterplace
            </a>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6">
            <a class="pull-right" href="https://flattr.com/thing/520066/FragDenStaat-de" target="_blank">
              <img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr FragDenStaat.de" title="Flattr FragDenStaat.de" border="0" />
            </a>
            <small>
              Konto: 3009670, BLZ: 830 944 95<br/>
              IBAN:&nbsp;DE89830944950003009670,&nbsp;BIC:&nbsp;GENODEF1ETK<br/>
              <a style="text-decoration:underline" href="{% url 'help-donate' %}#spenden">Mehr Optionen</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block navbar-class %}navbar-default navbar-fds{% endblock %}

{% block nav %}
  <ul class="nav navbar-nav">
    <li class="{% block nav_requests %}{% endblock %}">
      <a href="{% url 'foirequest-list' %}">{% blocktrans %}Requests{% endblocktrans %}</a>
    </li>
    <li>
      <a href="http://blog.fragdenstaat.de/">{% trans "Blog" %}</a>
    </li>
    <li class="special-nav-item {% block nav_makerequest %}{% endblock %}">
      <a href="{% url 'foirequest-make_request' %}"><span>{% blocktrans %}Make a Request!{% endblocktrans %}</span></a>
    </li>
  </ul>
{% endblock nav %}

{% block footer_menu_custom %}
<li>
  <a href="http://blog.fragdenstaat.de/">{% trans "Blog" %}</a>
</li>
<li>
  <a href="https://twitter.com/fragdenstaat">@fragdenstaat</a>
</li>
<li>
  <a href="http://lists.okfn.org/mailman/listinfo/fragdenstaat">
    {% trans "Mailinglist!" %}
  </a>
</li>
<li>
  <a href="{% url 'help-about' %}#impressum">{% trans "Impressum" %}</a>
</li>
<li>
  <a href="{% url 'publicbody-list' %}">{% blocktrans %}Public Bodies{% endblocktrans %}</a>
</li>
{% endblock %}

{% block footer_description %}
<p>
  FragDenStaat.de ist ein gemeinnütziges Projekt des <a href="http://www.okfn.de">Open Knowledge Foundation Deutschland e.V.</a><br/>
  Wenn Sie FragDenStaat.de unterstützen möchten, <a href="{% url 'help-donate' %}">freuen wir uns über Ihre Spende!</a>
</p>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% block donation_script %}
<script>
  $(function(){
    $('.donation-banner').show();
    $('#close-donation').click(function(){
      $('.navbar').removeClass('donation-top');
      $('.donation-banner').hide();
    })
  });
</script>
{% endblock %}
{% endblock %}

{% block tracking_code %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://fragdenstaat.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
{% endblock %}