{% overextends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/fds-style.css" %}"/>
{% endblock %}

{% block additional_meta %}
<meta name="google-site-verification" content="upljx19ZJVGT73Sx1miWKLOWBKga4LQJ_hqFl0vhhJE" />
{% endblock %}

{% block navbar-class %}navbar-default navbar-fds{% endblock %}

{% block top_block %}{% endblock %}

{% block nav %}
  <ul class="nav navbar-nav">
    <li class="{% block nav_requests %}{% endblock %}">
      <a href="{% url 'foirequest-list' %}">{% blocktrans %}Requests{% endblocktrans %}</a>
    </li>
    <li>
      <a href="http://blog.fragdenstaat.de/">{% trans "Blog" %}</a>
    </li>
    <li class="special-nav-item {% block nav_makerequest %}{% endblock %}">
      <a href="{% url 'foirequest-make_request' %}"><span>{% blocktrans %}Make a Request!{% endblocktrans %}</span></a>
    </li>
  </ul>
{% endblock nav %}

{% block footer_credits %}
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <p>
        FragDenStaat.de ist ein gemeinnütziges Projekt des <a href="http://www.okfn.de">Open Knowledge Foundation Deutschland e.V.</a>
        <br/>
        Unterstützt durch <a href="https://correctiv.org">CORRECT!V</a>. Wenn Sie FragDenStaat.de auch unterstützen möchten, <a href="{% url 'help-donate' %}">freuen wir uns über Ihre Spende!</a>
      </p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
      <a href="http://www.okfn.de">
        <img src="{% static "img/logos/okfde_small.png" %}" />
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
      <a href="https://correctiv.org">
        <img src="{% static "img/logos/correctiv_small.png" %}" alt="CORRECT!V"/>
      </a>
    </div>
  </div>
  <hr/>
{% endblock %}

{% block footer_menu_custom %}
<li>
  <a href="/presse/">Presse</a>
</li>
<li>
  <a href="https://twitter.com/fragdenstaat">FdS auf Twitter</a>
</li>
<li>
  <a href="http://lists.okfn.org/mailman/listinfo/fragdenstaat">
    {% trans "Join the Mailinglist!" %}
  </a>
</li>
<li>
  <a href="/impressum">Impressum</a>
</li>
{% endblock footer_menu_custom %}

{% block footer_below %}
  <hr/>
  <div class="row text-muted">
    <div class="col-lg-12">
      <p>
        Fragdenstaat nutzt statt den üblichen externen Dienstleistern die datenschutzfreundlichere Technologie von <a href="http://piwik.org/">Piwik</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wenn sie dies nicht wollen, <a href="https://fragdenstaat.de/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de">klicken Sie bitte hier und entfernen Sie den Haken</a>. Näheres in <a href="{% url 'help-privacy' %}">unserer Datenschutzerklärung</a>.
      </p>
    </div>
  </div>
  <script>
  (function (document) {
  	var body = document.getElementsByTagName('body')[0];
  	if (!body) return;
  	var b = document.createElement("div");
  	b.id = "datenschule_banner";
  	b.innerHTML =
  		'<a id="datenschule_banner_close" style="float:right; text-decoration: none !important;">X</a>'+
  		'Hilf dem Trägerverein von FragDenStaat.de! Unser Projekt <b>Datenschule</b> nimmt an der Google Impact Challenge teil. <a target="_blank" href="https://datenschule.de">Stimme ab auf datenschule.de!</a>'+
  		'<style>' +
  		'#datenschule_banner { text-align:center; z-index:99999999; padding:18px; margin: 0; border: 1px solid #ececec; position:fixed; right:4px;' +
  		'font-family: Montserrat, Arial; font-weight: normal; text-decoration: none; font-size: 16px; bottom:0; left:4px; color:#fff !important; background-color:#c63702 !important; } ' +
  		'#datenschule_banner a {  cursor:pointer; font-size: 16px; font-weight: bold; text-decoration: underline; margin: 0; padding: 0; color:#fff !important; } ' +
  		'#datenschule_banner a:hover,#datenschule_banner a:focus { color:#fffbca !important; } ' +
  		'</style>';
  	b.addEventListener("click", function () {
  		body.removeChild(b);
  		return true;
  	});
  	body.appendChild(b);
  })(document);
  </script>
{% endblock footer_below %}

{% block tracking_code %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://fragdenstaat.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
{% endblock %}
