{% extends "base.html" %}
{% load fds_cms_tags %}

{% block metadescription %}Das Portal für Informationsfreiheit für Bürger, Initiativen und Vereine. Stellen Sie eine IFG-Anfrage nach Behördendokumenten, die für Sie und Ihr Engagement wichtig sind! Informieren Sie sich über Informationsfreiheitsanfragen, IFG-Anfragen, IFG, Transparenz, Informationsfreiheitsgesetz, Behördeninformationen, Anfrage Stellen, Behörden, Open Data, Transparenzgesetz, Auskunftsrecht und vieles mehr!{% endblock metadescription %}

{% block top_block %}
  <div class="dropdown-wrapper">
    {% fds_static_placeholder "dropdown_banner" %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block below_scripts %}
  {% block tracking_code %}{% include "snippets/tracking.html" %}{% endblock %}
{% endblock %}
