{% overextends "footer.html" %}

{% block footer_credits %}
  <p class="footer__credits">
    FragDenStaat.de ist ein gemeinnütziges Projekt des <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>
    <br/>
    Bitte unterstützen Sie unsere Arbeit. <a href="/spenden/?pk_campaign=site-footer">Spenden Sie uns jetzt!</a>
  </p>
  <ul class="footer__networks">
    <li>
      <a href="https://twitter.com/fragdenstaat" target="_blank" rel="noopener">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/fragdenstaat.de" target="_blank" rel="noopener">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/okfde/fragdenstaat_de" target="_blank" rel="noopener">
        <i class="fa fa-github" aria-hidden="true"></i>
        <span class="sr-only">GitHub</span>
      </a>
    </li>
  </ul>
{% endblock %}


{% block footer_menu %}
<li>
  <a href="{% url 'help-about' %}">Über uns</a>
</li>
<li>
  <a href="{% url 'help-about' %}presse/">Presse</a>
</li>
<li>
  <a href="{% url 'help-about' %}impressum/">Impressum</a>
</li>
<li>
  <a href="{% url 'help-index' %}howto/">Hilfe</a>
</li>
<li>
  <a href="https://feeds.feedburner.com/detektorfm_frag-den-staat">
    Podcast
  </a>
</li>
<li>
  <a href="{% url 'help-privacy' %}">
    Daten&shy;schutz&shy;erklärung
  </a>
</li>
<li>
  <a class="footer__highlight" href="/spenden/">
    Spenden
  </a>
</li>
<li>
  <a href="http://lists.okfn.org/mailman/listinfo/fragdenstaat" target="_blank" rel="noopener">
    Mailing&shy;liste
  </a>
</li>
<li>
  <a href="{% url 'help-index' %}howto/nutzungsbedingungen">
    Nutzungs&shy;bedingun&shy;gen
  </a>
</li>

{% endblock %}

{% block footer_below %}
  <hr/>
  <div class="row small">
    <div class="col-lg-12">
      <p>
        Fragdenstaat nutzt statt den üblichen externen Dienstleistern die datenschutzfreundlichere Technologie von <a href="https://matomo.org">Matamo</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wenn sie dies nicht wollen, <a href="https://traffic.okfn.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de">klicken Sie bitte hier und entfernen Sie den Haken</a>. Näheres in <a href="{% url 'help-privacy' %}">unserer Datenschutzerklärung</a>.
      </p>
    </div>
  </div>
{% endblock footer_below %}
