{% extends "footer.html" %}

{% load static %}
{% load content_helper %}

{% block footer %}
  <div class="row mt-5">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 col-6">
          <h6>FragDenStaat</h6>
          <ul class="footer__menu">
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/blog/kategorie/exklusiv/">Recherchen</a>
            </li>
            <li>
              <a href="/plus/">Für Journalist:innen</a>
            </li>
            <li>
              <a href="/api/">Entwicklung &amp; API</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-4 col-6">
          <h6>Über uns</h6>
          <ul class="footer__menu">
            <li>
              <a href="/info/ueber/team/">Team</a>
            </li>
            <li>
              <a href="/info/ueber/finanzierung/">Finanzierung</a>
            </li>
            <li>
              <a href="/info/ueber/kampagnen/">Unsere Kampagnen</a>
            </li>
            <li>
              <a href="/info/ueber/klagen/">Unsere Klagen</a>
            </li>
            <li>
              <a href="/info/ueber/vorhaben/">Vorhaben 2020</a>
            </li>
            <li>
              <a href="/info/ueber/medien/">Presse & Medien</a>
            </li>
            <li>
              <a href="/kontakt/">Kontakt</a>
            </li>

          </ul>
        </div>

        <div class="col-md-4 col-6">
          <h6>Unterstützen</h6>
          <ul class="footer__menu">
            <li>
              <a href="/info/ueber/mitmachen/">Jobs &amp; Mitmachen</a>
            </li>
            <li>
              <a href="/shop/">Shop</a>
            </li>
            <li>
              <a class="footer__highlight" href="/spenden/?pk_campaign=site-footer&amp;pk_keyword={{ request.path | urlencode }}">
                Spenden
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-6">
          <h6>Informations&shy;freiheit</h6>
          <ul class="footer__menu">
            <li>
              <a href="/info/informationsfreiheit/einfuehrung/">Einführung</a>
            </li>
            <li>
              <a href="/info/informationsfreiheit/fristen-ablehnungen/">Fristen &amp; Ablehnungen</a>
            </li>
            <li>
              <a href="/info/informationsfreiheit/gebuehren/">Gebühren</a>
            </li>
            <li>
              <a href="/info/informationsfreiheit/widersprueche-klagen/">Widersprüche & Klagen</a>
            </li>
            <li>
              <a href="/info/informationsfreiheit/europaeische-union/">Europäische Union</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-6">
          <h6>Hilfe &amp; Support</h6>
          <ul class="footer__menu">
            <li>
              <a href="{% content_url 'help' %}">Hilfe</a>
            </li>
            <li>
              <a href="/hilfe/anfrage-ideen/">Ideen für Anfragen</a>
            </li>
            <li>
              <a href="/hilfe/einsteiger-guide/">Einsteiger-Guide</a>
            </li>
            <li>
              <a href="/hilfe/fuer-behoerden/">Infos für Behörden</a>
            </li>
            <li>
              <a href="https://forum.okfn.de/c/fragdenstaat" rel="noopener" target="_blank">Forum</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-4 col-6">
          <h6>Rechtliches</h6>
          <ul class="footer__menu">
            <li>
              <a href="/impressum/">Impressum</a>
            </li>
            <li>
              <a href="{% content_url 'terms' %}">Nutzungsbedingungen</a>
            </li>
            <li>
              <a href="{% content_url 'privacy' %}">Datenschutzerklärung</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 pr-lg-0 mt-4 mt-md-0">
      <div class="row">
        <div class="col-sm-6 col-md-12 order-1 mb-md-5">
          <ul class="footer__networks">
            <li>
              <a href="https://twitter.com/fragdenstaat" target="_blank" rel="noopener">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/fragdenstaat.de" target="_blank" rel="noopener">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/okfde/fragdenstaat_de" target="_blank" rel="noopener">
                <i class="fa fa-github" aria-hidden="true"></i>
                <span class="sr-only">GitHub</span>
              </a>
            </li>
            <li>
              <a href="https://detektor.fm/feeds/frag-den-staat" target="_blank" rel="noopener">
                <i class="fa fa-podcast" aria-hidden="true"></i>
                <span class="sr-only">Podcast</span>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/fragdenstaat" target="_blank" rel="noopener">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="sr-only">Instagram</span>
              </a>
            </li>
            <li>
              <a href="https://fragdenstaat.de/blog/feed/" target="_blank" rel="noopener">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <span class="sr-only">RSS</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=dw1hQlZP93Y&list=PL9h-RCl9wnxqmamDYOLpULDgNGNL_VLW_&index=2&t=0s" target="_blank" rel="noopener">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <span class="sr-only">Youtube</span>
              </a>
            </li>
          </ul>
          <h6>Newsletter abonnieren</h6>
          <div class="mb-3">
            {% include "fds_newsletter/plugins/newsletter_form.html" %}
          </div>
        </div>
        <div class="col-sm-6 col-md-12 order-2 mt-md-5">
          <a href="https://okfn.de" class="d-block" style="max-width: 250px">
            <img class="img-fluid" loading="lazy" src="{% static 'img/okfde.svg' %}" alt="Open Knowledge Foundation Deutschland"/>
          </a>
          <p class="footer__credits mt-3 small">
            FragDenStaat.de ist ein gemeinnütziges Projekt des <a href="https://okfn.de"><u>Open Knowledge Foundation Deutschland e.V.</u></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mt-3 mb-3 small text-muted">
    <div class="col-lg-12">
      <p>
        FragDenStaat nutzt statt der üblichen externen Dienstleister das selbstbetriebene und damit datenschutzfreundlichere
        <a class="text-muted" href="https://matomo.org"><u>Matomo</u></a>, um ohne Cookies statistische Auswertungen der Seitennutzung zu erhalten. Wenn Sie diese Zählung nicht wollen,
        <a class="text-muted" href="https://traffic.okfn.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de"><u>klicken Sie bitte hier und entfernen
        Sie den Haken</u></a>. Näheres in <a class="text-muted" href="/datenschutzerklarung/"><u>unserer Datenschutzerklärung</u></a>.
      </p>
    </div>
  </div>
{% endblock %}
