{% load i18n %}
{% load static %}
{% load content_helper %}


<header id="header" class="header container d-flex justify-content-between align-items-center pt-4 pt-md-5 pb-2">

  {% block nav_brand %}
  <div class="header__branding">
    <a href="/">
      {% block nav_brand_image %}<img src="{% static 'img/header_logo.svg' %}" class="header__logo" alt="">{% endblock %}
      <span class="sr-only sr-only-focusable">{% block nav_brand_name %}{{ SITE_NAME }}{% endblock %}</span>
    </a>
  </div>
  {% endblock %}

  <!-- Mobile menu -->
  <div class="drawer-menu d-flex d-md-none">

    <!-- Toggle button -->
    <button type="button" class="drawer-menu__toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <!-- Menu wrapper -->
    <nav class="drawer-menu__wrapper drawer-menu__wrapper--inital">

      <!-- User menu -->
      {% if user.is_authenticated %}
      <ul class="list-unstyled mb-0">
        <li class="py-3 px-3 bg-blue-800 text-white">
          <span class="d-block text-truncate">{{user.get_full_name}}</span>
          <small class="d-block text-truncate">{{user.email}}</small>
        </li>
        <li><a role="button" class="drawer-menu__link drawer-menu__link--blue" href="/account/">{% blocktrans %}Meine Anfragen{% endblocktrans %}</a></li>
        <li><a role="button" class="drawer-menu__link drawer-menu__link--blue" href="/spenden/spende/ihre-spenden/">{% blocktrans %}Meine Spenden{% endblocktrans %}</a></li>
        <li><a role="button" class="drawer-menu__link drawer-menu__link--blue" href="/account/settings/">{% blocktrans %}Einstellungen{% endblocktrans %}</a></li>
        <li>
          <form action="{% url 'account-logout' %}" method="post" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="drawer-menu__link drawer-menu__link--blue border-0">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span>{% blocktrans %}Abmelden{% endblocktrans %}</span>
            </button>
          </form>
        </li>
      </ul>
      {% endif %}

      <!-- Page Menu -->
      <ul class="list-unstyled mb-0 {% if not user.is_authenticated %}mt-3{% endif %}">
        <!-- Anfragen drawer-menu__dropdown -->
        <li>
          <a role="button" class="drawer-menu__link drawer-menu__link--white drawer-menu__dropdown-trigger" href="/anfragen/">
            <span>{% blocktrans %}Anfragen{% endblocktrans %}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>

          <ul class="list-unstyled mb-0 drawer-menu__dropdown-content">
            <li><a role="button" class="drawer-menu__link drawer-menu__link--white" href="/anfragen/">{% blocktrans %}Anfragen entdecken{% endblocktrans %}</a></li>
            <li><a role="button" class="drawer-menu__link drawer-menu__link--white" href="/anfrage-stellen/">{% blocktrans %}Anfrage stellen{% endblocktrans %}</a></li>
            <li><a role="button" class="drawer-menu__link drawer-menu__link--white" href="/hilfe/einsteiger-guide/">{% blocktrans %}Einsteiger-Guide{% endblocktrans %}</a></li>
          </ul>
        </li>
        <li><a role="button" class="drawer-menu__link drawer-menu__link--white" href="/info/ueber/kampagnen/">{% blocktrans %}Kampagnen{% endblocktrans %}</a></li>
        <li><a role="button" class="drawer-menu__link drawer-menu__link--white" href="/blog/kategorie/exklusiv/">{% blocktrans %}Recherchen{% endblocktrans %}</a></li>
        {% if not user.is_authenticated %}
        <li>
          <a role="button" class="drawer-menu__link drawer-menu__link--white" href="{% url 'account-login' %}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <span>{% blocktrans %}Sign in{% endblocktrans %}</span>
          </a>
        </li>
        {% endif %}
      </ul>

      <!-- Spenden CTA -->
      <p class="py-3 px-3">
        Ihnen gefällt unsere Arbeit? Unterstützen Sie uns mit einer Spende!<br>
        <a role="button" class="btn btn-outline-primary mt-2" href="/spenden/">{% blocktrans %}Jetzt spenden{% endblocktrans %}</a>
      </p>
      
    </nav>
    <div class="drawer-menu__backdrop"></div>
  </div>
  <!-- Mobile menu END -->

  <!-- Desktop/Tablet top-menu -->
  <nav class="top-menu d-none d-sm-none d-md-flex justify-content-between flex-lg-fill ml-md-4 ml-lg-5">
    <!-- left top-menu -->
    <ul class="top-menu__list">
      <li class="top-menu__listitem dropdown mr-md-3 mr-lg-4">
        <!-- Anfragen top-menu__dropdown -->
        <button type="button" class="top-menu__link dropdown-toggle" id="anfragenDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% blocktrans %}Anfragen{% endblocktrans %}
        </button>
        <div class="dropdown-menu top-menu--drop-left" aria-labelledby="anfragenDropdownMenu">
          <a role="button" class="dropdown-item top-menu__link" href="/anfragen/">{% blocktrans %}Anfragen entdecken{% endblocktrans %}</a>
          <a role="button" class="dropdown-item top-menu__link" href="/anfrage-stellen/">{% blocktrans %}Anfrage stellen{% endblocktrans %}</a>
          <a role="button" class="dropdown-item top-menu__link" href="/hilfe/einsteiger-guide/">{% blocktrans %}Einsteiger-Guide{% endblocktrans %}</a>
        </div>
      </li>
      <li class="top-menu__listitem mr-md-3 mr-lg-4">
        <a role="button" class="top-menu__link" href="/info/ueber/kampagnen/">{% blocktrans %}Kampagnen{% endblocktrans %}</a>
      </li>
      <li class="top-menu__listitem mr-md-3 mr-lg-0">
        <a role="button" class="top-menu__link" href="/blog/kategorie/exklusiv/">{% blocktrans %}Recherchen{% endblocktrans %}</a>
      </li>
    </ul>

    <!-- right top-menu -->
    <ul class="top-menu__list">
      <li class="top-menu__listitem">
        <a role="button" class="top-menu__link text-danger" href="/spenden/?pk_campaign=site-header&pk_keyword=/spenden/">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span>{% blocktrans %}Spenden{% endblocktrans %}</span>
        </a>
      </li>
      <li class="top-menu__listitem dropdown ml-md-3 ml-lg-4">
        {% if user.is_authenticated %}
          <button type="button" class="top-menu__link dropdown-toggle" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{{ user.first_name }}</span>
          </button>
          <div class="dropdown-menu top-menu--drop-right pt-0" aria-labelledby="userDropdownMenu">
            <div class="top-menu__usermenu py-3 px-3 mb-1">
              <span class="d-block text-truncate">{{user.get_full_name}}</span>
              <small class="d-block text-truncate">{{user.email}}</small>
            </div>
            <a role="button" class="dropdown-item top-menu__link" href="/account/">{% blocktrans %}Meine Anfragen{% endblocktrans %}</a>
            <a role="button" class="dropdown-item top-menu__link" href="/spenden/spende/ihre-spenden/">{% blocktrans %}Meine Spenden{% endblocktrans %}</a>
            <a role="button" class="dropdown-item top-menu__link" href="/account/settings/">{% blocktrans %}Einstellungen{% endblocktrans %}</a>
            <div class="dropdown-divider my-1"></div>
            <div class="dropdown-item">
              <form action="{% url 'account-logout' %}" method="post" class="form-inline">
                {% csrf_token %}
                <button type="submit" class="top-menu__link w-100">
                  {% blocktrans %}Abmelden{% endblocktrans %}
                </button>
              </form>
            </div>
          </div>
        {% else %}
          <a role="button" class="top-menu__link" href="{% url 'account-login' %}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{% blocktrans %}Sign in{% endblocktrans %}</span>
          </a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <!-- Desktop/Tablet top-menu END -->

</header>

