{% overextends "header.html" %}

{% load i18n %}
{% load static %}

{% block navbar-class %}navbar-fds{% endblock %}


{% block nav %}
<ul class="navbar-nav col-auto mr-auto">
  <li class="nav-item {% block nav_requests %}{% endblock %}">
    <a class="nav-link" href="{% url 'foirequest-list' %}">
      Angefragt
    </a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="http://blog.fragdenstaat.de/" target="_blank">
        Blog
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "help-about" %}">
        FAQ
      </a>
    </li>
    <li class="nav-item special-nav-item {% block nav_makerequest %}{% endblock %}">
      <a class="nav-link" href="{% url 'foirequest-make_request' %}">
        <span>{% blocktrans %}Make a Request!{% endblocktrans %}</span>
      </a>
    </li>
  </ul>
{% endblock nav %}
