{% overextends "header.html" %}

{% load i18n %}
{% load static %}

{% block navbar-class %}navbar-fds{% endblock %}


{% block nav %}
  <ul class="navbar-nav col-auto ml-auto">
    <li class="nav-item {% block nav_makerequest %}{% endblock %}">
      <a class="btn btn-primary" href="{% url 'foirequest-make_request' %}">
        Anfrage stellen
      </a>
    </li>
    <li class="nav-item {% block nav_requests %}{% endblock %}">
      <a class="nav-link" href="{% url 'foirequest-list' %}">
        Anfragen ansehen
      </a>
    </li>
  </ul>
{% endblock nav %}

{% block nav_secondary %}
<ul class="navbar-nav navbar-nav-secondary col-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'help-about' %}">
      {% trans "About" %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://blog.fragdenstaat.de/" target="_blank" rel="noopener">
      Blog
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url "help-index" %}">
      Hilfe
    </a>
  </li>
  <li class="nav-item special-nav-secondary-item">
    <a class="nav-link" href="{% url 'help-donate' %}">
      Spenden
    </a>
  <li>
</ul>
{% endblock nav_secondary %}
