{% overextends "index.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% comment %}
{% block index_banner %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-block">
          <div class="row">
            <div class="col-md-9 col-lg-9">
              {% trans "Like this? Consider supporting us!" %}
              <a href="{% url 'help-donate' %}" class="btn btn-xs btn-success">{% trans "Donate now!" %}</a>
            </div>
            <div class="col-md-2 col-lg-2">
              <a style="float:right" href="http://flattr.com/thing/520066/FragDenStaat-de" target="_blank">
                <img src="{% static "img/flattr-badge-large.png" %}" alt="{% trans "Flattr us!" %}" title="{% trans "Flattr us!" %}" border="0" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endcomment %}

{% block site_name %}{% endblock %}

{% block site_description %}
    <h2 id="wasist">
      Was ist FragDenStaat?
    </h2>
    <p>
      Jede Person hat das Recht auf Informationen. FragDenStaat hilft Ihnen, Ihr Recht wahrzunehmen.
    </p>
    <p>
      Fragen Sie über diese Plattform Behörden in Deutschland nach Informationen und Dokumenten!
    </p>
    <br>
{% endblock %}
{% block sendrequest-button %}
    <div class="input-group sendrequest">
    <input id="index-search"class="form-control col-lg-3" type="text" name="q" autocomplete="off" placeholder="Zum Beispiel: Schule oder NSA"/>
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                {% blocktrans %}Search For Information{% endblocktrans %}
            </button>
        </span>
    </div>
{% endblock sendrequest-button %}
{% block first_index_row %}
<div class="col-lg-5 col-md-5 foi-request">
  {% block first_index_row_search %}
    {{ block.super }}
  {% endblock %}
</div>
<div class="col-lg-7 col-md-7">
  {% block first_index_row_featured %}
    <div class="center video">
      <a href="https://vimeo.com/102604678" class="video-embed" data-url="//player.vimeo.com/video/102604678?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" data-class="col-video-7" data-aspect="1.77777778">
        <img src="{{ STATIC_URL }}img/video_fds.png" alt="Video FragDenStaat.de on Vimeo" class="img-responsive"/>
      </a>
    </div>
  {% endblock first_index_row_featured %}
</div>
{% endblock %}


{% block index_content_row %}
<div class="container-fluid animation">
  <div class="row-fluid threesteps">

    <h2 class="center">Wie funktioniert FragDenStaat?</h2>
    <div class="step col-md-4">
      <div class="line" id="line1"></div>

      <a href="{% url 'foirequest-make_request' %}">
        <div class="box center" title="Stellen Sie eine Anfrage!" id="box1">
          <p>Stellen Sie eine Anfrage. Wir leiten sie an die zuständige Behörde weiter.</p>
        </div>
        <div class="circle center" title="Stellen Sie eine Anfrage!" id="kreis1">
          <p>1</p>
        </div>
      </a>
    </div>
    <div class="step col-md-4">
      <div class="line" id="line2"></div>

      <a href="{% url 'foirequest-make_request' %}">
        <div class="box center" title="Stellen Sie eine Anfrage!" id="box2">
            <p>Sie erhalten eine Mail, sobald die Behörde auf Ihre Anfrage reagiert.</p>
        </div>
        <div class="circle center" title="Stellen Sie eine Anfrage!" id="kreis2">
          <p>2</p>
        </div>
      </a>
    </div>
    <div class="step col-md-4">
      <a href="{% url 'foirequest-make_request' %}">
        <div class="box center" title="Stellen Sie eine Anfrage!" id="box3">
            <p>Die Antwort ist für Sie und auch für andere öffentlich einsehbar</p>
        </div>
        <div class="circle center" title="Stellen Sie eine Anfrage!" id="kreis3">
          <p>3</p>
        </div>
      </a>
    </div>
  <div class="text-center">
    <button class="btn btn-primary btn-sm ifg-button center" href="#" role="button">Mehr Infos zum Informationsfreiheitsgesetz! <span aria-hidden="true">&rarr;</span></button>
  </div>
  </div> <!-- ende row -->
</div><!-- ende container -->

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <br><br>

        {% block index_sub_left %}
        {% if successful_foi_requests %}
  <h3>{% blocktrans %}Successful Requests{% endblocktrans %}</h3>
  <ul class="media-list">
    {% for object in successful_foi_requests %}
      <li class="media">
        {% include "foirequest/snippets/request_item.html" %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}

        {% endblock %}
      </div>

    <div class="col-lg-6 col-md-6">
      {% block index_sub_right %}
      <div class="">
      {% if featured %}
        <div class="frontpage-teaser">
          <br><br>
        <h3>
            <small>Neues aus dem Blog</small><br/>
            {{ featured.title }}
        </h3>
          <p>
            {{ featured.text|truncatewords:55|linebreaksbr }}
          </p>
          {% if featured.url %}
        <p>
          <a href="{{ featured.url }}">
            <span class="glyphicon glyphicon-bullhorn"></span>
            {% blocktrans %}Read the blog post{% endblocktrans %}
          </a>
        </p>
      {% endif %}
      {% if featured.request %}
        <p>
          <a href="{% url 'foirequest-show' slug=featured.request.slug %}">
            <span class="glyphicon glyphicon-envelope"></span>
            {% blocktrans %}Visit this request{% endblocktrans %}
          </a>
        </p>
      {% endif %}
    </div>
    {% else %}
        <div id="sample-letter" class="frontpage-teaser">{% blocktrans %}Freedom of Information Request

            To: Ministry of Interior

            Dear Sir or Madam,
            I request information about the following:
            ...{% endblocktrans %}
            <a class="make-request-icon" href="{% url 'foirequest-make_request' %}">{% blocktrans %}Write a Request Now!{% endblocktrans %}</a>
        </div>
    {% endif %}
    </div>
    {% if unsuccessful_foi_requests %}
  <h3>{% blocktrans %}Unsuccessful Requests{% endblocktrans %}</h3>
  <ul class="media-list">
    {% for object in unsuccessful_foi_requests %}
      <li class="media">
        {% include "foirequest/snippets/request_item.html" %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
    {% endblock %}
    </div>
    </div>
{% endblock %}

{% block index_requests_row %}
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
  $('.video-embed').click(function(e){
    e.preventDefault();
    var width = $(this).parent().width();
    var aspect = parseFloat($(this).data('aspect'));
    var height = Math.floor(width / aspect);
    $(this).replaceWith('<iframe src="' + $(this).data('url') + '" class="' + $(this).data('class') + '" frameborder="0" style="width:' + width + 'px;height:' + height + 'px" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>')
  });
</script>
<script>
  var pause = 3300;
  var motion = 400;
  var boxes = $('.box');
  var circles = $('.circle');
  var count = boxes.length;
  var i = -1;

  setTimeout(loop, pause);

  function loop () {
    switch (i) {
      case 0:
        $('#line1').addClass('is-active');
        break;
      case 1:
        $('#line2').addClass('is-active');
        break;
      default:
        $('.line').removeClass('is-active');
        boxes.removeClass('is-active');
        circles.removeClass('is-active');
        break;
    }

    if(++i > count){
       i=0;
    }

    boxes
      .removeClass('is-active')
      .eq(i).addClass('is-active');
    circles
      .eq(i).addClass('is-active');

    setTimeout(loop, pause);

  }
  </script>
{% endblock %}
