{% overextends "index.html" %}

{% load i18n %}
{% load static %}

{% block title %}FragDenStaat - Portal für Informationsfreiheit und Transparenz{% endblock %}

{% block site_name %}Was ist FragDenStaat?{% endblock %}

{% block site_description %}
  <p>
    Jede Person hat das Recht auf Informationen. FragDenStaat hilft Ihnen, Ihr Recht wahrzunehmen.
  </p>
  <p>
    Fragen Sie über diese gemeinnützige Plattform Behörden in Deutschland nach Informationen und Dokumenten!
  </p>
{% endblock %}

{% block example_search_terms_block %}{% endblock %}

{% block index-search-placeholder %}z.B. Schule oder NSA{% endblock %}



{% block first_index_row %}
<div class="col-lg-5 col-md-5">
  {% block first_index_row_search %}
    {{ block.super }}
  {% endblock %}
</div>
<div class="col-lg-7 col-md-7">
  {% block first_index_row_featured %}
    <div class="aspect-ratio video-embed-container">
      <a class="video-embed" href="https://vimeo.com/102604678" data-url="//player.vimeo.com/video/102604678?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
        <img src="{% static 'img/video_fds.jpg' %}" alt="Video FragDenStaat.de on Vimeo"/>
      </a>
    </div>
  {% endblock first_index_row_featured %}
</div>
{% endblock %}

{% block index_content_row %}
<div class="row-fluid">
  <div class="col-lg-12 well">
    <h2 class="text-center">Wie funktioniert FragDenStaat?</h2>
    <div class="row steps">

      <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
        <h3 class="step-number">1</h3>
        <div class="step-box" title="Stellen Sie eine Anfrage!">
          <p>Sie stellen eine Anfrage. Wir leiten diese an die zuständige Behörde weiter.</p>
        </div>
      </a>

      <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
        <h3 class="step-number">2</h3>
        <div class="step-box" title="Stellen Sie eine Anfrage!">
          <p>Sie erhalten eine Mail, sobald die Behörde auf Ihre Anfrage reagiert.</p>
        </div>
      </a>
      <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
        <h3 class="step-number">3</h3>
        <div class="step-box" title="Stellen Sie eine Anfrage!">
          <p>Die Antwort wird für Sie und auch für andere öffentlich einsehbar.</p>
        </div>
      </a>
    </div>
    <div class="text-center mt-3 mb-5">
      <p>
        <a href="/hilfe/ifg/">
          Mehr zum<br/>Informations&shy;freiheitsgesetz
        </a>
      </p>
    </div>
  </div>
</div> <!-- ende row -->

{% endblock %}

{% block index_requests_row %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      {% if successful_foi_requests %}
        <h4 class="card-header">
          {% blocktrans %}Successful Requests{% endblocktrans %}
        </h4>
        <div class="card-body">
          <ul class="list-unstyled">
            {% for object in successful_foi_requests %}
              <li class="media">
                {% include "foirequest/snippets/request_item.html" %}
              </li>
            {% endfor %}
          </ul>
          <p>
            <a class="btn btn-default" href="{% url "foirequest-list" %}">Weitere Anfragen</a>
          </p>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">
        Blog
      </h4>
      <div class="card-body">
        {% for object in featured %}
          <div class="teaser">
            <h5 class="teaser-title">
              <a href="{{ object.url }}">{{ object.title }}</a>
            </h5>
            <p>
              {{ object.text|truncatewords:55|linebreaksbr }}
            </p>
            {% if object.request %}
              <p>
                <a href="{% url 'foirequest-show' slug=object.request.slug %}">
                  <span class="glyphicon glyphicon-share-alt"></span>
                  {% blocktrans %}Visit this request{% endblocktrans %}
                </a>
              </p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_footer %}
<script type="text/javascript">
  document.querySelector('.video-embed').addEventListener('click', function (e) {
    e.preventDefault();
    this.parentNode.innerHTML = '<iframe src="' + this.dataset.url + '" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
  });
</script>
{% endblock %}
