{% overextends "foirequest/show.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block foirequest_explain_deadline %}
  <small>
    <a class="d-print-none" href="/hilfe/howto/fuer-behoerden/#frist">
      Wie wird das berechnet?
    </a>
  </small>
{% endblock %}

{% block request_action_menu_footer %}
  {% if object.can_be_escalated %}
    <li class="nav-item">
      <a href="#legalaction" data-toggle="pill" class="nav-link" role="tab" aria-controls="legalaction" aria-expanded="false">
        Jetzt klagen
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block request_action_pane_footer %}
  {# Legal Action #}
  {% if object.can_be_escalated %}
    <div class="tab-pane d-print-none" id="legalaction">
      {% include "froide_legalaction/includes/request_pane.html" with object=object %}
    </div>
  {% endif %}
{% endblock %}
