{% extends "foirequest/show.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% load foirequest_tags %}
{% load fax_tags %}
{% load fds_cms_tags %}


{% block foirequest_header %}
  {% if object.jurisdiction.slug == "berlin" %}
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <a target="_blank" rel="noopener" href="https://volksentscheid-transparenz.de/mitmachen/">
              <img class="w-100" src="https://media.frag-den-staat.de/files/media/main/01/2c/012c5fd6-ca09-4e3d-b0a7-3e9e0dc5cd08/01_transparentepolitik.png" alt="Transparenz Lupe"/>
            </a>
          </div>
          <div class="col-sm-10">
            <h3>
              Ein Transparenzgesetz für Berlin!
            </h3>
            <p>
              Unterstützen Sie den Volksentscheid für ein <a target="_blank" rel="noopener" href="https://volksentscheid-transparenz.de/mitmachen/">Transparenzgesetz in Berlin!</a>
            </p>
            <p class="text-right">
              <a target="_blank" rel="noopener" class="btn btn-lg btn-warning" href="https://volksentscheid-transparenz.de/mitmachen/">
                &rarr; ran an die Buletten!
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if object|can_write_foirequest:request and object|foirequest_needs_signature %}
    <div class="alert alert-warning">
      <h3>
        Schriftformerfordnis: Bitter hinterlegen Sie Ihre Unterschrift
      </h3>
      <div class="row">
        <div class="col-md-8">
          <p>
            Diese Anfrage nach dem {{ object.law.name }} muss in Schriftform erfolgen. Wir können für Sie ein Fax versenden, wenn Sie Ihre Unterschrift hinterlegen.
          </p>
        </div>
      </div>
      {% include "froide_fax/_signature_form.html" with form=request.user|get_signature_form:True foirequest=object next=request.get_full_path hide_explanation=True save_button="Unterschrift speichern und Fax versenden" %}
    </div>
  {% endif %}
{% endblock %}

{% block foirequest_explain_deadline %}
  <small>
    <a class="d-print-none" href="/hilfe/howto/fuer-behoerden/#frist">
      Wie wird das berechnet?
    </a>
  </small>
{% endblock %}

{% block request_action_menu_footer %}
  {% if object.costs and request.user.is_staff %}
  <li class="nav-item">
    <a href="#crowdfunding" data-toggle="pill" class="nav-link" role="tab" aria-controls="crowdfunding" aria-expanded="false">
      Crowdfunding (Alpha für Mods)
    </a>
  </li>
  {% endif %}

  {% if object.can_be_escalated and not "food:" in object.reference %}
    <li class="nav-item">
      <a href="#legalaction" data-toggle="tab" class="nav-link" role="tab" aria-controls="legalaction" aria-expanded="false">
        Jetzt klagen
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block request_action_pane_footer %}
  {# Crowdfunding #}
  {% if request.user.is_staff %}
  <div class="tab-pane d-print-none" id="crowdfunding">
    {% include "froide_crowdfunding/includes/request_pane.html" with object=object %}
  </div>
  {% endif %}

  {# Legal Action #}
  {% if object.can_be_escalated and not "food:" in object.reference %}
    <div class="tab-pane d-print-none" id="legalaction">
      {% include "froide_legalaction/includes/request_pane.html" with object=object %}
    </div>
  {% endif %}
{% endblock %}

{% block before_correspondence %}
  {% fds_static_placeholder "banner_ad" %}
  {% if request.user.is_staff %}
    {% include "froide_crowdfunding/includes/request_block.html" with object=object %}
  {% endif %}
  {# {{ block.super }} #}
{% endblock %}
