{% extends "djangocms_blog/base.html" %}
{% load i18n cms_tags %}
{% load markup %}
{% load static %}
{% load blog_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block meta %}
  {% include "djangocms_blog/includes/social_meta.html" with post=post %}
{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}">
  <div class="blog-header-container">
    <div class="row justify-content-center">
      <div class="post-item post-detail col-12">
        <header class="blog-header">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
              <time class="blog-header__date">
                {{ post.date_published|date:"DATE_FORMAT" }}
              </time>
              <h1 class="blog-header__title">
                {% render_model post "title" %}
              </h1>
              {% if post.abstract %}
                <div class="blog-lead mb-3">
                  {% render_model post "abstract" "" "" "safe" %}
                </div>
              {% endif %}
              {% if post.main_image_id %}
                {% include "djangocms_blog/includes/blog_picture_detail.html" with picture=post.main_image %}
              {% endif %}
              {% endspaceless %}
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  {% if post.app_config.use_placeholder %}
    <div class="blog-content">
      {% render_placeholder post.content %}
    </div>
  {% else %}
    <div class="blog-content">
      {% render_model post "post_text" "post_text" "" "safe" %}
    </div>
  {% endif %}

  {% static_placeholder "dropdown_banner" %}

  {% if post.author %}
    <div class="container">
      <div class="author-section">
        <div class="row justify-content-center pb-5 pt-5">
          <div class="col-xs-1 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block">
            {% if post.author.profile_photo %}
              <img class="img-circle" src="{{ post.author.profile_photo.url }}" alt="Bild des Autors">
            {% endif %}
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6 col-lg-5">
            <h4 class="author-title">
              <a href="{% url 'djangocms_blog:posts-author' post.author.username %}">
                {{ post.author.get_full_name }}
              </a>
            </h4>
            <div class="author-description">
              {{ post.author.profile_text | markdown }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</article>


<div class="donation-teaser">
  <div class="container col-xs-12 ">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-md-3 offset-md-1">
        <img class="col-md-12" src="{% static 'img/illustrations/donate.png' %}" alt="Spendenaufruf">
      </div>
      <div class="col-md-6">
        <h2 class="pb-3 pt-3">Unterstützen Sie unsere Arbeit!</h2>
        <p>
            Wir kämpfen für mehr Transparenz in Politik und Verwaltung! Spenden Sie uns! Damit unterstützen Sie unsere Kampagnen, Klagen und Recherchen.
        </p>
        <a href="/spenden/?pk_campaign=blog-footer&amp;pk_keyword={{ request.path | urlencode }}" class="teaser-button">
          Jetzt spenden!
        </a>
      </div>
    </div>
  </div>
</div>


{% with next_read=post|get_next_read %}
{% if next_read %}
  <div class="col-md-12 next-reads">
    <div class="container">
      <div class="row justify-content-center pb-5 pt-5">
        <div class="col-md-5">
          {% if next_read.main_image_id %}
             <a href="{{ next_read.get_absolute_url }}">{% include "djangocms_blog/includes/blog_picture.html" with picture=next_read.main_image %}</a>
          {% endif %}
        </div>
        <div class="col-md-5 next-reads__text">
          <h3 class="pt-3">
            <a href="{{ next_read.get_absolute_url }}">{{ next_read.title }}</a>
          </h3>
          <p>
            {% render_model next_read "abstract" "" "" "safe" %}
          </p>
          <p>
            <div class="cl-effect-10">
              <a href="{{ next_read.get_absolute_url }}" data-hover="&rarr;">
                zum Artikel
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endwith %}
{% endblock content_blog %}
