{% extends "fds_blog/_article_detail.html" %}
{% load i18n cms_tags %}
{% load blog_tags %}
{% block article_header %}
    <header class="blog-header article-header-video pb-5">
        {% render_placeholder article.header_placeholder %}
        <div class="blog-header-meta">
            <div class="container-lg py-5">
                <h1>
                    <span class="d-block fw-normal fs-5 mb-2">{{ article.kicker }}</span>
                    <span>{% render_model article "title" %}</span>
                </h1>
                {% if article.teaser %}
                    <div class="lead">{% render_model article "teaser" "" "" "safe" %}</div>
                {% endif %}
                <div class="mt-5">
                    {% with authors=article.get_authors %}
                        {% include "fds_blog/includes/_authors.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </header>
{% endblock article_header %}
