{% load i18n %}
{% load markup %}
{% load cookie_consent_tags %}
<div class="cookie-group">
    <div class="cookie-group-title">
        <h3>{{ cookie_group.name }}</h3>
        <p>{{ cookie_group.description|markdown }}</p>
        {% if not cookie_group.is_required %}
            <div class="cookie-group-form">
                {% if request|cookie_group_accepted:cookie_group.varname %}
                    <span class="cookie-consent-accepted">{% trans "Accepted" %}</span>
                {% else %}
                    <form class="cookie-consent-accept mb-2"
                          action="{% url "cookie_consent_accept" cookie_group.varname %}"
                          method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">{% trans "Accept" %}</button>
                    </form>
                {% endif %}
                {% if request|cookie_group_declined:cookie_group.varname %}
                    <span class="cookie-consent-declined">{% trans "Declined" %}</span>
                {% else %}
                    <form class="cookie-consent-decline"
                          action="{% url "cookie_consent_decline" cookie_group.varname %}"
                          method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary" type="submit">{% trans "Decline" %}</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
