{% load i18n %}
{% load static %}
<div class="design-container text-bg-body-tertiary text-body">
    <div class="container">
        <div class="py-5 row">
            <div class="col col-md-10 feedback">
                <h2>{% trans "[Feedback form heading]" context "Leichte Sprache" %}</h2>
                <p>{% trans "[Feedback form description]" context "Leichte Sprache" %}</p>
                <div id="contact-form-container"
                     data-form-url="{% url 'fds_easylang:contact' %}">
                    <button type="button" class="btn btn-primary" id="load-contact-form">{% trans "Open contact form" %}</button>
                </div>
                <script src="{% static 'js/contact_form.js' %}"></script>
            </div>
        </div>
    </div>
</div>
