{% load thumbnail %}
{% load i18n %}
{% load blog_tags %}
{% if authors %}
    <div class="hstack gap-3 align-content-center">
        {% if authors|has_author_images %}
            {# authors are also linked with text below, so spare screenreaders/keyboard nav #}
            <div class="blog-author-images" aria-hidden="true">
                {% for author in authors %}
                    {% if author.user.profile_photo %}
                        <a href="{{ author.get_absolute_url }}" tabindex="-1">
                            <img width="32"
                                 height="32"
                                 src="{% thumbnail author.user.profile_photo 64x64 %}"
                                 alt=""
                                 class="rounded-circle" />
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="d-md-flex flex-wrap align-items-center">
            <p class="m-0">
                {% trans "by" %}
                {% spaceless %}
                    {% for author in authors %}
                        <span itemscope="" itemtype="http://schema.org/Person">
                            {# needs to be like this so that there's no space before the comma #}
                            {# djlint:off #}
                            {% if author.get_absolute_url %}<a href="{{ author.get_absolute_url }}" rel="author" itemprop="url">{{ author.get_full_name }}</a>{% else %}{{ author.get_full_name }}{% endif %}{% if not forloop.last %},{% endif %}
                            {# djlint:on #}
                        </span>
                    {% endfor %}
                {% endspaceless %}
            </p>
            <span class="d-none d-md-inline">&nbsp;–&nbsp;</span>
            <p class="m-0">
                <time datetime="{{ article.start_publication|date:'c' }}">
                    {{ article.start_publication|date:"DATE_FORMAT" }}
                </time>
            </p>
        </div>
    </div>
{% endif %}
