{% load thumbnail %}
{% load i18n %}
{% if authors %}
    <div class="blog-authors">
        {# authors are also linked with text below, so spare screenreaders/keyboard nav #}
        <div class="blog-author-images mb-1 mb-md-0" aria-hidden="true">
            {% for author in authors %}
                {% if author.user.profile_photo %}
                    <a href="{{ author.get_absolute_url }}" tabindex="-1">
                        <img width="32"
                             height="32"
                             src="{% thumbnail author.user.profile_photo 64x64 %}"
                             alt=""
                             class="rounded-circle" />
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="blog-author-list">
            <p class="m-0">
                {% trans "by" %}
                {% spaceless %}
                    {% for author in authors %}
                        <span itemscope="" itemtype="http://schema.org/Person">
                            {# djlint:off #}
                <a href="{{ author.get_absolute_url }}" rel="author" itemprop="url">{{ author.get_full_name }}</a>{% if article.credits or not forloop.last %},{% endif %}
                            {# djlint:on #}
                        </span>
                    {% endfor %}
                    {{ article.credits }}
                {% endspaceless %}
            </p>
            <span class="d-none d-md-inline">–</span>
            <p class="m-0">
                <time datetime="{{ article.start_publication|date:'c' }}">
                    {{ article.start_publication|date:"DATE_FORMAT" }}
                </time>
            </p>
        </div>
    </div>
{% endif %}
