{% load i18n %}
{% load cms_tags %}
{# size can be sm, lg or xl, which will adjust the heading font size #}
{% with size=size|default:"lg" %}
    <div>
        {% if hide_date != True %}
            <div class="text-end small text-secondary">
                <time datetime="{{ article.start_publication|date:'c' }}">
                    {{ article.start_publication|date:"DATE_FORMAT" }}
                </time>
            </div>
        {% endif %}
        <h3 class="{% if size == "lg" %}h4{% elif size == "sm" %}h5{% endif %} mt-0 mb-2">
            {% if article.kicker %}
                <span class="d-block mb-1 text-body-secondary fw-normal fs-base hyphens-auto">{{ article.kicker }}<span class="visually-hidden">:</span></span>
            {% endif %}
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h3>
    </div>
    <div class="tight-margin">
        {% if article.query_highlight %}
            <p class="search-highlight">{{ article.query_highlight }}</p>
        {% elif article.teaser %}
            {% if not TRUNCWORDS_COUNT %}
                {% render_model article "teaser" "" "" "safe" %}
            {% else %}
                {% render_model article "teaser" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe" %}
            {% endif %}
        {% endif %}
    </div>
{% endwith %}
