<article class="investigation-article mx-auto">
  <div class="investigation-article__content mx-3 p-3">
  {% with tags=article.all_tags %}
    {% if tags %}
      <ul class="investigation-article__taglist list-unstyled d-flex text-blue-600 font-weight-bold mb-1">
      {% for tag in tags %}
        <li class="investigation-article__tag mr-2">#{{ tag.name }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <h3 class="h5 mt-0 mb-1">
    <a class="investigation-article__link" href="{{ article.get_absolute_url }}">
      {{ article.title }}
    </a>
  </h3>
  <div class="investigation-article__date">
    {{ article.start_publication|date:"DATE_FORMAT" }}
  </div>
</article>
