<article class="blog-article-item w-100 p-3 text-bg-body border border-2 border-gray-300">
    <h3 class="h5 mt-0 mb-1">
        {% if article.kicker %}
            <span class="d-block mb-1 text-body-secondary fw-normal fs-base hyphens-auto">{{ article.kicker }}</span>
        {% endif %}
        <a class="text-body" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </h3>
    <time datetime="{{ article.start_publication|date:"c" }}"
          class="text-body-secondary fw-semibold fs-sm">{{ article.start_publication|date:"DATE_FORMAT" }}</time>
</article>
