<article class="blog-article-item w-100 mx-auto">
    {% if article.image %}
        <a href="{{ article.get_absolute_url }}">
            {% include "fds_blog/includes/blog_picture.html" with picture=article.image columns="col-12 col-md-10 col-lg-8" %}
        </a>
    {% endif %}
    <div class="text-bg-body border border-2 border-gray-300 md:shadow-gray z-index-20 position-relative mx-1 mx-md-3 p-3 p-md-4 {% if article.image %}mt-n5{% endif %}">
        {% include "fds_blog/includes/_item_meta.html" %}
    </div>
</article>
