{% load markup %}
<figure>
    {% include "fds_blog/includes/_picture.html" with picture=picture columns=columns loading=loading %}
    {% if picture.author or picture.description %}
        <figcaption class="picture-description mt-2 text-end">
            {% if picture.description %}
                {{ picture.description|markdown }}
                {% if picture.author %}<span class="px-2">–</span>{% endif %}
            {% endif %}
            {% if picture.author %}{{ picture.author|markdown }}{% endif %}
        </figcaption>
    {% endif %}
</figure>
