from .base import FragDenStaatBase


class Dev(FragDenStaatBase):
    DEBUG = True
    ALLOWED_HOSTS = '*'
    # CELERY_TASK_ALWAYS_EAGER = False

    INTERNAL_IPS = ('127.0.0.1',)

    INTERNAL_MEDIA_PREFIX = '/protected/'

    GEOIP_PATH = None

    EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
    CELERY_EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

    @property
    def INSTALLED_APPS(self):
        installed = super(Dev, self).INSTALLED_APPS
        # installed += ['debug_toolbar']
        return installed

    @property
    def MIDDLEWARE(self):
        return super(Dev, self).MIDDLEWARE + [
            # 'debug_toolbar.middleware.DebugToolbarMiddleware',
        ]

    DATABASES = {
        'default': {
            'ENGINE': 'django.contrib.gis.db.backends.postgis',  # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
            'NAME': 'fragdenstaat',                      # Or path to database file if using sqlite3.
            'USER': 'fragdenstaat',                      # Not used with sqlite3.
            'PASSWORD': '',                  # Not used with sqlite3.
            'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
            'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
        }
    }

    CACHES = {
        'default': {
            'BACKEND': 'django.core.cache.backends.dummy.DummyCache'
        }
    }
