{% extends "cms/scaffold.html" %}
{% load cms_tags %}
{% load djangocms_alias_tags %}
{% load static %}
{% load sekizai_tags %}
{% load frontendbuild %}
{% block body_extra_attributes %}
    data-staticurl="{{ STATIC_URL }}"
    {% if request.user.is_staff %}data-sentry="{{ SENTRY_JS_URL }}"{% endif %}
{% endblock body_extra_attributes %}
{% block body_tag %}
    {% if request.user.is_authenticated and request.session.impostor %}
        {% include "account/includes/impostor.html" %}
    {% endif %}
    {% block top_block %}
        <div class="fds-banner" data-banner="topBanner" hidden>{% static_alias "top_banner" %}</div>
    {% endblock top_block %}
    {% block navbar %}
        {% include "header.html" %}
    {% endblock navbar %}
    {% block breadcrumbs %}
    {% endblock breadcrumbs %}
    {% block body_wrapper %}
        <main class="main" id="main">
            {% block messages %}
                {% include "snippets/messages.html" %}
            {% endblock messages %}
            {% block body %}
                <div class="container">
                    {% block app_body %}
                        {% placeholder "content" %}
                    {% endblock %}
                </div>
            {% endblock body %}
        </main>
    {% endblock body_wrapper %}
    {% block footer_container %}
        <div class="fds-banner" data-banner="bottomBanner" hidden>{% static_alias "bottom_banner" %}</div>
        <footer class="footer" id="footer">
            <div class="container">{% static_alias "footer" %}</div>
        </footer>
    {% endblock footer_container %}
{% endblock body_tag %}
{% block scripts %}
    {% renderfrontendhmr %}
    {% include "_frontend.html" with entry_point="main.js" %}
    {% if cms_toolbar.edit_mode_active %}
        {% include "_frontend.html" with entry_point="fds_cms.js" %}
    {% endif %}
    {{ block.super }}
{% endblock scripts %}
{% block below_scripts %}
    {% block tracking_code %}
        {% include "snippets/tracking.html" %}
    {% endblock %}
{% endblock below_scripts %}
