{% extends "cms/page_breadcrumb.html" %}

{% load i18n %}
{% load cms_tags %}
{% load menu_tags %}
{% load cms_pagination %}

{% block body %}
  {% page_url 'help' as help_url %}
  <div class="app">
    <div class="container">
      <div class="row">
        <div class="col-md-8 order-md-last mt-3 mb-3">
          {% block app_body %}
            {% placeholder "content" %}
          {% endblock %}
        </div>
        <nav class="col-md-4 order-md-first mb-3 mt-3">
          <h5>
            <a href="{{ help_url }}">
              {% translate "Topics" %}
            </a>
          </h5>
          <ul class="list-unstyled">
            {% show_menu 1 100 0 1 %}
          </ul>
        </nav>
        <nav aria-label="breadcrumb" class="bg-body-tertiary">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ help_url }}">{% translate "Support" %}</a>
                    </li>
                    {% show_breadcrumb 1 "cms/breadcrumbs.html" %}
                    {% block extra_breadcrumbs %}{% endblock %}
                </ol>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-last mt-3 mb-3">
                    {% block app_body %}
                        {% placeholder "content" %}
                    {% endblock %}
                </div>
                <nav class="col-md-4 order-md-first mb-3 mt-3">
                    <h5>
                        <a href="{{ help_url }}">{% translate "Topics" %}</a>
                    </h5>
                    <ul class="list-unstyled">
                        {% show_menu 1 100 0 1 %}
                    </ul>
                </nav>
            </div>
        </div>
        {% static_placeholder "help_footer" %}
    </div>
{% endblock %}
