{% extends "cms/page.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block navbar %}
    {{ block.super }}
    {% if request.current_page.fdspageextension.breadcrumb_overlay %}
        {% include "snippets/messages.html" %}
    {% endif %}
    <nav aria-label="breadcrumb"
         {% if request.current_page.fdspageextension.breadcrumb_background %} class="text-bg-{{ request.current_page.fdspageextension.breadcrumb_background }}{% if request.current_page.fdspageextension.breadcrumb_overlay %} breadcrumb-overlay{% endif %}
         "
         {% endif %}>
        <div class="container-md">
            <ol class="breadcrumb">
                {% show_breadcrumb 0 "cms/breadcrumbs.html" %}
            </ol>
        </div>
    </nav>
{% endblock navbar %}
{% block messages %}
    {% if not request.current_page.fdspageextension.breadcrumb_overlay %}
        {% include "snippets/messages.html" %}
    {% endif %}
{% endblock messages %}
