{% extends "cms/page_breadcrumb.html" %}
{% load i18n %}
{% load cms_tags %}
{% load djangocms_alias_tags %}
{% load menu_tags %}
{% load fds_cms_tags %}
{% block body %}
    {% page_url request.current_page|get_soft_root as base_url %}
    {% page_attribute "page_title" request.current_page|get_soft_root as base_title %}
    <div class="app container-md-full">
        <div class="row g-0 g-md-3">
            <div class="col-md-8 col-xl-6 offset-xl-1 mt-3 mb-3 order-md-last">
                <div id="content" class="container">
                    <a href="#toc" class="d-md-none">{% trans "Table of contents" %}</a>
                    {% block app_body %}
                        {% placeholder "content" %}
                    {% endblock app_body %}
                </div>
                <div class="container">{% include "fds_cms/pagination.html" with min_level=-1 %}</div>
            </div>
            {% if not request.current_page.soft_root and request.current_page.get_in_navigation %}
                <div class="col col-md-4 col-xl-3">
                    <div class="sticky-top z-2 pt-md-1 small overflow-auto toc">
                        <div class="bg-blue-100 p-3 tight-margin">
                            <p class="text-body-secondary">{% trans "In this chapter:" %}</p>
                            <div id="toc"></div>
                        </div>
                        <div class="bg-body-tertiary p-3 tight-margin mt-3">
                            <p class="text-body-secondary">{% trans "Chapter overview:" %}</p>
                            {# djlint:off H021 #}
                            <ol class="m-0">
                                {% show_menu 1 100 0 1 %}
                            </ol>
                            {# djlint:on #}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% static_alias "book_pub_footer" %}
    {% include "_frontend.html" with entry_point="bookpub.js" %}
{% endblock body %}
