{% extends "cms/base.html" %}

{% load cms_tags %}


{% block body %}
  {% block app_body %}
    <div class="container mb-3 mt-3">
        <h2>Top Banner</h2>
        {% static_placeholder "top_banner" %}

        <h2>Banner Ad</h2>
        {% static_placeholder "banner_ad" %}

        <h2>Blog Feed footer</h2>
        {% static_placeholder "blog_feed_footer" %}

        <h2>Message Donation Banner</h2>
        {% static_placeholder "message_donation_banner" %}

        <h2>Blog Donation Banner</h2>
        {% static_placeholder "blog_donation_banner" %}

        <h2>Archiv</h2>
        {% static_placeholder "temporary_storage" %}
    </div>
  {% endblock %}
{% endblock %}