{% extends "base.html" %}
{% load i18n %}
{% load frontendbuild %}
{% block title %}
    Paperless Import
{% endblock title %}
{% block app_body %}
    <h1>{% trans "Choose the recipient" %}</h1>
    <div class="list-group" id="paperless-recipients">
        {% for user in users %}
            <a href="{% url "admin:foirequest_foirequest_changelist" %}?user={{ user.id }}&_popup=1"
               class="list-group-item list-group-item-action">{{ user.get_full_name }}</a>
        {% endfor %}
    </div>
    {% include "_frontend.html" with entry_point="paperless.js" %}
{% endblock app_body %}
