{% extends "base.html" %}
{% load i18n %}
{% block title %}
    Paperless {{ page }}
{% endblock title %}
{% block app_body %}
    <form action="{% url "paperless_select_request" %}" method="get">
        <div class="d-md-flex">
            <h1>{% trans "Choose documents to import" %}</h1>
            <div class="ms-md-auto">
                <input type="submit" class="btn btn-primary " value="{% trans "Import" %}">
            </div>
        </div>
        <ul class="row list-unstyled g-3">
            {% for document in documents %}
                <li class="col col-12 col-md-3 d-flex">
                    <div class="d-flex flex-column w-100 border-gray p-1">
                        <label for="paperless_ids_{{ document.id }}">
                            <p>
                                <input type="checkbox"
                                       name="paperless_ids"
                                       id="paperless_ids_{{ document.id }}"
                                       value="{{ document.id }}"
                                       class="form-check-input"
                                       title="{% trans "Select document" %}"
                                       data-bs-toggle="tooltip">
                                {{ document.title }}
                                <a href="{{ document.url }}"
                                   target="_blank"
                                   title="{% trans "Open document in new tab" %}"
                                   data-bs-toggle="tooltip">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            </p>
                            <span class="small">{{ document.created|date }}</span>
                            <img src="{% url "paperless_thumb" document.id %}"
                                 class="w-100 mt-auto"
                                 alt="">
                        </label>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </form>
    {% if prev_page %}
        <a href="{% url "paperless_list" %}?page={{ prev_page }}"
           class="btn btn-secondary">{{ prev_page }}</a>
    {% endif %}
    <span>{{ page }}</span>
    <a href="{% url "paperless_list" %}?page={{ next_page }}"
       class="btn btn-secondary">{{ next_page }}</a>
{% endblock app_body %}
