{% load i18n %}
{% load form_helper %}
{% if form %}
    {% if form.chosen_gift %}
        <form action="{% url 'fds_donation:make_order' category=category %}"
              method="post"
              class="shipping-form">
            {% csrf_token %}
            {% include "fds_donation/forms/_donation_form_chosen_gift.html" %}
            {% include "fds_donation/forms/_donation_form_shipping.html" with form=form %}
            <input type="hidden" name="next" value="{{ next_url }}" />
            <p class="text-end">
                <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
            </p>
        </form>
    {% else %}
        <div class="alert alert-warning">{% translate "No donation gifts are available for you at the moment." %}</div>
    {% endif %}
{% else %}
    <p>
        <a class="btn btn-primary btn-lg action-link arrow"
           href="{% url "fds_donation:donor-send-login-link" %}?next={{ request.get_full_path|urlencode }}">
            {% translate "Log in to your donor profile to select a donation gift." %}
        </a>
    </p>
{% endif %}
