{% load i18n %}
{% load cms_tags %}
{% load form_helper %}
{% if form and form.can_upgrade %}
    <div>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        <form method="POST"
              action="{% url "fds_donation:upgrade_recurrence" %}"
              class="ajaxified ajax-parent">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next_url }}" />
            {{ form.reference }}
            {{ form.recurrence }}
            <label class="fw-bold" for="{{ form.upgrade_amount.auto_id }}">{{ form.upgrade_amount.label }}</label>
            <div class="row">
                <div class="col-auto">{{ form.upgrade_amount }}</div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">{% translate "Upgrade donation" %}</button>
                </div>
            </div>
        </form>
    </div>
{% elif form %}
    <div>
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% with recurrence=form.get_recurrence %}
            <p>{% translate "You can increase your donation by 5 Euro, 20 percent or double it, as you feel like!" %}</p>
            {% if recurrence.subscription %}
                <p>
                    {% blocktranslate with description=recurrence.get_short_description reference=recurrence.subscription.remote_reference trimmed %}
                        Please adjust your current standing order ({{ description }}) with reference “{{ reference }}” in your online banking.
                    {% endblocktranslate %}
                </p>
            {% else %}
                <p>
                    {% blocktranslate with description=recurrence.get_short_description trimmed %}
                        Please adjust your current standing order ({{ description }}).
                    {% endblocktranslate %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
{% elif request.toolbar.edit_mode_active %}
    <div style="outline: 1px solid red; min-height: 2rem">
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        <p>{{ instance }}</p>
    </div>
{% endif %}
