{% extends CMS_TEMPLATE %}

{% load i18n %}

{% block extra_breadcrumbs %}
<li class="breadcrumb-item">
  {% comment %}Translators: Search as noun{% endcomment %}
  <a href="">{% translate "Search" %}</a>
</li>
{% endblock %}

{% block app_body %}

<h2>
  {% translate "Search support topics" %}
</h2>

<form class="mb-3" role="search" method="get" action=".">
  <div class="input-group">
    {{ form.q }}
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
        {% translate "Search" %}
      </button>
    </div>
  </div>
</form>

{% if object_list and form.q.value %}
<p>
  {% blocktranslate with q=form.q.value %}Results for “{{ q }}”{% endblocktranslate %}
</p>
<ol class="list-unstyled">
  {% for object in object_list %}
    <li>
      <h5 class="mt-0 mb-1">
        <a href="{{ object.page.get_absolute_url }}">
          {{ object.title }}
        </a>
      </h5>
      {% if object.meta_description %}
        <small>{{ object.meta_description }}</small>
      {% endif %}
      {% if object.query_highlight %}
      <p class="search-highlight">
        {{ object.query_highlight }}
      </p>
      {% endif %}
    </li>
  {% endfor %}
</ol>
{% elif form.q.value %}
<p>
  {% translate "No results found." %}
</p>
{% else %}
<p>
  {% translate "Please enter a search term." %}
</p>
{% endif %}
{% endblock %}
