<div class="btn-group btn-group-lg" role="group" aria-label="Social Media Sharing">
  <a class="btn btn-info sharing__link -twitter" href="https://twitter.com/share?text={{ text|urlencode }}&amp;url={{ url|urlencode }}&amp;via=fragdenstaat">
    Twitter
  </a>
  <a class="btn btn-primary sharing__link -facebook" href="https://www.facebook.com/sharer.php?u={{ url|urlencode }}">
    Facebook
  </a>
  <a class="btn btn-secondary sharing__link -email" href="mailto:?subject={{ text|urlencode }}&amp;body={{ url|urlencode }}">
    E-Mail
  </a>
</div>
