{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}
{% block object-tools-items %}
    {% if original.pk %}
        <li>
            <a href="{{ original.get_absolute_edit_url }}">{% trans "Edit Content" %}</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block after_field_sets %}
    {{ block.super }}
    {{ adminform.model_admin.charcount_fields|json_script:"charcount-fields" }}
    <script src="{% static 'js/fds_blog/charcount.js' %}"></script>
{% endblock %}
