{% load i18n %}
{% load static %}
{% load icons %}
{% load content_helper %}
{% load thumbnail %}
{% load cms_tags %}
{% load account_tags %}
{% load search_helper %}
{% if request.user.is_authenticated %}
    {% get_menu_items as menu_items %}
{% endif %}
<header id="header">
    <div class="container-lg">
        <a href="#main"
           class="visually-hidden-focusable skippy text-bg-blue-500 p-3 position-fixed top-0">
            {% trans "Skip to main content" %}
        </a>
    </div>
    <nav class="bg-body">
        <div class="container-lg">
            <ul class="nav-ul w-100">
                {% if reduced != True %}
                    <li class="d-lg-none">
                        <button class="btn btn-link nav-toggle-menu"
                                data-target="main"
                                aria-controls="menu-main">
                            <span class="navbar-toggler-icon"></span>
                            <span class="visually-hidden">{% trans "Menu" %}</span>
                        </button>
                    </li>
                {% endif %}
                {% page_url "home" as home_url %}
                <li class="order-lg-first nav-logo">
                    <a href="{{ home_url|default:'/' }}">
                        {% render_svg "img/header_logo.svg" %}
                        <span class="visually-hidden">{{ SITE_NAME }}</span>
                    </a>
                </li>
                {% if request.user.is_authenticated and reduced != True %}
                    <li id="menu-user-nav">
                        <div>
                            {% if request.user.profile_photo %}
                                <button class="btn btn-link user-profile nav-toggle-menu nav-dropdown-trigger"
                                        data-target="user"
                                        aria-controls="menu-user">
                                    <img width="32"
                                         height="32"
                                         src="{% thumbnail request.user.profile_photo 64x64 %}"
                                         alt=""
                                         class="rounded-circle" />
                                    <span class="d-none d-lg-inline">{{ request.user.first_name }}</span>
                                </button>
                            {% else %}
                                <button class="btn btn-link user-profile nav-toggle-menu nav-dropdown-trigger"
                                        data-target="user"
                                        aria-controls="menu-user">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="d-none d-lg-block">{{ request.user.first_name }}</span>
                                </button>
                            {% endif %}
                            <ul class="nav-menu dropdown-menu dropdown-menu-end pb-3 pb-lg-0"
                                id="menu-user">
                                {% include "menu/user_menu.html" %}
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-sm d-lg-none"
                        {% if reduced %}data-donationlink="true"{% endif %}>
                        {% page_url "donate" as donate_url %}
                        <a class="btn link-danger"
                           data-reference="site-header"
                           href="{{ donate_url|default:'/spenden/' }}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline">
                                <span>{% blocktrans %}Donate{% endblocktrans %}</span>
                            </span>
                            <span class="d-inline d-sm-none visually-hidden">{% blocktrans %}Donate{% endblocktrans %}</span>
                        </a>
                    </li>
                {% endif %}
                {% if reduced != True %}
                    <ul class="nav-menu nav-menu-expanded py-3 py-lg-0" id="menu-main">
                        <li class="nav-break d-none d-lg-block" aria-hidden="true"></li>
                        {% url 'foirequest-list' as requests_url %}
                        <li class="nav-dropdown">
                            <button class="btn btn-link p-0 nav-dropdown-trigger{% if request.path|startswith:requests_url %} active{% endif %}"
                                    aria-expanded="false">{% blocktrans %}Requests{% endblocktrans %}</button>
                            <ul class="list-unstyled dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ requests_url }}">{% blocktrans %}See requests{% endblocktrans %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'foirequest-make_request' %}">{% blocktrans %}Make request{% endblocktrans %}</a>
                                </li>
                                {% page_url "beginnersguide" as beginners_url %}
                                {% if beginners_url %}
                                    <li>
                                        <a class="dropdown-item" href="{{ beginners_url }}">{% blocktrans %}Beginner's guide{% endblocktrans %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% page_url "investigations" as investigations_url %}
                        {% if investigations_url %}
                            {% page_attribute "menu_title" "investigations" as investigations_title %}
                        {% endif %}
                        <li>
                            <a href="{{ investigations_url|default:'/recherchen/' }}"
                               {% if request.path|startswith:investigations_url %}class="active" aria-current="page"{% endif %}>{{ investigations_title|default:"Recherchen" }}</a>
                        </li>
                        {% page_url "lawsuits" as lawsuits_url %}
                        {% if lawsuits_url %}
                            {% page_attribute "menu_title" "lawsuits" as lawsuits_title %}
                        {% endif %}
                        <li>
                            <a href="{{ lawsuits_url|default:'/klagen/' }}"
                               {% if request.path|startswith:lawsuits_url %}class="active" aria-current="page"{% endif %}>{{ lawsuits_title|default:"Klagen" }}</a>
                        </li>
                        {% page_url "campaigns" as campaigns_url %}
                        {% if campaigns_url %}
                            {% page_attribute "menu_title" "campaigns" as campaigns_title %}
                        {% endif %}
                        <li class="nav-dropdown">
                            <button class="btn btn-link p-0 nav-dropdown-trigger{% if request.path|startswith:campaings_url %} active{% endif %}"
                                    aria-expanded="false">{{ campaigns_title|default:"Aktionen" }}</button>
                            <ul class="list-unstyled dropdown-menu">
                                {# TODO: make this dynamic #}
                                <li>
                                    <a class="dropdown-item" href="{{ campaigns_url }}">Alle Aktionen</a>
                                </li>
                                <li>
                                    {# djlint:off D018 #}
                                    <a class="dropdown-item" href="/kontakt/beratung/">Beratung</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://gegenrechtsschutz.de"
                                       target="_blank">Gegenrechtsschutz</a>
                                </li>
                                <li>
                                    {% page_url "climate-helpdesk" as climate_url %}
                                    <a class="dropdown-item"
                                       href="{{ climate_url|default:"/aktionen/climate-helpdesk/" }}">{% translate "Climate Helpdesk" %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://ueberbrueckungsfonds.de"
                                       target="_blank">Überbrückungsfonds</a>
                                </li>
                            </ul>
                        </li>
                        {% page_url "about" as about_url %}
                        {% if about_url %}
                            {% page_attribute "menu_title" "about" as about_title %}
                        {% endif %}
                        <li class="nav-sm ms-lg-auto order-lg-last">
                            <a href="{{ about_url }}"
                               {% if request.path|startswith:about_url %}class="active" aria-current="page"{% endif %}>{{ about_title }}</a>
                        </li>
                        {% page_url "newsletter" as newsletter_url %}
                        {% if newsletter_url %}
                            {% page_attribute "menu_title" "newsletter" as newsletter_title %}
                        {% endif %}
                        <li class="nav-sm order-lg-last">
                            <a href="{{ newsletter_url }}"
                               data-reference="site-header"
                               {% if request.path|startswith:newsletter_url %}class="active" aria-current="page"{% endif %}>{{ newsletter_title }}</a>
                        </li>
                        {% page_url "donate" as donate_url %}
                        {% if donate_url %}
                            {% page_attribute "menu_title" "donate" as donate_title %}
                        {% endif %}
                        <li class="nav-sm order-lg-last">
                            <a class="btn btn-sm btn-danger"
                               data-reference="site-header"
                               href="{{ donate_url|default:'/spenden/' }}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                {{ donate_title|default:"Spenden" }}
                            </a>
                        </li>
                        <li class="nav-sm d-lg-none">
                            <hr>
                        </li>
                        {% if not request.user.is_authenticated %}
                            {% url 'account-login' as login_url %}
                            <li class="nav-sm order-lg-last">
                                <a href="{% url 'account-login' %}?next={{ request.path|urlencode }}">
                                    <i class="fa fa-sign-in d-none d-lg-inline" aria-hidden="true"></i>
                                    {% blocktrans %}Sign in{% endblocktrans %}
                                </a>
                            </li>
                            <li class="nav-sm d-lg-none">
                                <a href="{% url 'account-signup' %}?next={{ request.path|urlencode }}">{% blocktrans %}Sign Up{% endblocktrans %}</a>
                            </li>
                            <li class="nav-sm d-md-none">
                                <hr>
                            </li>
                        {% endif %}
                        <li class="ms-lg-auto nav-search order-lg-first">{% multi_search small=True %}</li>
                    </ul>
                {% endif %}
                {% if reduced == True %}
                    {% page_url "donate" as donate_url %}
                    <li class="ms-auto d-none d-lg-block" data-donationlink="true">
                        <a class="link-danger"
                           data-reference="site-header"
                           href="{{ donate_url|default:'/spenden/' }}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="visually-hidden">{% blocktrans %}Donate{% endblocktrans %}</span>
                            <span class="d-none d-lg-inline" aria-hidden="true">{% blocktrans %}Donate{% endblocktrans %}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
