{% overextends "index.html" %}

{% load i18n %}

{% comment %}
{% block index_banner %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-block">
          <div class="row">
            <div class="col-md-9 col-lg-9">
              {% trans "Like this? Consider supporting us!" %}
              <a href="{% url 'help-donate' %}" class="btn btn-xs btn-success">{% trans "Donate now!" %}</a>
            </div>
            <div class="col-md-2 col-lg-2">
              <a style="float:right" href="http://flattr.com/thing/520066/FragDenStaat-de" target="_blank">
                <img src="{{ STATIC_URL }}img/flattr.png" alt="{% trans "Flattr us!" %}" title="{% trans "Flattr us!" %}" border="0" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endcomment %}