{% extends "foirequest/show.html" %}

{% load static %}
{% load i18n %}

{% load foirequest_tags %}
{% load food_tags %}
{% load fax_tags %}
{% load crowdfunding %}
{% load fds_cms_tags %}


{% block foirequest_header %}

{% if request.user.is_authenticated %}
<div class="alert alert-success text-center">
  <strong>Hallo auf der neuen Anfrageseite! </strong>
  <a href="https://forum.okfn.de/t/neue-anfrageseite-feedback-bitte-hier/1380" target="_blank" rel="noopener">
    Feedback gerne im Forum.
  </a>
</div>
{% endif %}


  {# Transparenzgesetz Sachsen #}
  {% if object.jurisdiction.id == 89 %}
  <div class="row py-2 mb-5">
    <div class="col-lg-2 col-md-3 d-none d-md-flex align-items-center">
      <img class="img-fluid" alt="Wappen Sachsen" src="https://media.frag-den-staat.de/files/media/main/cb/8a/cb8a6fb0-9d58-4feb-87e1-8a8ea233dfc5/sachsen.svg"/>
    </div>
    <div class="col-lg-10 col-md-9 d-flex align-items-center">
      <div class="mt-3 mt-md-0">
        <p class="lead mt-0 mb-3">Die Sächsische Landesregierung hat bis Ende 2020 ein Transparenzgesetz versprochen - doch bisher ist nicht viel passiert. Lassen Sie uns gemeinsam Aktionen planen, damit das Transparenzgesetz oben auf die Agenda kommt! Sind Sie dabei?</p>
        <a class="btn btn-primary" href="https://forum.okfn.de/c/fragdenstaat/sachsen-transparenzgesetz-voranbringen/12" target="_blank">
          Mehr Infos im Forum
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if "corona" in object.title|lower or "covid" in object.title|lower or "virus" in object.title|lower  %}
  <div class="alert alert-warning text-center">
    🦠<a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html">Allgemeine Infos zum Corona-Virus finden Sie hier beim Robert-Koch-Institut</a>🦠
  </div>
  {% endif %}

  {% if object|can_write_foirequest:request and object|foirequest_needs_signature %}
    <div class="alert alert-warning">
      <h3>
        Schriftformerfordnis: Bitte hinterlegen Sie Ihre Unterschrift
      </h3>
      <div class="row">
        <div class="col-md-8">
          <p>
            Diese Anfrage nach dem {{ object.law.name }} muss in Schriftform erfolgen. Wir können für Sie ein Fax versenden, wenn Sie Ihre Unterschrift hinterlegen.
          </p>
        </div>
      </div>
      {% include "froide_fax/_signature_form.html" with form=request.user|get_signature_form:True foirequest=object next=request.get_full_path hide_explanation=True save_button="Unterschrift speichern und Fax versenden" %}
    </div>
  {% endif %}
{% endblock %}

{% block foirequest_below_header %}
  {% if object.campaign.slug == "topf-secret" %}
    {% food_authority_status object %}
  {% endif %}
{% endblock %}

{% block foirequest_explain_deadline %}
  <small>
    <a class="d-print-none" href="/hilfe/howto/fuer-behoerden/#frist">
      Wie wird das berechnet?
    </a>
  </small>
{% endblock %}

{% block request_action_menu_footer %}
  {% if object.costs %}
  <li class="nav-item">
    <a href="#crowdfunding" data-toggle="pill" class="nav-link" role="tab" aria-controls="crowdfunding" aria-expanded="false">
      Crowdfunding
    </a>
  </li>
  {% endif %}

  {% if object.can_be_escalated and not "food:" in object.reference %}
    <li class="nav-item">
      <a href="#legalaction" data-toggle="tab" class="nav-link" role="tab" aria-controls="legalaction" aria-expanded="false">
        Jetzt klagen
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block request_action_pane_footer %}
  {# Crowdfunding #}
  {% if object.costs %}
    <div class="tab-pane d-print-none" id="crowdfunding">
      {% include "froide_crowdfunding/includes/request_pane.html" with object=object %}
    </div>
  {% endif %}

  {# Legal Action #}
  {% if object.can_be_escalated and not "food:" in object.reference %}
    <div class="tab-pane d-print-none" id="legalaction">
      {% include "froide_legalaction/includes/request_pane.html" with object=object %}
    </div>
  {% endif %}
{% endblock %}

{% block before_correspondence %}
  {% fds_static_placeholder "banner_ad" %}
  {% include "froide_crowdfunding/includes/request_block.html" with object=object %}
  {{ block.super }}
{% endblock %}

{% block foirequest_messages %}
  {% for message in object.messages %}
    {% if forloop.last and object.messages|length > 1 %}
      {% fds_static_placeholder "message_donation_banner" %}
    {% endif %}
    {% include "foirequest/snippets/message.html" %}
    {% if not forloop.last %}
      <div class="page-break"></div>
    {% endif %}
    {% empty %}
    <p>{% blocktrans %}No messages yet{% endblocktrans %}</p>
  {% endfor %}
  {% if object.messages|length == 1 %}
    {% fds_static_placeholder "message_donation_banner" %}
  {% endif %}
{% endblock foirequest_messages %}
