{% extends "newsletter/common.html" %}

{% block title %}{{ newsletter.title }}{% endblock title %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>{{ newsletter.title }}</h2>

      <div class="row justify-content-center m-5">
        <div class="col-md-8">
          {% include "fds_newsletter/plugins/newsletter_form.html" %}
        </div>
      </div>

      <div class="list-group">
        {% for mailing in latest %}
          <a class="list-group-item list-group-item-action" href="{% url 'newsletter_archive_detail' newsletter_slug=newsletter.slug year=mailing.sending_date.year month=mailing.sending_date.month day=mailing.sending_date.day pk=mailing.pk %}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ mailing.email_template.subject }}</h5>
              <small class="text-muted">
                {{ mailing.sending_date|date:"DATE_FORMAT" }}
              </small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}