{% extends "newsletter/common.html" %}

{% load newsletter_tags %}

{% block body %}

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div>
        {% newsletter_subscribe newsletter_slug=newsletter.slug fallback=False %}
      </div>
      <hr/>
      <p>
        <a href="{% url 'newsletter_archive' newsletter_slug=newsletter.slug %}">
          zurück zum Archiv
        </a>
      </p>
      <p class="small">
        Newsletter vom {{ date|date:"DATE_FORMAT" }}
      </p>
      <h2>{{ message.title }}</h2>
      {% for article in message.articles.all %}
          <h3>{{ article.title }}</h3>
          
          <div>{{ article.text|safe }}</div>
          
          {% if article.url %}
              <div><a href="{{ article.url }}">Weiterlesen</a></div>
          {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}