{% extends "base.html" %}
{% load i18n form_helper %}
{% block title %}
    {{ newsletter.title }}
{% endblock title %}
{% block app_body %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>{{ newsletter.title }}</h2>
            <form method="post"
                  action="."
                  class="disable-submit"
                  {% if request.GET.email %}data-autosubmit{% endif %}>
                {% csrf_token %}
                {% render_form form %}
                <button class="btn btn-primary" type="submit">{% translate "Subscribe" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
