{% extends "fds_blog/base.html" %}
{% load i18n cms_tags %}
{% load markup %}
{% load static %}
{% load blog_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ article.title }}{% endblock %}

{% block meta %}
  {% include "snippets/meta.html" %}
  {% include "fds_blog/includes/social_meta.html" with article=article %}
{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ article.slug }}">
  <div class="blog-header-container">
    <div class="row justify-content-center">
      <div class="post-item post-detail col-12">
        <header class="blog-header">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
              <time class="blog-header__date">
                {{ article.start_publication|date:"DATE_FORMAT" }}
              </time>
              <h1 class="blog-header__title">
                {% render_model article "title" %}
              </h1>
              {% if article.teaser %}
                <div class="blog-lead mb-3">
                  {% render_model article "teaser" "" "" "safe" %}
                </div>
              {% endif %}
              {% if article.image %}
                {% include "fds_blog/includes/blog_picture_detail.html" with picture=article.image %}
              {% endif %}
              {% endspaceless %}
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="blog-content">
    {% render_placeholder article.content_placeholder %}
  </div>

  {% static_placeholder "dropdown_banner" %}

  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-md-8">
        {% with other_langs=article.other_languages %}
          {% if other_langs %}
            <p>
              {% trans "This article is available in other languages." %}
            </p>
            <ul class="list-unstyled">
              {% for lang_article in other_langs %}
                <li>
                  {{ lang_article.language|language_name }}:
                  <a href="{{ lang_article.get_absolute_url }}">
                    {{ lang_article.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="author-section">
      {% for author in article.authors.all %}
        <div class="row justify-content-center pb-5 pt-5">
          <div class="col-xs-1 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block">
            {% if author.user.profile_photo %}
              <img class="img-circle" src="{{ author.user.profile_photo.url }}" alt="Bild des Autors">
            {% endif %}
          </div>
          <div class="col-xs-6 col-sm-8 col-md-6 col-lg-5">
            <h4 class="author-title">
              <a href="{% url 'blog:article-author' username=author.username %}">
                {{ author.get_full_name }}
              </a>
            </h4>
            <div class="author-description">
              {{ author.user.profile_text | markdown }}
            </div>
            {% if account.user.get_absolute_url %}
              <a href="{{ account.user.get_absolute_url }}">
                Anfragen des Autors
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</article>


<div class="donation-teaser">
  <div class="container col-xs-12 ">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-md-3 offset-md-1">
        <img class="col-md-12" src="{% static 'img/illustrations/donate.png' %}" alt="Spendenaufruf">
      </div>
      <div class="col-md-6">
        <h2 class="pb-3 pt-3">Unterstützen Sie unsere Arbeit!</h2>
        <p>
            Wir kämpfen für mehr Transparenz in Politik und Verwaltung! Spenden Sie uns! Damit unterstützen Sie unsere Kampagnen, Klagen und Recherchen.
        </p>
        <a href="/spenden/?pk_campaign=blog-footer&amp;pk_keyword={{ request.path | urlencode }}" class="teaser-button">
          Jetzt spenden!
        </a>
      </div>
    </div>
  </div>
</div>


{% with next_read=article|get_next_read %}
{% if next_read %}
  <div class="col-md-12 next-reads">
    <div class="container">
      <div class="row justify-content-center pb-5 pt-5">
        <div class="col-md-5">
          {% if next_read.image_id %}
             <a href="{{ next_read.get_absolute_url }}">{% include "fds_blog/includes/blog_picture.html" with picture=next_read.image %}</a>
          {% endif %}
        </div>
        <div class="col-md-5 next-reads__text">
          <h3 class="pt-3">
            <a href="{{ next_read.get_absolute_url }}">{{ next_read.title }}</a>
          </h3>
          <p>
            {% render_model next_read "teaser" "" "" "safe" %}
          </p>
          <p>
            <div class="cl-effect-10">
              <a href="{{ next_read.get_absolute_url }}" data-hover="&rarr;">
                zum Artikel
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endwith %}
{% endblock content_blog %}
