{% extends "fds_blog/article_list.html" %}
{% load i18n %}
{% block title %}
    {% translate "Search articles" %} –
    {{ block.super }}
{% endblock title %}
{% block blog_list_header %}
    <h1 class="h2">
        {% if form.q.value %}
            {% blocktranslate with q=form.q.value %}Search results for “{{ q }}”{% endblocktranslate %}
        {% else %}
            {% translate "Search articles" %}
        {% endif %}
    </h1>
    <form class="row froide-auto-submit row-gap-2"
          role="search"
          method="get"
          action=".">
        <div class="col-12 col-md-6">
            <div class="input-group">
                {% if form %}
                    {{ form.q }}
                {% else %}
                    <input class="form-control"
                           type="text"
                           name="q"
                           placeholder="{% translate 'Search' %}"
                           aria-label="{% translate 'Search' %}">
                {% endif %}
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    {% translate "Search" %}
                </button>
            </div>
        </div>
        <div class="col-12 col-md-3">{{ form.category }}</div>
        <div class="col-12 col-md-3">{{ form.sort }}</div>
    </form>
{% endblock %}
{% block blog_list_items %}
    {% if object_list and form.q.value %}
        {% for article in object_list %}
            {% include "fds_blog/includes/blog_item_list.html" with article=article %}
        {% endfor %}
    {% elif form.q.value %}
        <p>{% translate "No results found." %}</p>
    {% else %}
        <p>{% translate "Please enter a search term." %}</p>
    {% endif %}
{% endblock blog_list_items %}
