{% load i18n %}
<div class="modal modal-lg fade"
     id="donation-transfer-{{ order.id }}"
     tabindex="-1"
     aria-labelledby="donation-transfer-{{ id }}-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="donation-transfer-{{ order.id }}-label">{% trans "Transfer details" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
            </div>
            <div class="modal-body">{% include "fds_donation/includes/banktransfer_instructions.html" %}</div>
        </div>
    </div>
</div>
