{% load i18n %}
{% if not payment.is_confirmed %}
    <div class="alert alert-info">
        {% translate "The status of donations made by bank transfer is updated at the beginning of the following month, as account statements are only reconciled then." %}
    </div>
    <div class="card border-danger">
        <div class="card-header">
            {% if order.is_recurring %}
                <h3>{% translate "Please set up a standing order" %}</h3>
            {% else %}
                <h3>
                    {% blocktranslate with amount=order.total_gross %}Please transfer {{ amount }}&nbsp;Euro to{% endblocktranslate %}
                </h3>
            {% endif %}
        </div>
        <div class="card-body">{% include "fds_donation/includes/banktransfer_instructions.html" %}</div>
    </div>
{% endif %}
