{% load i18n %}
{% if not payment.is_confirmed %}
    {% if order.is_recurring %}
        <h3>{% translate "Please set up a standing order" %}</h3>
    {% else %}
        <h3>
            {% blocktranslate with amount=order.total_gross %}Please transfer {{ amount }}&nbsp;Euro an{% endblocktranslate %}
        </h3>
    {% endif %}
    <p>
        <strong>{% translate "Account holder" %}:&nbsp;</strong>Open Knowledge Foundation Deutschland e.V.
        <br>
        <strong>IBAN:&nbsp;</strong>DE36 4306 0967 1173 8932 00
        <br>
        <strong>BIC:&nbsp;</strong>GENODEM1GLS
        <br>
        <strong>{% translate "Amount" %}:&nbsp;</strong>{{ order.total_gross }}&nbsp;EUR
        <br>
        {% if order.is_recurring %}
            <strong>{% translate "Interval" %}:&nbsp;</strong> {{ order.subscription.plan.get_interval_description }}
            <br>
        {% endif %}
        {# Translators: This is the reference for the bank transfer #}
        <strong>{% translate "Reference" %}:&nbsp;</strong>{{ order.remote_reference }}
        <br>
        <strong>BLZ:&nbsp;</strong>430 609 67 (GLS Bank)
    </p>
{% endif %}
