{% load i18n %}
{% load humanize %}
{% load static %}
{% with last_donation=recurrence.last_donation %}
    <div class="border border-2 border-callout p-3 tight-margin vstack gap-2">
        <div>
            <strong>
                {% if recurrence.amount.as_integer_ratio.1 == 1 %}
                    {{ recurrence.amount|floatformat:0|intcomma }}
                {% else %}
                    {{ recurrence.amount|intcomma }}
                {% endif %}
                Euro {{ recurrence.interval_label }}
            </strong>
        </div>
        <div class="hstack gap-2">
            {% if last_donation.icon %}
                <img src=" {% static "img/"|add:last_donation.icon %} " alt="" class="payment-icon">
            {% endif %}
            <div>
                <span>{{ recurrence.get_method_display }}</span>
                {% if last_donation.last4 %}
                    {% spaceless %}
                        <span>
                            (<span aria-hidden="true" class="user-select-none">⋅⋅⋅⋅ ⋅⋅⋅⋅ ⋅⋅⋅⋅</span>
                            <span class="visually-hidden">{% translate "Last four digits" %}:</span>
                            {{ last_donation.last4 }})
                        </span>
                    {% endspaceless %}
                {% endif %}
            </div>
        </div>
        {% if recurrence.is_banktransfer %}
            <p>{% translate "You can adjust your donation by changing your standing order." %}</p>
            {% with order=recurrence.last_donation.order %}
                {% if order %}
                    <a class="action-link arrow"
                       href="#!"
                       data-bs-toggle="modal"
                       data-bs-target="#donation-transfer-{{ order.id }}"> {% translate "Show transfer instructions" %} </a>
                    {% include "fds_donation/includes/banktransfer_modal.html" with order=order %}
                {% endif %}
            {% endwith %}
        {% elif recurrence.subscription %}
            <ul class="list-unstyled">
                <li>
                    <a class="action-link arrow"
                       href="{{ recurrence.subscription.get_absolute_url }}">{% translate "Adjust amount or interval" %}</a>
                </li>
                <li>
                    <a class="action-link arrow"
                       href="{{ recurrence.subscription.get_absolute_url }}">{% translate "Pause or cancel your subscription" %}</a>
                </li>
            </ul>
        {% elif recurrence.is_paypal %}
            <p>{% translate "You can change or cancel your PayPal subscription in your PayPal account." %}</p>
            <a href="https://www.paypal.com/billing/subscriptions"
               target="_blank"
               class="action-link arrow">{% translate "Manage your PayPal subscriptions" %}</a>
        {% endif %}
    </div>
{% endwith %}
