{% load i18n %}
{% with last_donation=recurrence.last_donation %}
    <div class="border border-2 border-callout p-3 tight-margin vstack gap-2">
        {% include "fds_donation/includes/payment_amount.html" with amount=donation.amount %}
        {% if donation.payment %}
            <div {% if donation.payment.status_color %}class="text-{{ donation.payment.status_color }}"{% endif %}>
                <i class="fa fa-{{ donation.payment.status_icon }}" aria-hidden="true"></i>
                {{ donation.payment.get_status_display }}
            </div>
        {% elif donation.received_timestamp %}
            <div class="text-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                {% trans "Confirmed" %}
            </div>
        {% else %}
            <div class="text-warning">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {% trans "Pending" %}
            </div>
        {% endif %}
        {% if donation.purpose %}
            <div>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                {{ donation.purpose }}
            </div>
        {% endif %}
        <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ donation.timestamp|date:"DATE_FORMAT" }}
        </div>
        {% include "fds_donation/includes/payment_method.html" %}
        {% if donation.method == "banktransfer" and not donation.received_timestamp and donation.order %}
            {% include "fds_donation/includes/banktransfer_modal.html" with order=donation.order %}
        {% endif %}
    </div>
{% endwith %}
