<style media="screen">
  .highlight-dark {
    padding: 0 0.2em;
    font-weight: normal;
    background: #d3d6d8;
    color: #333;
  }
  .highlight-link {
    text-decoration: underline;
    font-weight: bold;
    color: #d3d6d8;
  }
  .highlight-link:hover {
    color: #fff;
  }
</style>
<div class="bg-dark border border-dark border-right-0 border-top-0 border-left-0" id="top-block" style="color: #d3d6d8; letter-spacing: 0.3px">
  <button class="float-right" onclick="localStorage.setItem('top-block-hidden-kuciak', true);document.getElementById('top-block').style.display='none';">
    <i class="fa fa-close"></i>
  </button>
  <div class="container mb-1 mt-4">
    <div class="row">
      <div class="col-md-4 mb-3 d-none d-sm-block" style="background-image: url(https://fragdenstaat.de/files/media/main/39/c9/39c9ca81-eab2-4168-9624-fa98086d7803/jan_kuciak.png); background-size: contain; background-position: center; background-repeat: no-repeat;">
      </div>
      <div class="col-md-8 col-12">
        <div class="clearfix">
          <h5 class="text-light float-left">
            Wir gedenken des ermordeten Journalisten Ján Kuciak
          </h5>
        </div>
        <p>
          Offenbar hängt sein Tod auch mit <strong class="highlight-dark">Recherchen nach dem Informationsfreiheitsgesetz</strong> zusammen.

          Den slowakischen Behörden wird vorgeworfen, Kuciaks Namen an seine künftigen Mörder weitergeleitet zu haben.
          <br/>
          Der Fall zeigt, wie wichtig das Recht auf <strong class="highlight-dark">anonyme Antragstellung</strong> ist. Wir fordern deswegen alle deutschen Behörden auf, auch anonyme Anfragen zu bearbeiten.
        </p>
        <p>
          <a href="http://blog.fragdenstaat.de/2018/mord-kuciak/" class="highlight-link">Mehr erfahren&hellip;</a>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  (function(){
    var block = document.getElementById('top-block')
    var hidden = localStorage.getItem('top-block-hidden-kuciak')
    if (hidden !== null) {
      block.style.display = 'none'
    }
  }());
</script>
