<div class="container">
  <div class="row-fluid">
    <div class="col-lg-12 well">
      <h2 class="text-center">Wie funktioniert FragDenStaat?</h2>
      <div class="row steps">

        <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
          <h3 class="step-number">1</h3>
          <div class="step-box" title="Stellen Sie eine Anfrage!">
            <p>Sie stellen eine Anfrage. Wir leiten diese an die zuständige Behörde weiter.</p>
          </div>
        </a>

        <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
          <h3 class="step-number">2</h3>
          <div class="step-box" title="Stellen Sie eine Anfrage!">
            <p>Sie erhalten eine Mail, sobald die Behörde auf Ihre Anfrage reagiert.</p>
          </div>
        </a>
        <a class="step col-md-4" href="{% url 'foirequest-make_request' %}">
          <h3 class="step-number">3</h3>
          <div class="step-box" title="Stellen Sie eine Anfrage!">
            <p>Die Antwort wird für Sie und auch für andere öffentlich einsehbar.</p>
          </div>
        </a>
      </div>
      <div class="text-center mt-3 mb-5">
        <p>
          <a href="/info/informationsfreiheit/einfuehrung/">
            Mehr zum<br/>Informations&shy;freiheitsgesetz
          </a>
        </p>
      </div>
    </div>
  </div> <!-- ende row -->
</div>
