{% extends "base.html" %}

{% block body %}


<!-- NEWSLETTER – Noch nicht fertig -->


<div class="newsletter">
  <div class="container col-xs-12">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="newsletter-form">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
          <h2>Sie wollen auf dem Laufenden bleiben?</h2>
          <p>
            Wir schreiben in unserem Newsletter regelmäßig über Informationsfreiheit – über Gerichtsurteile, Kampagnen  oder spannende Anfragen.
          </p>
          <div class="row pb-2 pt-3">
            <div class="col-lg-8 col-md-4 col-sm-8 col-xs-8">
              <label for="mce-EMAIL" class="sr-only" >Geben Sie hier Ihre Mail-Adresse ein</label>
              <input type="email" value="" name="EMAIL" class="newsletter-form__input" id="mce-EMAIL" placeholder="E-Mail" required >
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn newsletter-form__button">Anmelden!
              </button>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_929f1e07936386d34833e20d1_6c6b5db59f" value="">&lt;!&ndash; set to newsletter only&ndash;&gt;<input type="checkbox" value="1" checked="checked" name="group[16985][1]" id="mce-group[16985]-16985-0" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SPENDEN – Noch nicht fertig -->

<div class="donation">
  <div class="container col-xs-12 ">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <img class="col-md-12" src="https://cdn-images-1.medium.com/max/1120/1*pCYWinLYO1YT1rd2_ofTog.png">
        </div>
        <div class="col-md-6">
          <h2 class="pb-3 pt-3">Unterstützen Sie unsere Arbeit!</h2>
          <p>
             Wir kämpfen für mehr Transparenz in der Politik! Spenden Sie uns! Damit unterstützen Sie unsere Kampagnen, Klagen und Recherchen.
          </p>
          <a href="/spenden">
           <button class="donation__button">Jetzt spenden!</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ANFRAGENTEASER – Noch nicht fertig

<div class="col-md-2 request-teaser">
  <div class="container">
    <div class="justify-content-center pb-4 pt-4">
      <div class="row">
        <img class="request__pic" src="https://cdn-images-1.medium.com/max/1120/1*pCYWinLYO1YT1rd2_ofTog.png">
      </div>
      <div class="row">
        <p>
           Sie können Korrespondenzen zwischen Lobbyisten und Politikern, interne Weisungen einer Behörde und vieles mehr anfragen!
        </p>
        <a href="/anfrage-stellen/">
         <button class="donation__button">Stellen Sie eine Anfrage!</button>
        </a>
      </div>
    </div>
  </div>
</div>
-->


<div class="container-fluid">
  <div class="hero-image"></div>
</div>

<div class="submenue">
  <ul>
    <li><a href="">Was wir machen</a></li>
    <li><a href="">Team & Unterstützer</a></li>
    <li><a href="">Finanzierung</a></li>
    <li><a href="">Vorhaben 2018</a></li>
    <li><a href="">Klagen</a></li>
    <li><a href="">Mitmachen</a></li>
  </ul>
</div>

<div class="container mb-5 mt-5">
  <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">
    <p class="lead-in">
      Informationsfreiheit ist das Recht auf freien Zugang zu amtlichen Informationen. Sie ist eines der wichtigsten Grundrechte in der Wissensgesellschaft, das sich aus Artikel 5 des Grundgesetzes zur Meinungs- und Informationsfreiheit ergibt.
    </p>
  </div>
</div>

<div class="container mb-5 mt-5 pt-3">
  <div class="col-xs-12">
    <h2 class="text-center mt-5 mb-4">Das Ziel von FragDenStaat</h2>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center dreier-box">

      <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
        <img class="thumbnail" src="http://localhost:8000/files/media/main/6b/2b/6b2b1efd-e1e1-466f-81db-dc35e1721ba2/ziel_erleichtern.jpg">
        <p class="small-text">
          die Frage nach einer Behördenauskunft für alle Menschen zu erleichtern
        </p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
        <img class="thumbnail" src="http://localhost:8000/files/media/main/33/66/3366bad4-02eb-4b6f-ab55-8807afc47aad/ziel_dokumentieren.jpg">
        <p class="small-text">
          sowohl Anfragen der BürgerInnen als auch Antworten der Behörden transparent zu dokumentieren
        </p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
        <img class="thumbnail" src="http://localhost:8000/files/media/main/e8/ab/e8abff67-ed79-4916-9965-a4f5eabf9ad4/ziel_kultur.jpg">
        <p class="small-text">
          eine Kultur der Informationsfreiheit in Deutschland zu etablieren und die zugrunde liegenden Gesetze zu stärken
        </p>
      </div>
    </div>
  </div>
</div>


<div class="background__grey-bright">
  <div class="container col-xs-12 mb-5 mt-5">
    <div class="row justify-content-center pb-5 pt-2">
      <h2 class="text-center mt-5 mb-5">Aber was macht FragDenStaat genau</h2>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-sm-10">
          <p>
            FragDenStaat unterstützt Sie dabei, auf amtliche Informationen von deutschen Behörden zuzugreifen. Anfragen können einfach über ein Web-Formular gestellt werden. Die Anfrage wird dann von FragDenStaat per E-Mail an die entsprechende Behörde gesendet und gleichzeitig online veröffentlicht. Auch die anschließende Antwort der Behörde wird auf FragDenStaat öffentlich einsehbar gemacht.
          </p>
        </div>
        <div class="col-lg-5 col-sm-10">
          <p>
            Durch die Veröffentlichung der Antworten wird FragDenStaat zu einer Sammelstelle für amtliche Informationen. Außerdem dient die Veröffentlichung des Frage- und Antworthergangs dazu, die Antwortpraxis der Behörden transparent kontrollieren zu können. Das hilft letztlich auch den Behörden: Sie müssen ähnliche Anfragen nämlich nicht mehrfach beantworten, da Informationen bereits über FragDenStaat abrufbar sind.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container col-xs-12 mb-5 mt-5">
    <div class="row justify-content-center">
      <h2 class="text-center mt-5 mb-3">Erfolge der letzten Jahre</h2>
      <div class="row col-lg-10 text-center">
        <p class="teaser-intro mb-5">
        Neben Artikeln zu einer <a href="http://www.taz.de/!5088133/">Geburtstagsfeier im Bundeskanzleramt</a>, einer <a href="https://blog.zeit.de/open-data/2012/11/30/bmi-vermisst-aktion-ifg/">vermissten Werbekampagne</a>, und dem  <a href="https://fragdenstaat.de/presse/2014-01-21-bmi-mahnt-fragdenstaat-ab/">Zensurheberrecht</a>, konnten wir die Offenlegung tausender Dokumente durch unsere Kampagnen erreichen
      </p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-gesetze"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">Gläserne Gesetze</h5></a>
            <div class="teaser-description">
              <p>Zusammen mit Abgeordnetenwatch machen wir den Einfluss von Lobbyisten auf die Gesetzgebung transparent. So machen wir sichtbar, ob Forderungen von Interessenvertretern in Gesetzestexte übernommen wurden.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-bundestag"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">FragDenBundestag</h5></a>
            <div class="teaser-description">
              <p>Der Wissenschaftliche Dienst des Bundestags erstellt jedes Jahr hunderte Gutachten, die den Abgeordneten als Entscheidungsgrundlage dienen. Seit unserer Kampagne veröffntlicht der Bundestag die Gutachten auch aktiv.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-jobcenter"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">FragDasJobcenter</h5></a>
            <div class="teaser-description">
              <p>Jobcenter haben das Recht, ihre sogenannten Kunden bis ins Detail zu überwachen. Gleichzeitig sind sie selbst äußerst intransparent. Genau das wollen wir ändern.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="background__grey-bright">
  <div class="container col-xs-12 mb-5 mt-5">
    <div class="row justify-content-center">
      <h2 class="text-center mt-5 mb-3">Transparenz gilt auch für uns</h2>
      <div class="row col-lg-10 text-center">
        <p class="teaser-intro mb-5">
          Wenn Sie mehr über die Arbeit von FragDenStaat in den letzten Jahre erfahren wollen, finden Sie einige  Kennzahl in unseren Jahresberichten.
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-11">
        <div class="teaser-report">
          <a href="">
             <img class="thumbnail-report" src="http://localhost:8000/files/media/main/ed/ee/edee07f8-7986-4ee3-88f4-a6f928eb011d/jahresbericht-2017-5.jpg">
          </a>
          <div class="teaser-inner">
            <a href="">
              <h5 class="text-block">Jahresbericht 2017</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-11">
        <div class="teaser-report">
          <a href="">
             <img class="thumbnail-report" src="http://localhost:8000/files/media/main/b3/06/b306e038-cca9-4b14-bbb3-b501e9723f7c/jahresbericht-2016-2.jpg">
          </a>
          <div class="teaser-inner">
            <a href="">
              <h5 class="text-block">Jahresbericht 2016</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container col-xs-12 mb-5 mt-5">
  <div class="row justify-content-center pb-5 pt-2">
    <h2 class="text-center mt-5 mb-3">Weitere Projekte</h2>
    <div class="row col-lg-10 text-center">
      <p class="teaser-intro mb-5">
        Unsere Ziele sind vielfältig. Daher haben wir noch jede menhe weiterer Projekte ins Leben gerufen. Wir freuen uns auch für diese jederzeit über Unterstützung
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-volksentscheid"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">Transparenzgesetz Berlin</h5></a>
            <div class="teaser-description">
              <p>Im Berliner Koalitionsvertrag haben die Regierungsparteien vereinbart, das Berliner Informationsfreiheitsgesetz zu einem Transparenzgesetz weiterzuentwickeln. Wir liefern den Entwurf.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-ranking"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">Transparenzranking</h5></a>
            <div class="teaser-description">
              <p>Wir haben erstmalig die Informationsfreiheits- und Transparenzgesetze in Bund und Ländern miteinander verglichen.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-gutachten"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">sehrGutachten</h5></a>
            <div class="teaser-description">
              <p>Jobcenter haben das Recht, ihre sogenannten Kunden bis ins Detail zu überwachen. Gleichzeitig sind sie selbst äußerst intransparent. Genau das wollen wir ändern.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="hero-image"></div>
</div>

<div class="submenue">
  <ul>
    <li><a href="">Was wir machen</a></li>
    <li><a href="">Team & Unterstützer</a></li>
    <li><a href="">Finanzierung</a></li>
    <li><a href="">Vorhaben 2018</a></li>
    <li><a href="">Klagen</a></li>
    <li><a href="">Mitmachen</a></li>
  </ul>
</div>

<div class="container mb-5 mt-5">
  <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">
    <p class="lead-in">
      FragDenStaat ist ein 2011 gegründetes Projekt der Open Knowledge Foundation Deutschland e.V. Die Software wurde nach dem Vorbild der Seite „What do they know“ und „Befreite Dokumente“ entwickelt.
    </p>
  </div>
</div>

<div class="background__grey-bright">
  <div class="container mb-5 mt-5 pt-3">
    <div class="col-xs-12">
      <h2 class="text-center mt-5 mb-4">Das Team von FragDenStaat</h2>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center dreier-box">

        <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
          <img class=" img-circle" src="http://localhost:8000/files/media/main/16/81/16812d34-a5a1-4712-8e36-7d526b793c11/stefan.png">
          <h5 class="text-center">Stefan Wehrmeyer</h5>
          <p class="small-text">
            Stefan entwickelt die Software, stellt Informationsfreiheitsanfragen und arbeitet als Datenjournalist
          </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
          <img class=" img-circle" src="http://localhost:8000/files/media/main/61/01/61011510-1933-47c9-92f3-e17a9d03264c/arne.jpg">
          <h5 class="text-center">Arne Semsrott</h5>
          <p class="small-text">
            Arne macht den Support für Anfragen,  schreibt als Journalist über Informationsfreiheit  und entwickelt FragDenStaat weiter.
          </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-8 ml-3 mr-3 pl-3 pr-3">
          <img class="img-circle" src="http://localhost:8000/files/media/main/e8/ab/e8abff67-ed79-4916-9965-a4f5eabf9ad4/ziel_kultur.jpg">
          <h5 class="text-center">Nadine Stammen</h5>
          <p class="small-text">
            Nadine arbeitet an der Informationsarchitektur und dem Design von FragDenStaat und stellt Informationsfreiheitsanfragen.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mb-5 mt-5 pt-3">
  <div class="col-xs-12">
    <h2 class="text-center mt-5 mb-4">Folgende Organisationen unterstützen FragDenStaat ideell</h2>
  </div>
    <div class="container-fluid">
      <div class="supporter-banner">
        <div class="row justify-content-center dreier-box">
          <div class="col-lg-1 col-md-2 col-sm-4">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/e9/54/e9549218-82b3-40a8-9338-4ef92745fce1/bildschirmfoto_2018-05-29_um_222202.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/96/04/960422cb-bbd8-4def-8b26-5ce48f30bb94/bildschirmfoto_2018-05-29_um_230433.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/f9/32/f93281a1-52ce-4425-be1a-23a1b69dca19/dgif.jpg">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/82/13/8213e651-5504-473e-a8b0-0054eaf7ceb9/bildschirmfoto_2018-05-29_um_230412.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/36/91/36911c1e-6529-4675-82bb-8461a76f6bd6/bildschirmfoto_2018-05-29_um_230358.png">
          </div>
        </div>
      </div>
      <div class="supporter-banner">
        <div class="row justify-content-center dreier-box">
          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/37/6f/376f5b9c-a4bc-493c-b018-0c92b58b2883/bildschirmfoto_2018-05-30_um_081521.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/37/ac/37acb36e-584c-4d7f-8a64-d297ba0c1481/bildschirmfoto_2018-05-30_um_081534.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/01/ea/01ea7735-53df-4fdb-9ca1-4bef984def0c/bildschirmfoto_2018-05-30_um_081601.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/a2/49/a2495480-9ad5-4a48-bdf9-abedc06bfbc5/bildschirmfoto_2018-05-30_um_081611.png">
          </div>

          <div class="col-lg-1 col-md-2 col-sm-4 ml-3 mr-3 pl-3 pr-3">
            <img class="thumbnail" src="http://localhost:8000/files/media/main/fe/0c/fe0c5679-1afb-498a-bf1a-e3e4d6952eee/bildschirmfoto_2018-05-30_um_081619.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="background__grey-bright">
  <div class="container justify-content-center text-center mb-5 mt-5 pt-3">
    <div class="col-xs-12">
      <h2 class="mt-5 mb-4">Unsere ehrenamtlichen Unterstützer</h2>
      <div class="col-lg-10 offset-lg-1">
        <p class="teaser-intro mb-5">
          Wir haben das Glück, dass uns folgende Personen bei unserer Arbeit unterstützen, aber auch selber aktiv werden und die Informationsfreiheit in Deutschland voran bringen wollen. Größte Wertschätzung und ein fettes Dankeschön! 
        </p>
      </div>
    </div>
    <p>Christopher Bohlens <br>Johannes Filter <br> Clemens Prill<br> Maximilian Richt<br></p>
  </div>
</div>


<div class="col-md-12 next-reads">
  <div class="container">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-md-3">
          <img class="img-circle" src="http://localhost:8000/files/media/main/e8/ab/e8abff67-ed79-4916-9965-a4f5eabf9ad4/ziel_kultur.jpg">
        </div>  
      <div class="col-md-5">
        <h3 class="pt-3"> Mitmachen
        </h3>
        <p>
          FragDenStaat lebt schon immer von ehrenamtlicher Arbeit – auch vom Kernteam. Wir freuen uns immer über regelmäßige Unterstützung in allen Bereichen – sei es bei der Entwicklung eines neuen Features in Python, dem Design, der Öffentlichkeits- und Pressearbeit oder natürlich mithilfe juristischer Unterstützung bei unseren Klagen. 
        </p>
        <p>
          <button class="button">Wie man mitmachen kann</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5 mt-5 pt-3">
  <div class="col-xs-12">
    <h1 class="text-center mt-5 mb-4">Spenden Sie uns ❤️</h1>
  </div>
</div>

<div class="container mb-5 mt-5">
  <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">
    <p class="lead-in">
      Wir kämpfen für mehr Transparenz in der Politik! Mit Ihrer Spende unterstützen Sie den Erhalt von FragDenStaat, unsere Kampagnen, Klagen und Recherchen. Wir sind dankbar für jeden noch so kleinen Beitrag. Ein Dauerauftrag hilft uns, langfristig arbeiten zu können.
    </p>
  </div>
</div>

<div class="container col-xs-12 mb-5 mt-5">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="donation-usage">
        <div class="donation-inner">
          <p>Mit einer Spende von</p>
          <h2>5 Euro</h2>
          <div class="donation-description">
            <p>können wir den Support für 5 Anfragen im Monat bereitstellen</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="donation-usage">
        <div class="donation-inner">
          <p>Mit einer Spende von</p>
          <h2>10 Euro</h2>
          <div class="donation-description">
            <p>können wir eine Klage im Monat vorbereiten</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="donation-usage">
        <div class="donation-inner">
          <p>Mit einer Spende von</p>
          <h2>20 Euro</h2>
          <div class="donation-description">
            <p>können wir eine Kampagne im Monat vorbereiten</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="donation justify-content-center">
    <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">  
      <h2 class="text-center"> Wie Sie uns spenden können</h2>  

      <div id="accordion">
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header" id="headingOne">
              <h5 class="text__blue mb-0">
                &rarr; Überweisung
              </h5>
            </div>
          </a>
          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b>Kontoinhaber:</b>
                Open Knowledge Foundation Deutschland e.V.<br>
                <b>IBAN:</b>
                DE 36 4306 0967 1173 8932 00<br>
                <b>BIC:</b>
                GENODEM1GLS<br>
                <b>Verwendungszweck:</b>
                FragDenStaat<br>
                <b>BLZ:</b>
                430 609 67 (GLS Bank)<br>
              </div>
            </div>
          </a>
          <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="text__blue mb-0">
                  &rarr; Bargeld
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Wer keine Überweisung vornehmen kann oder möchte, kann uns auch gerne Bargeld zukommen lassen. An Arbeitstagen zwischen 10 und 18 Uhr kann man bei uns im Büro vorbei kommen. Oder Geldscheine per Briefpost verschicken, wobei diese von außen nicht erkennbar sein sollten.<br><br>
                    Open Knowledge Foundation Deutschland e.V.<br>
                    Singerstr. 109<br>
                    10179 Berlin<br>
                    (3. Stock)<br>
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="text__blue mb-0">
                  &rarr; Betterplace
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <script type="text/javascript">
                        /* Configure at https://www.betterplace.org/de/projects/15469-fragdenstaat-de/manage/iframe_donation_form/new */
                        var _bp_iframe        = _bp_iframe || {};
                        _bp_iframe.project_id = 15469; /* REQUIRED */
                        _bp_iframe.lang       = 'de'; /* Language of the form */
                        _bp_iframe.width = 600; /* Custom iframe-tag-width, integer */
                        _bp_iframe.color = '4886FF'; /* Button and banderole color, hex without "#" */
                        _bp_iframe.background_color = 'ffffff'; /* Background-color, hex without "#" */
                        _bp_iframe.default_amount = 50; /* Donation-amount, integer 1-99 */
                        _bp_iframe.default_data_transfer_accepted = true; /* true (default), false */
                        _bp_iframe.recurring_interval = 'single'; /* Interval for recurring donations, string out of ["single", "monthly", "quarter_yearly", "half_yearly", "yearly"] */
                        _bp_iframe.bottom_logo = true;
                        (function() {
                          var bp = document.createElement('script'); bp.type = 'text/javascript'; bp.async = true;
                          bp.src = 'https://betterplace-assets.betterplace.org/assets/load_donation_iframe.js';
                          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bp, s);
                        })();
                      </script>
                      <div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat;"><strong><a href="https://www.betterplace.org/de/projects/15469-fragdenstaat-de/donations/new">Jetzt Spenden für „FragDenStaat.de“ bei unserem Partner betterplace.org</a></strong></div>
                </div>
              </div>
            </div>
          </a>
          <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="text__blue mb-0">
                  &rarr; Bitcoin
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">  
      <h3>Überweisung</h3>
      <p> 
        <b>Kontoinhaber:</b>
        Open Knowledge Foundation Deutschland e.V.<br>
        <b>IBAN:</b>
        DE 36 4306 0967 1173 8932 00<br>
        <b>BIC:</b>
        GENODEM1GLS<br>
        <b>Verwendungszweck:</b>
        FragDenStaat<br>
        <b>BLZ:</b>
        430 609 67 (GLS Bank)<br>
      </p>

      <h3>Bargeld</h3>
      <p>
        Wer keine Überweisung vornehmen kann oder möchte, kann uns auch gerne Bargeld zukommen lassen. An Arbeitstagen zwischen 10 und 18 Uhr kann man bei uns im Büro vorbei kommen. Oder Geldscheine per Briefpost verschicken, wobei diese von außen nicht erkennbar sein sollten.<br><br>
        Open Knowledge Foundation Deutschland e.V.<br>
        Singerstr. 109<br>
        10179 Berlin<br>
        (3. Stock)<br>
      </p>

      <h3>Bargeld</h3>
      <p>
        Wer keine Überweisung vornehmen kann oder möchte, kann uns auch gerne Bargeld zukommen lassen. An Arbeitstagen zwischen 10 und 18 Uhr kann man bei uns im Büro vorbei kommen. Oder Geldscheine per Briefpost verschicken, wobei diese von außen nicht erkennbar sein sollten.<br><br>
        Open Knowledge Foundation Deutschland e.V.<br>
        Singerstr. 109<br>
        10179 Berlin<br>
        (3. Stock)<br>
      </p>

      <script type="text/javascript">
        /* Configure at https://www.betterplace.org/de/projects/15469-fragdenstaat-de/manage/iframe_donation_form/new */
        var _bp_iframe        = _bp_iframe || {};
        _bp_iframe.project_id = 15469; /* REQUIRED */
        _bp_iframe.lang       = 'de'; /* Language of the form */
        _bp_iframe.width = 600; /* Custom iframe-tag-width, integer */
        _bp_iframe.color = '4886FF'; /* Button and banderole color, hex without "#" */
        _bp_iframe.background_color = 'ffffff'; /* Background-color, hex without "#" */
        _bp_iframe.default_amount = 50; /* Donation-amount, integer 1-99 */
        _bp_iframe.default_data_transfer_accepted = true; /* true (default), false */
        _bp_iframe.recurring_interval = 'single'; /* Interval for recurring donations, string out of ["single", "monthly", "quarter_yearly", "half_yearly", "yearly"] */
        _bp_iframe.bottom_logo = true;
        (function() {
          var bp = document.createElement('script'); bp.type = 'text/javascript'; bp.async = true;
          bp.src = 'https://betterplace-assets.betterplace.org/assets/load_donation_iframe.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bp, s);
        })();
      </script>
      <div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat;"><strong><a href="https://www.betterplace.org/de/projects/15469-fragdenstaat-de/donations/new">Jetzt Spenden für „FragDenStaat.de“ bei unserem Partner betterplace.org</a></strong>
      </div>
    </div>
  </div>
</div>

-->


<div class="container mb-5 mt-5">
  <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">
    <p>
      Unser Trägerverein ist gemeinnützig und Ihre Spende daher steuerlich absetzbar. Außerdem ist er Mitglied in der Initiative Transparente Zivilgesellschaft. Bei Spenden unter 200 Euro benötigen Sie keine Spendenquitting. Falls Sie bei höheren Spenden eine Spendenquittung wünschen, kontaktieren Sie uns bitte kurz unter Angabe Ihres Namens unter info@fragdenstaat.de.
    </p>
  </div>
</div>

<div class="shop-teaser">
  <div class="teaser">
    <a href=""><div class="teaser-image-shop"></div></a>
    <div class="teaser-inner">
      <a href=""><h5 class="teaser-title">Unser Merchandise finden Sie im Shop</h5></a>
    </div>
  </div>
</div>

<div class="container col-xs-12 mb-5 mt-5">
  <div class="row justify-content-center pb-5 pt-2">
    <h2 class="text-center mt-5 mb-3">Erfolge der letzten Jahre</h2>
    <div class="row col-lg-10 text-center">
      <p class="teaser-intro mb-5">
        Neben Artikeln zu einer <a href="http://www.taz.de/!5088133/">Geburtstagsfeier im Bundeskanzleramt</a>, einer <a href="https://blog.zeit.de/open-data/2012/11/30/bmi-vermisst-aktion-ifg/">vermissten Werbekampagne</a>, und dem  <a href="https://fragdenstaat.de/presse/2014-01-21-bmi-mahnt-fragdenstaat-ab/">Zensurheberrecht</a>, konnten wir die Offenlegung tausender Dokumente durch unsere Kampagnen erreichen
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-gesetze"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">Gläserne Gesetze</h5></a>
            <div class="teaser-description">
              <p>Zusammen mit Abgeordnetenwatch machen wir den Einfluss von Lobbyisten auf die Gesetzgebung transparent. So machen wir sichtbar, ob Forderungen von Interessenvertretern in Gesetzestexte übernommen wurden.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-bundestag"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">FragDenBundestag</h5></a>
            <div class="teaser-description">
              <p>Der Wissenschaftliche Dienst des Bundestags erstellt jedes Jahr hunderte Gutachten, die den Abgeordneten als Entscheidungsgrundlage dienen. Seit unserer Kampagne veröffntlicht der Bundestag die Gutachten auch aktiv.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="teaser">
          <a href=""><div class="teaser-image-jobcenter"></div></a>
          <div class="teaser-inner">
            <a href=""><h5 class="teaser-title">FragDasJobcenter</h5></a>
            <div class="teaser-description">
              <p>Jobcenter haben das Recht, ihre sogenannten Kunden bis ins Detail zu überwachen. Gleichzeitig sind sie selbst äußerst intransparent. Genau das wollen wir ändern.</p>
              <a class="teaser-read-more" href=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="hero-image"></div>
</div>

<div class="submenue">
  <ul>
    <li><a href="">Was wir machen</a></li>
    <li><a href="">Team & Unterstützer</a></li>
    <li><a href="">Finanzierung</a></li>
    <li><a href="">Vorhaben 2018</a></li>
    <li><a href="">Klagen</a></li>
    <li><a href="">Mitmachen</a></li>
  </ul>
</div>

<div class="container mb-5 mt-5">
  <div class="col-lg-8 offset-lg-2 col-md-10 col-xs-12">
    <p class="lead-in">     
      Wer Transparenz fordert, muss auch transparent sein. Wir geben an dieser Stelle und in unseren Transparenzberichten im Blog regelmäßig Einblicke in unsere Einnahmen und Ausgaben. 
    </p>
  </div>
</div>

<div class="container col-xs-12">
  <div class="row justify-content-center">
    <div class="textbox col-lg-7 col-sm-8 mb-5 mt-3">
      <p>
        Wir erhalten derzeit eine monatliche finanzielle Unterstützung der Wau-Holland-Stiftung in Höhe von 500 Euro. Für die Entwicklung eines Kampagnentools erhalten wir für einen Zeitraum von sechs Monaten zudem eine Fördersumme von 19.980 Euro im Rahmen von demokratie.io.
      </p>

      <div class="table-layout table-layout__committee">
        <div class="table__commitee">
          <div class="table-layout__item">
            <span class="table-layout__item--first">
              <span class="table-layout__item--first-text">Einnahmen</span>
            </span>
            <span class="table-layout__item--second">
              nicht so viel                
            </span>
          </div>
        </div>
      </div>


      <table>
        <thead>
          <tr>
            <th scope="col">Quartal 01/2018</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Spenden</th>
            <td>13.442 Euro</td>
          </tr>
          <tr>
            <th scope="row">Honorare</th>
            <td>240 Euro</td>
          </tr>
          <tr>
            <th scope="row">Verkäufe aus unserem Shop</th>
            <td>xx Euro</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th scope="col">Quartal 01/2018</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Klagen</th>
            <td>12.426 Euro</td>
          </tr>
          <tr>
            <th scope="row">Fahrtkosten & Porto</th>
            <td>150 Euro</td>
          </tr>
          <tr>
            <th scope="row">Verkäufe aus unserem Shop</th>
            <td>xx Euro</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

{% endblock %}