{% extends "foirequest/header/tabs.html" %}

{% load i18n %}
{% load foirequest_tags %}
{% load legalaction %}
{% load campaign_tags %}


{% block request_top_menu_last %}

{% if object|can_write_foirequest:request %}
  {% if object.costs %}
  <li class="alpha-tabs__tab">
    <a
      href="#crowdfunding-panel"
      id="crowdfunding-tab"
      data-toggle="tab"
      class="alpha-tabs__tab-link"
      data-toggle="tab"
      aria-controls="crowdfunding-panel"
      role="tab"
    >
      <span>Crowdfunding</span>
    </a>
  </li>
  {% endif %}

  {% can_use_klageautomat object as has_right_permissions %}
  {% if object.is_actionable or has_right_permissions %}
    <li class="alpha-tabs__tab">
      <a
        href="#legalaction-panel"
        id="legalaction-tab"
        data-toggle="tab"
        class="alpha-tabs__tab-link"
        data-toggle="tab"
        aria-controls="legalaction-panel"
        role="tab"
      >
        <span>Klage prüfen</span>
      </a>
    </li>
  {% endif %}
{% endif %}

{% endblock %}
