{% load thumbnail %}

<div class="document-pages">
    {% if object.title %}
        <h4>{{ object.title }}</h4>
    {% endif %}
    <div class="row">
        {% for page in pages %}
            <div class="col">
                <picture>
                    {% if page.image_small %}
                        <img class="img-fluid" src="{{ page.image_small.url }}" alt="Page {{ page.number }}">
                    {% endif %}
                </picture>
            </div>
        {% endfor %}
    </div>

</div>