{% load static %}
{% load sekizai_tags %}

{% include "filingcabinet/_documentcollection_viewer.html" with object=object config=config documentcollection_data=documentcollection_data %}

{% addtoblock "css" %}
  <link href="{% static 'css/filingcabinet.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'js/common.js' %}" defer></script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static 'js/filingcabinet.js' %}" defer></script>
{% endaddtoblock %}
