{% load static %}
{% load sekizai_tags %}

{% include "filingcabinet/_document_viewer.html" with object=object page_number=page_number defaults=defaults config=config beta=beta %}

{% addtoblock "css" %}
  <link href="{% static 'css/filingcabinet.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'js/common.js' %}" defer></script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static 'js/filingcabinet.js' %}" defer></script>
{% endaddtoblock %}
