{% load thumbnail %}
{% load i18n %}
<div class="cms-page-annotation">
    {% if title %}<h4>{{ title }}</h4>{% endif %}
    {% if description or object.highlight %}<figure>{% endif %}
        {% if object.image %}
            <picture>
                <source media="(min-width: 1200px)"
                        srcset="{% thumbnail object.image 1140x0 %}">
                <source media="(min-width: 992px)"
                        srcset="{% thumbnail object.image 940x0 %}">
                <img class="img-fluid mx-auto d-block"
                     src="{% thumbnail object.image 768x0 crop=scale %}"
                     alt="{{ title }}"
                     loading="lazy"
                     {% if instance.zoom %}data-zoomwidth="{{ object.width }}" data-zoom="{{ object.image.url }}"{% endif %}>
            </picture>
        {% else %}
            <div class="spinner-grow" role="status"></div>
        {% endif %}
        {% if description or object.highlight %}
            <figcaption>
                {{ description }}
                {% if object.highlight %}
                    {% if description %}<br />{% endif %}
                    <small class="text-body-secondary text-end">{% translate "With highlights added" %}</small>
                {% endif %}
            </figcaption>
        </figure>
    {% endif %}
</div>
