from .settings import FragDenStaatBase


class Dev(FragDenStaatBase):
    # Your custom settings here
    GEOIP_PATH = None
    HAYSTACK_CONNECTIONS = {
        'default': {
            'ENGINE': 'haystack.backends.simple_backend.SimpleEngine',
        }
    }
