{% load thumbnail %}
{% load markup %}

{# start render figure/figcaption #}
{% if instance.caption_text or instance.picture.author or instance.picture.description %}
  <figure>
{% endif %}
{# end render figure/figcaption #}

{% if picture_link %}
    <a href="{{ picture_link }}"
    {% if instance.link_target %} target="{{ instance.link_target }}" rel="noopener"{% endif %}
    {{ instance.link_attributes_str }}>
{% endif %}

{% if not instance.external_picture and not instance.use_no_cropping %}
<picture>
  {% if not instance.width and not instance.height %}
    <source
      media="(min-width: 1200px)"
      srcset="{% thumbnail instance.picture 1140x0 subject_location=instance.picture.subject_location %}">
    <source
      media="(min-width: 992px)"
      srcset="{% thumbnail instance.picture 940x0 subject_location=instance.picture.subject_location %}">
  {% endif %}
{% endif %}
<img class="{% if instance.width or instance.height %}{% else %}img-fluid{% endif %}{% if instance.attributes.class %} {{ instance.attributes.class }}{% endif %}" src="{% spaceless %}
    {% if instance.external_picture %}
        {{ instance.external_picture }}
    {% elif instance.use_no_cropping %}
        {{ instance.picture.url }}
    {% elif instance.height %}
      {% with height=instance.height|stringformat:'d' %}
        {% thumbnail instance.picture '0x'|add:height crop=scale subject_location=instance.picture.subject_location %}
      {% endwith %}
    {% elif instance.width %}
      {% with width=instance.width|stringformat:'d' %}
        {% thumbnail instance.picture width|add:'x0' crop=scale subject_location=instance.picture.subject_location %}
      {% endwith %}
    {% elif instance.width and instance.height %}
      {% with width=instance.width|stringformat:'d' height=instance.height|stringformat:'d' %}
        {% thumbnail instance.picture width|add:'x'|add:height crop=scale subject_location=instance.picture.subject_location %}
      {% endwith %}
    {% elif instance.picture %}
        {% thumbnail instance.picture 768x0 crop=scale subject_location=instance.picture.subject_location %}
    {% endif %}{% endspaceless %}"
    {% if instance.picture.default_alt_text and not instance.attributes.alt %} alt="{{ instance.picture.default_alt_text }}"{% endif %}
    {% if instance.width %} width="{{ instance.width }}"{% endif %}
    {% if instance.height %} height="{{ instance.height }}"{% endif %}
    {{ instance.attributes_str }}
>
{% if not instance.external_picture and not instance.use_no_cropping %}
</picture>
{% endif %}

{% if picture_link %}
    </a>
{% endif %}

{# start render figure/figcaption #}
{% if instance.caption_text or instance.picture.author or instance.picture.description %}
  <figcaption class="text-right">
    {% if instance.caption_text or instance.picture.description %}
    <div class="picture-description">
      {% if instance.caption_text %}{{ instance.caption_text }}{% elif instance.picture.description %}{{ instance.picture.description }}{% endif %}
      {% if instance.picture.author %} – {% endif %}
    </div>
    {% endif %}
    {% if instance.picture.author %}
      <div class="picture-credits">
        {{ instance.picture.author|markdown }}
      </div>
    {% endif %}
  </figcaption>
  </figure>
{% endif %}
{# end render figure/figcaption #}

{% comment %}
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
    # https://github.com/divio/django-filer/blob/master/filer/models/imagemodels.py
    # http://easy-thumbnails.readthedocs.io/en/2.1/usage/#templates
    {{ instance.picture }}
    # Available variables:
    {{ instance.width }}
    {{ instance.height }}
    {{ instance.alignment }}
    {{ instance.caption_text }}
    {{ instance.attributes_str }}
    # picture helper
    {{ instance.get_size }} or {{ picture_size }}
    # link settings
    {{ instance.link_url }}
    {{ instance.link_page }}
    {{ instance.link_target }}
    {{ instance.link_attributes_str }}
    # link helper
    {{ instance.get_link }} or {{ picture_link }}
    # cropping settings
    {{ instance.use_automatic_scaling }}
    {{ instance.use_no_cropping }}
    {{ instance.use_crop }}
    {{ instance.use_upscale }}
    {{ instance.thumbnail_options }}
    # activate DJANGOCMS_PICTURE_NESTING to enable nested plugins:
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
{% endcomment %}
