{% load i18n %}
{% load form_helper %}
<form action="{{ form.action }}"
      method="POST"
      class="donation-form {% if object.extra_classes %}{{ object.extra_classes }}{% else %}text-bg-body text-body px-3 pt-3 pb-1{% endif %}"
      {% if form.quick_payment_only %}hidden{% endif %}
      {% if object.open_in_new_tab %}target="_blank"{% endif %}>
    {% csrf_token %}
    {{ form.form_settings }}
    {{ form.reference }}
    {{ form.keyword }}
    {{ form.form_url }}
    {{ form.query_params }}
    <fieldset>
        <legend class="bg-primary text-white px-2 py-0 fw-bold float-none">
            {% if form.settings.title %}
                {{ form.settings.title }}
            {% else %}
                {% trans "Your donation frees information" %}
            {% endif %}
        </legend>
        {% if form.settings.prefilled_amount %}
            <p class="mt-1 mb-3">
                <span class="fs-4">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {{ form.prefilled_amount_label }}
                </span>
                <button type="button"
                        class="btn btn-link p-0 float-end hideparent"
                        data-bs-toggle="collapse"
                        data-bs-target="#donation-form-amount"
                        aria-expanded="false"
                        aria-controls="donation-form-amount">{% translate "Change" %}</button>
            </p>
            <div class="collapse" id="donation-form-amount">{% include "fds_donation/forms/_donation_form_step1.html" %}</div>
        {% else %}
            {% include "fds_donation/forms/_donation_form_step1.html" %}
        {% endif %}
        {% if form.quick_payment or form.quick_payment_only %}
            {% include "fds_donation/forms/_donation_quick.html" %}
        {% endif %}
        {% if form.settings.collapsed and not form.quick_payment_only %}
            <div class="d-grid gap-2 mx-auto col-8">
                <button type="button"
                        class="btn btn-primary btn-lg mb-3 hideparent"
                        data-bs-toggle="collapse"
                        data-bs-target="#donation-form-detail"
                        aria-expanded="false"
                        aria-controls="donation-form-detail">{% trans "Continue" %}</button>
            </div>
        {% endif %}
    </fieldset>
    {% if not form.quick_payment_only %}
        {% if form.settings.collapsed %}
            <div class="collapse" id="donation-form-detail">{% include "fds_donation/forms/_donation_form_step2.html" %}</div>
        {% else %}
            {% include "fds_donation/forms/_donation_form_step2.html" %}
        {% endif %}
    {% endif %}
</form>
