{% load form_helper %}
{% if form.chosen_gift %}
    {% if form.chosen_gift.is_hidden %}
        {{ form.chosen_gift }}
    {% else %}
        <div class="row">
            <div class="col-12">{% render_field form.chosen_gift %}</div>
        </div>
    {% endif %}
{% endif %}
{% if form.gift_error_message %}<div class="alert alert-warning">{{ form.gift_error_message }}</div>{% endif %}
<div class="row">
    <div class="col-12">{% render_field form.amount stacked=True %}</div>
</div>
{% if form.interval.is_hidden %}
    {{ form.interval }}
{% else %}
    <div class="row">
        <div class="col-12" data-group="interval">{% render_field form.interval inline=True %}</div>
    </div>
{% endif %}
{% if form.purpose.is_hidden %}
    {{ form.purpose }}
{% else %}
    <div class="row">
        <div class="col-12">{% render_field form.purpose stacked=True %}</div>
    </div>
{% endif %}
