{% load i18n %}
{% load form_helper %}
<fieldset>
    <legend class="bg-primary text-white px-2 py-0 fw-bold float-none ">{% trans "Your details" %}</legend>
    <div class="row">
        <div class="col-12 col-md-3">{% render_field form.salutation stacked=True %}</div>
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-sm-6">{% render_field form.first_name stacked=True %}</div>
                <div class="col-sm-6">{% render_field form.last_name stacked=True %}</div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            {% render_field form.email stacked=True %}
            <small class="mt-5">
                <a href="#company-field" data-bs-toggle="collapse">{% trans "&rarr; Do you want to donate as a company?" %}</a>
            </small>
        </div>
    </div>
    <div class="row mt-3 collapse" id="company-field">
        <div class="col-12">{% render_field form.company_name stacked=True %}</div>
    </div>
    <div class="row mt-3">
        <div class="col-12">{% render_field form.receipt inline=True %}</div>
    </div>
    <div class="collapse" id="address-fields">
        <div class="row">
            <div class="col-12">{% render_field form.address stacked=True %}</div>
        </div>
        <div class="row">
            <div class="col-4">{% render_field form.postcode stacked=True %}</div>
            <div class="col-8">{% render_field form.city stacked=True %}</div>
        </div>
        <div class="row">
            <div class="col-12">{% render_field form.country stacked=True %}</div>
        </div>
    </div>
</fieldset>
{% if form.chosen_gift %}
    {% include "fds_donation/forms/_donation_form_shipping.html" %}
{% endif %}
<fieldset>
    <legend class="bg-primary text-white px-2 py-0 fw-bold float-none">{% trans "Payment method" %}</legend>
    <div class="row">
        <div class="col-12">
            <div class="d-none onion-show alert alert-danger">
                {% trans "Donations via credit card, SEPA or Paypal do not work via our .onion-site." %}
            </div>
            {% if form.payment_method.is_hidden %}
                {{ form.payment_method }}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {{ form.payment_method_label }}
            {% else %}
                <div class="mb-3">{% render_field form.payment_method stacked=True %}</div>
            {% endif %}
            <p class="text-body-secondary">
                <i class="fa fa-lock"></i>
                {% trans "Your payment details will be transmitted securely in the next step." %}
            </p>
        </div>
    </div>
</fieldset>
{% if not request.user.is_authenticated and form.account or form.contact %}
    <fieldset>
        <legend class="bg-primary text-white px-2 py-0 fw-bold float-none">{% trans "Stay informed" %}</legend>
        <div class="row">
            {% if form.contact %}
                <div class="col-auto col-md-6 flex-fill mt-2">
                    <div class="card border-primary">
                        <div class="card-header">
                            <h4>{{ form.contact.label }}</h4>
                        </div>
                        <div class="card-body">
                            <p>{% trans "Receive our newsletter about freedom of information in German." %}</p>
                            {% render_field form.contact stacked=True show_label=False %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if not request.user.is_authenticated and form.account %}
                <div class="col-auto col-md-6 flex-fill mt-2">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans "Get an account" %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>{{ form.account.label }}</label>
                                {% render_field form.account stacked=True show_label=False %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endif %}
<div class="row mt-3">
    <div class="col-12 col-md-6 text-end ms-auto d-grid gap-2">
        {% if form.test %}
            {% render_field form.test %}
        {% endif %}
        <button id="donate-now"
                type="submit"
                class="btn btn-lg btn-primary btn-threed mb-3">{% trans "Donate now" %}</button>
    </div>
</div>
