{% extends "base.html" %}
{% load form_helper %}

{% block body %}
<div class="container mb-5 mt-5" style="min-height: 1000px;">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'klageautomat-index' %}">Klageautomat testen</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ law_case.title }}: {{ foi_request.title|truncatechars:50 }}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h3>{{ law_case.title }}</h3>
      <div>zu: <a href="{% url 'foirequest-shortlink' foi_request.id %}" target="_blank">{{ foi_request.title }}</a>,</br>an: {{ foi_request.public_body }}</div>

      <form method="post">
        {{ form.media }}
        {% csrf_token %}
        {{ form }}
        <div class="mt-3 mb-3 float-right">
          <a href="{% url 'klageautomat-download-answer' foi_request.id %}" class="btn btn-primary btn-sm">Als PDF herunterladen</a>
          <input class="btn btn-primary btn-sm" type="submit" value="Änderungen speichern" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}