{% extends "base.html" %}
{% load form_helper i18n %}

{% block body %}
<div class="breadcrumb-container">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account-show' %}">{% trans "My requests" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'foirequest-shortlink' foi_request.id %}">{{ foi_request.title|truncatechars:50 }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Klageautomat</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="breadcrumb-container breadcrumb-container-header">
  <!-- <div class="container pt-2">
    <div class="alert alert-success d-print-none">
      {{ help_message }}
    </div>
  </div> -->
  <div class="container mb-5">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <h2>{{ law_case.title }}</h2>
        <div>zu: <a href="{% url 'foirequest-shortlink' foi_request.id %}" target="_blank">{{ foi_request.title }}</a>,</br>an: {{ foi_request.public_body }}</div>
      </div>
    </div>

    <div class="row justify-content-left mt-2">
      <div class="col-md-8">
        <form method="post" class="clearfix mt-3 border-gray shadow-sm p-3">
          {{ form.media }}
          {% csrf_token %}
          {{ form }}
          <div class="row mt-2">
            <div class="col">
              <div class="dropdown">
                <button id="downloadActions" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Klage herunterladen als
                </button>
                <div class="dropdown-menu alpha-dropdown-menu" aria-labelledby="downloadActions">
                  <a class="dropdown-item" href="{% url 'klageautomat-word-download-answer' foi_request.id %}">
                    Word
                  </a>
                  <a class="dropdown-item" href="{% url 'klageautomat-pdf-download-answer' foi_request.id %}">
                    PDF
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <input class="btn btn-primary btn-sm float-right" type="submit" value="Speichern" />
            </div>
          </div>
        </form>

        <!-- <div class="clearfix mt-3 border-gray bg-white shadow-sm p-3 overflow-auto" style="height: 500px;">
          {{ answer.rendered_document | safe }}
        </div> -->
        <div class="row mt-3 float-right">
          <!-- <div class="col">
            <div class="dropdown">
              <button id="downloadActions" type="button" class="btn btn-primary mt-n2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Klage herunterladen als
              </button>
              <div class="dropdown-menu alpha-dropdown-menu" aria-labelledby="downloadActions">
                <a class="dropdown-item" href="{% url 'klageautomat-word-download-answer' foi_request.id %}">
                  Word
                </a>
                <a class="dropdown-item" href="{% url 'klageautomat-pdf-download-answer' foi_request.id %}">
                  PDF
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      {% if help_message %}
      <div class="col-md-4 mt-3">
        <div id="infobox" class="info-box mb-3 info-box--regular mt-0">
          <div class="info-box__header d-flex flex-nowrap justify-content-between align-items-center">
            <div>
              <h3 class="h5 info-box__title">Wie geht es weiter?</h3>
              <div class="info-box__subtitle"></div>
            </div>
          </div>

          <div class="info-box__body">
            <ul class="info-box__list ">
              <li class="info-box__list-item">
                <div class="info-box__list-label"></div>
                <div class="info-box__list-value">
                  {{ help_message }}
                </div>
              </li>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}