{% extends "base.html" %}


{% block body %}
<div class="container mb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Klageautomat testen:</h1>

      <ul class="list-group">
        {% for foirequest in request.user.foirequest_set.all %}
        <li class="list-group-item">
          <a href="{% url 'klageautomat-form_wizard' foirequest.id %}">{{ foirequest }}</a></br>
          <small>an: {{ foirequest.public_body.name }}</small>
        </li>
        {% endfor %}
    </div>
    </ul>
  </div>
</div>
{% endblock %}