{% extends "base.html" %}


{% block body %}
<div class="container mb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Klageautomat testen:</h1>

      <form action="" method="get" class="row g-3">
          <div class="col-12">
            <label for="inputSearch" class="form-label">Suche</label>
            <input type="text" {% if request.GET.Search %}value="{{ request.GET.Search }}"{% endif %} class="form-control" name="Search" placeholder="Titel der Anfrage">
          </div>
          <div class="col-12 row">
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="allRequests" name="allRequests" {% if request.GET.allRequests == "on" %}checked{% endif %}>
                <label class="form-check-label" for="allRequests">
                  In allen Anfragen suchen (nicht nur meine)
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="onlyCandidates" name="onlyCandidates" {% if request.GET.onlyCandidates == "on" %}checked{% endif %}>
                <label class="form-check-label" for="onlyCandidates">
                  Nur Klagekandidaten anzeigen
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-right">Go!</button>
            {% if request.GET.allRequests or request.GET.Search or request.GET.onlyCandidates  %}
            <a href="{% url 'klageautomat-index' %}" type="submit" class="btn btn-link float-right mr-1">Clear</a>
            {% endif %}
          </div>
      </form>

      {% if page_obj %}
      <ul class="list-group mt-5">
        {% for foirequest in page_obj%}
        <li class="list-group-item px-0 border-0">
          <div class="card">
            <div class="card-body">
              {% if foirequest.answer_exists %}
              <div class="alert alert-info rounded-0" role="alert">
                <small>Zu dieser Anfrage wurde bereits eine Klage erstellt.</small>
              </div>
              {% endif %}
              {% if not foirequest.needs_waiting %}
              <div class="text-right">
                <span class="badge rounded-pill bg-primary text-light">Klagekandidat</span>
              </div>
              {% endif %}
              <h5 class="card-title">{{ foirequest }}</h5>
              <div class="card-subtitle text-muted">
                <small>an: {{ foirequest.public_body.name }}</small>
              </div>
            </div>
            <div class="card-footer bg-white text-right">
              <a href="{% url 'klageautomat-form_wizard' foirequest.id %}" class="btn btn-link btn-sm">
                {% if foirequest.answer_exists %}
                  Klage neu erstellen
                {% else %}
                  Klage erstellen
                {% endif %}
              </a>
              {% if foirequest.answer_exists %}
              <a href="{% url 'klageautomat-edit-answer' foirequest.id %}" class="btn btn-link btn-sm">Klage bearbeiten</a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
        <div class="row justify-content-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">

              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?Search={{ request.GET.Search }}&allRequests={{ request.GET.allRequests }}&onlyCandidates={{ request.GET.onlyCandidates }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}

              <li class="page-item">
                <div class="page-link">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
              </li>

              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?Search={{ request.GET.Search }}&allRequests={{ request.GET.allRequests }}&onlyCandidates={{ request.GET.onlyCandidates }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}

            </ul>
          </nav>
        </div>
      </ul>
      {% else %}
        <div class="alert alert-info mt-5" role="alert">
          Nichts gefunden!
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}