{% extends "admin/change_form.html" %}
{% load i18n %}

{% block field_sets %}
{% if events %}
<div>
  <h3>{% translate "Statistics"%}</h3>

  <table>
    <tr>
      <th>{% translate "Variant" %}</th>
      <th>{% translate "number" %}</th>
      <th>{% translate "percentage" %}</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>{{ event.variant }}</td>
      <td>{{ event.count }}</td>
      <td>{{ event.percentage|floatformat:2 }}%</td>
    </tr>
    {% endfor %}
    <tr>
      <td><strong>{% translate "Total" %}</strong></td>
      <td><strong>{{ events_count }}</strong></td>
      <td><strong>100%</strong></td>
    </tr>
  </table>

</div>
{% endif %}
{{ block.super }}
{% endblock %}