{% extends 'account/new_terms.html' %}

{% block terms_details %}
<p>
  Unsere Nutzungsbedingungen wurden von <a href="http://www.irights-law.de/">iRights.Law</a> komplett überarbeitet und verständlicher gemacht.
</p>

<p>
  Folgendes ist besser geworden:
</p>

<ul>
  <li>
    Klare Trennung der zwei grundlegenden FragDenStaat.de-Funktionalitäten <strong>E-Mail-Dienst</strong> und <strong>Anfragen-Archiv</strong> in separate Nutzungsbedingungen.
  </li>
  <li>
    Bessere Erklärung, welche Dienstleistungen FragDenStaat.de anbietet und wie diese funktionieren.
  </li>
  <li>
    Verständlichere Datenschutzerklärung
  </li>
  <li>
    Möglichkeit eines Newsletters
  </li>
</ul>

<p>
  Mit den neuen Nutzungsbedingungen wollen wir Nutzerinnen und Nutzern sowie Behörden verständlicher kommunizieren, was FragDenStaat.de für Dienstleistungen anbietet. Falls Sie zu diesen Änderungen Fragen haben, schreiben Sie uns eine Mail an <a href="mailto:info@fragdenstaat.de">info@fragdenstaat.de</a>.
</p>

{% endblock %}
