@import 'bootstrap/scss/maps';

// Bootstrap imports
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Layout & components
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
// @import "dropdown";
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import "bootstrap/scss/toasts";
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// Icon font
$fa-font-path: 'font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';

// Import FontAwesome 4 explicitly to:
// - add font-display: swap
// - remove svg font
@import 'font-awesome/scss/variables';
@import 'font-awesome/scss/mixins';

$fa-font-path: 'font-awesome/fonts';
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src:
    url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}')
      format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}')
      format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}')
      format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}')
      format('truetype');
  //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import 'font-awesome/scss/core';
@import 'font-awesome/scss/larger';
@import 'font-awesome/scss/fixed-width';
@import 'font-awesome/scss/list';
@import 'font-awesome/scss/bordered-pulled';
@import 'font-awesome/scss/animated';
@import 'font-awesome/scss/rotated-flipped';
@import 'font-awesome/scss/stacked';
@import 'font-awesome/scss/icons';
@import 'font-awesome/scss/screen-reader';

// letter-spacing: .03rem;

@import 'froide/frontend/styles/root';
@import 'froide/frontend/styles/utilities';

// Own components
// FIXME: these are not really components
@import 'froide/frontend/styles/components/base';
@import 'froide/frontend/styles/components/breadcrumb';
@import 'froide/frontend/styles/components/buttons';
@import 'froide/frontend/styles/components/comments';
@import 'froide/frontend/styles/components/dropdown';
@import 'froide/frontend/styles/components/footer';
@import 'froide/frontend/styles/components/forms';
@import 'froide/frontend/styles/components/links';
@import 'froide/frontend/styles/components/js-switches';
@import 'froide/frontend/styles/components/misc';
@import 'header';
@import 'legacy';
@import 'froide/frontend/styles/components/redacted';
@import 'froide/frontend/styles/components/request-status';
@import 'froide/frontend/styles/components/type';
@import 'froide/frontend/styles/components/share-buttons';
@import 'froide/frontend/styles/components/print';

@import 'type';
@import 'homepage';
@import 'misc';
@import 'banner';
@import 'blog';
@import 'help';
@import 'cms_documents';
@import 'cms_elements';
@import 'cms_utils';
@import 'cards';
@import 'campaigns';
@import 'donations';
@import 'collapsible';
@import 'glider';
@import 'legal_actions';
