/*================================
=           List-Item           =
================================*/

.blog-lead {
  color: var(--#{$prefix}secondary-color);
  font-weight: 400;
  margin-top: 1.25rem;

  > p {
    margin-bottom: 0;
  }
}

.blog-teaser-large {
  margin: 1rem 0 3rem 0;
}

.blog-teaser-top {
  max-width: none;
  position: relative;
  padding: 0 0rem;
  min-height: 400px;
}

@include media-breakpoint-up(md) {
  .blog-teaser-text {
    background-color: var(--#{$prefix}body-bg);
    bottom: 2.5em;
    left: 2.5em;
    padding: 1.5em;
    position: absolute;
    width: 80%;
    max-height: 400px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px var(--#{$prefix}body-secondary-bg);
  }
}

@include media-breakpoint-up(lg) {
  .blog-teaser-text {
    width: 60%;
  }

  .blog-lead {
    display: inherit;
  }
}

.blog-visual {
  opacity: 1;
  transition: opacity 0.5s;

  img {
    width: 100%;
  }
}

.post-item .blog-visual img {
  object-fit: cover;
  height: 12rem;
}

.blog-visual:hover {
  opacity: 0.8;
}

.has-arrow::after {
  margin-left: 5px;
  content: '\2192';
  display: inline-block;
  font-family: $font-family-sans-serif;
  line-height: 1;
}

.teaser-arrow {
  height: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
  position: relative;
}

.teaser-arrow:after {
  margin-left: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*================================
=          Post-Detail          =
================================*/

.blog-header {
  margin: 4rem 0 1rem 0;

  .blog-lead {
    p {
      color: var(--#{$prefix}body-color);
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
    }
  }
}

.blog-header__meta {
  color: var(--#{$prefix}secondary);
  font-size: 1rem;

  & a {
    color: var(--#{$prefix}secondary);
  }
}

.blog-header__tags,
.blog-header__categories {
  @extend .list-inline;
  display: inline;
  font-size: 0.9rem;

  li {
    @extend .list-inline-item;

    a {
      @extend .text-body-secondary;
    }
  }
}

.blog-header__tags {
  a::before {
    content: '#';
  }
}

.blog-header__title {
  margin: 1rem 0 1rem 0 !important;
}

.blog-header__figure {
  text-align: center;
}

.blog-content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > h2,
  > h3,
  > h4 {
    font-family: $font-family-serif;
    color: var(--#{$prefix}body-color);
  }

  > p,
  > ul,
  > ol,
  .text-container,
  > blockquote,
  > .blockquote-figure,
  > details {
    font-family: $font-family-serif;
    color: var(--#{$prefix}body-color);
    font-size: 1.225rem;
    font-weight: 400;
    line-height: 1.65;
    text-align: left;
  }

  > p,
  > h2,
  > h3,
  > h4,
  > ul,
  > ol,
  .text-container {
    @include make-col(12);
    margin: 1rem auto 0.5rem;
    padding: 0 15px;
    width: 100%;
  }

  > details,
  > div.infotextbox {
    color: var(--#{$prefix}primary-text-emphasis);
    background-color: var(--#{$prefix}primary-bg-subtle);
    padding: 1rem 1rem 0;

    > summary {
      padding-bottom: 1rem;
    }
  }

  @include media-breakpoint-up(sm) {
    > p,
    > h2,
    > h3,
    > h4,
    > ul,
    > ol,
    .text-container,
    > details {
      @include make-col(10);
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @include media-breakpoint-up(md) {
    > p,
    > h2,
    > h3,
    > h4,
    > ul,
    > ol,
    .text-container,
    > details {
      @include make-col(8);
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @include media-breakpoint-up(xl) {
    > p,
    > h2,
    > h3,
    > h4,
    > ul,
    > ol,
    .text-container,
    > details {
      @include make-col(6);
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  > h3:not(:first-child) {
    margin-top: 4rem !important;
  }

  > h3 {
    color: var(--#{$prefix}emphasis-color);
    font-family: $font-family-sans-serif;
  }

  a,
  a:active,
  a:visited {
    border-bottom: 1px solid var(--#{$prefix}link-color);
    color: var(--#{$prefix}link-color);
    text-decoration: none;
    transition: all ease 0.3s;
  }

  a:focus,
  a:hover,
  a:active:focus,
  a:active:hover,
  a:visited:focus,
  a:visited:hover {
    border-bottom: 1px solid var(--#{$prefix}link-hover-color);
    text-decoration: none !important;
    color: var(--#{$prefix}link-hover-color);
  }

  > blockquote,
  > .blockquote-figure {
    @include make-col(12);
    margin: 1rem auto 0.5rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--#{$prefix}tertiary-bg);

    > p,
    > blockquote > p {
      border-left: 4px solid var(--#{$prefix}dark-bg-subtle);
      padding: 0.5rem 0 0.5rem 1rem;
      font-size: 1.3rem;
      margin: 0;
    }
  }

  > .blockquote-figure {
    padding: 1rem 2rem 0;
  }

  @include media-breakpoint-up(md) {
    > blockquote,
    > .blockquote-figure {
      @include make-col(10);
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @include media-breakpoint-up(lg) {
    > blockquote,
    > .blockquote-figure {
      @include make-col(8);
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}

.picture-description {
  font-size: $font-size-sm;
  color: var(--#{$prefix}secondary-color);
}

.picture-credits {
  font-style: italic;
  font-size: $font-size-sm;
  color: var(--#{$prefix}tertiary-color);

  a {
    --#{$prefix}link-color-rgb: var(--#{$prefix}tertiary-color-rgb);
    --#{$prefix}link-hover-color-rgb: var(--#{$prefix}secondary-color-rgb);
  }
}

.list-arrow {
  list-style: none;
}

.list-arrow > li::before {
  content: '→ ';
}
