@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.toc a.active {
    font-weight: bold;
}

@include media-breakpoint-up(lg) {
    .toc {
        max-height: calc(100vh - 60px);
        overflow-y: scroll;
    }
}

.book-pub-content {
    [id] {
        scroll-margin-top: 60px;
    }
}

.footnotes li:target p {
    color:  var(--froide-highlight-color);
    background-color: var(--froide-highlight-bg);
}
