@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.toc a.active {
    font-weight: bold;
}

@include media-breakpoint-up(lg) {
    .toc {
        max-height: 90vh;
        overflow-y: scroll;
    }
}

.footnotes li:target p {
    color:  var(--froide-highlight-color);
    background-color: var(--froide-highlight-bg);
}
