.document-pages {
    margin: 1rem auto 0.5rem;
    padding: 1rem 2rem;
    background-color: #D4FEFF;

    .col {
        padding: 5px;
    }
}

.page-annotation {
    margin: 1rem auto 0.5rem;
    padding: 1rem 2rem;
    background-color: #D4FEFF;

    figcaption {
        margin: 1rem 0 0.25rem;
        text-align: right;
        font-size: 0.9rem;
        color: $gray-600;
    }
}