@use "sass:math";
/* utilities/small components used in the cms */

/*  
  Shadows
*/

.shadow-blue {
  box-shadow: $box-shadow;
}

.shadow-sm, .shadow-blue-sm {
  box-shadow: $box-shadow-sm;
}

.shadow-gray {
  box-shadow: $box-shadow-gray;
}

.md\:shadow, .md\:shadow-blue {
  @include media-breakpoint-up(md) {
    box-shadow: $box-shadow;
  }
}

.md\:shadow-yellow {
  @include media-breakpoint-up(md) {
    box-shadow: $box-shadow-yellow;
  }
}

.md\:shadow-gray {
  @include media-breakpoint-up(md) {
    box-shadow: $box-shadow-gray;
  }
}

@mixin border($color) {
  border: 2px solid $color;
}

.border-blue { @include border($blue-20) }
.border-gray { @include border($gray-300); }
.border-yellow { @include border($yellow-200); }

/*
  Backdrop with 50% height
*/

@mixin backdrop($color) {
  position: relative;
  &::before {
    background: $color;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  &.backdrop-75::before {
    bottom: 25%;
  }
}

.backdrop-blue { @include backdrop($blue-10); }
.backdrop-gray { @include backdrop($gray-200); }
.backdrop-yellow { @include backdrop($yellow-100); }

/*
  Font utilities
*/

.font-size-sm { font-size: $font-size-sm; }
.font-size-lg { font-size: $font-size-lg; }
.font-weight-semibold { font-weight: 600; }

/*
  spacing utilities 
*/

@each $value in (10, 20) {
  .z-index-#{$value} {
    z-index: $value !important;
  }
}

.tight-margin {
  h1, h2, h3, h4, h5, h6, p {
    &:first-of-type {
      margin-top: 0;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* sizing utilities */

@each $value in (4, 6, 8, 16, 20, 24, 32, 36, 48) {
  .w-#{$value}rem {
    width: $value * 1rem !important;
  }

  .w-md-#{$value}rem {
    @include media-breakpoint-up(md) {
      width: $value * 1rem !important;
    }
  }

  .h-#{$value}rem {
    height: $value * 1rem !important;
  }

  .h-md-#{$value}rem {
    @include media-breakpoint-up(md) {
      height: $value * 1rem !important;
    }
  }
}

.min-vw-md-100 {
  @include media-breakpoint-up(md) {
    min-width: 100vw;
  }
}

.min-vh-md-100 {
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}

/* sticky sections */

.sticky-section-container {
  .sticky-section-bullets {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .sticky-section-container {
    margin-bottom: -50vh;

    .sticky-section {
      position: sticky;
      min-height: 100vh;
      top: 0;
      padding-bottom: 50vh;
      background: #fff;
      box-sizing: content-box;
      
      &:not(:first-child) {
        box-shadow: 0 -1px 20px transparentize($gray-900, 0.85);
      }
    }

    .sticky-section-bullets {
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 2rem;
      align-items: center;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-4rem);
      z-index: 9;

      .glide__bullets {
        margin-left: 0;
        flex-direction: column;
      }

      .glide__bullet {
        margin-bottom: 0.25rem;
      }

      &.visible {
        transform: translateX(0);
      }
    }
  }
}

/* cms cards */

.box-card {
  position: relative;
  
  &.max-height {
    height: calc(100% - 6rem);
  }

  &.box-card-has-image {
    margin-top: 6rem;
  }

  &.box-card-has-icon {
    margin-top: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }
  }
}

.box-card-image {
  &.overlap-left, &.overlap-right {
    width: 75%;
    margin-left: auto;
    margin-right: auto; 

    img {
      margin: 1rem;
      margin-top: -6rem;
      shape-outside: margin-box;
    }
  }

  @include media-breakpoint-up(md) {
    /* &.overlap-left, &.overlap-right {
      width: 25%;
    } */

    &.overlap-right {
      margin-right: 3rem;

      img {
        float: right;
      }
    }

    &.overlap-left {
      margin: 0;
      
      img {
        margin-left: -6rem;
      }
    }
  }
}

.box-card-icon {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue-700;

  left: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;

  &.overlap-right {
    left: unset;
    right: -1rem;
  }
  
  .fa {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    left: -2rem;
    top: -2rem;
    width: 4rem;
    height: 4rem;

    &.overlap-right {
      left: unset;
      right: -2rem;
    }
  }
}

.box-card-overlap-follower {
  @include media-breakpoint-up(md) {
    flex: 1;
    margin-left: -8.333333333%;
  }
}