.cms-container {
  padding: 1rem 0 1rem;
}

.container-wrapper {
  padding-bottom: 1rem;
}

.background__grey-bright {
  background-color: $gray-100;
}

.cms-row {
  padding: 1rem 0 1rem;
}

.hero-image {
    margin: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25vh;
    padding: 3rem 0;
}


/* Teaser */

.teaser-intro {
  color: $gray-600;
  font-size: 1rem;

  a:focus, a:hover, a:active:focus, a:active:hover, a:visited:focus, a:visited:hover {
    background-color: #D0F5FF;
    text-decoration: none;
  }

  a, a:active, a:visited {
    text-decoration: none;
    color: $primary;
    transition: box-shadow .3s ease-out,background-color .3s ease-out;
  }
}

.teaser {
  margin: .75rem 0;
  box-shadow: 0 0 20px 0 rgba(197,197,197,0.5);
  background-color: white;
  display: block;

  a:hover{
    text-decoration: none;
  }
}

a.teaser:hover {
  box-shadow: 0 0 30px 0 rgba(197,197,197,0.8);
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.teaser-inner {
  padding: 1rem;
}

.teaser-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.teaser-title{
  margin: .5rem 0;
  text-decoration: none;
}

.teaser-description {
  color: $gray-600;
  font-size: 1rem;
  text-decoration: none;
}

/* Submenu */

.submenu {
  list-style: none;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(197,197,197,0.5);
  text-align: center;

  ul {
    list-style:none;
    padding: 1.2rem 0;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }


  li { 
    display: flex;
    list-style: none;
    font-weight: 500;
    margin: 0 0.25rem;
  }

  li > a {
    position: relative;
    color: $primary;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      color: $primary;
    }
  }

  li > a.active {
    background-color: $primary;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
