.container-wrapper {
  padding-bottom: 1rem;
}

.cms-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-image {
  margin: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 24rem;
}

/* Submenu */

.submenu {
  list-style: none;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(197, 197, 197, 0.5);
  text-align: center;

  ul {
    list-style: none;
    padding: 1.2rem 0;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  li {
    display: flex;
    list-style: none;
    margin: 0 0.25rem;
  }

  li > a {
    position: relative;
    color: $primary;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      color: $primary;
    }
  }

  li > a.active {
    background-color: $primary;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  li > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.speech-bubble {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    bottom: -1rem;
    background-color: inherit;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
}
