.collapsible {
  > div {
    margin-left: 1.25rem;
  }

  &__title {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 600;

    &:focus {
      box-shadow: $focus-ring-box-shadow;
      outline: none;
    }

    &::before {
      width: 1rem;
      margin-top: 0.1rem;
      margin-right: 0.25rem;
      font-family: FontAwesome;
      font-weight: 400;
      font-size: 0.8rem;
      text-align: center;
      content: '\f054';
      transition: transform 200ms ease-in-out;
    }
  }

  &[open] &__title::before {
    transform: rotate(90deg);
  }

  + .collapsible {
    margin-top: 0.5rem;
  }
}
