html.darkmode {
  background-color: #000;
}


body.darkmode {
  filter: invert(1);

  #header, .main {
    background-color: #fff;
  }
  .footer {
    background-color: #e0e0e0;
    color: #333;
    h6 {
      color: #333;
    }
    .footer__menu li a {
      color: #333;
    }
    .footer__networks a {
      color: #333;
    }
  }
  .navbar-brand, .nav-item.special-nav-secondary-item,
  #cms-top, img.img-fluid, .teaser-image {
    filter: invert(1);
  }
  .dropdown-banner img.img-fluid {
    filter: none;
  }

  .navbar-brand .navbar-brand-name {
    color: #fafafa !important;
  }

  .heroine-unit.main-folders {
    filter: invert(1) hue-rotate(90deg) invert(1);
  }
}

body.onion-site {
  .onion-show {
    display: block !important;
  }
  .onion-hide {
    display: none !important;
  }
}