@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/mixins';

$primary: #271c66;
$secondary: #6cb2b3;
$link-color: #5d4acd;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'froide/frontend/styles/variables';
@import 'variables';

$font-family-sans-serif: 'Jost Variable', sans-serif;
$nav-link-font-weight: 500;

@import 'froide/frontend/styles/color-contrast';

@import 'froide/frontend/styles/maps';

@import 'base';
@import '@fontsource-variable/jost/index.css';
