$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

/*
  Glider core
*/
.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  position: relative;
  width: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  &#{$se}track {
    overflow: hidden;
  }

  &#{$se}slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;

    &#{$glide-modifier-separator}dragging {
      user-select: none;
    }
  }

  &#{$se}slide {
    width: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  &#{$se}arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$se}bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$sm}rtl {
    direction: rtl;
  }
}

/*
  Glider theme
*/

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    padding: 0.6rem;
    background-color: white;
    // border: 1px solid transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 3px 0 transparentize($gray-500, 0.75);
    // box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: all 250ms ease;
    transform: translateY(-50%);
    line-height: 1;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $blue-600;
      // border-color: $blue-600;
      svg path {
        fill: white;
      }
    }

    svg path {
      fill: $blue-600;
    }

    &#{$sm}left {
      left: 1.4rem;
    }

    &#{$sm}right {
      right: 1.4rem;
    }

    &#{$sm}disabled {
      opacity: 0.33;
    }
  }

  &#{$se}bullets {
    display: inline-flex;
    list-style: none;
    z-index: 2;

    margin-top: $spacer;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      margin-left: calc(8.3333333333% + 15px);
    }
  }

  &#{$se}bullet {
    background-color: $blue-600;
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    // box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;

    &:focus {
      outline: none;
    }

    // &:hover,
    // &:focus {
    //   // border: 2px solid white;
    //   // background-color: rgba(255, 255, 255, 0.5);
    // }

    &#{$sm}active {
      background-color: white;
      border-color: $blue-600;
    }
  }

  &#{$sm}swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &#{$sm}dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
