.header {
  &__branding {}
    &__logo {
      // height: 2.125rem;
      height: 2.5rem;
      // @include media-breakpoint-up(md) {
      // }
    }
}

.mobile-menu {
  $transition: .2s ease;
  &__toggle {
    position: relative;
    top: 0.2rem;
    min-width: 2.5rem;
    font-size: 1.5rem;
  }
  &__wrapper {
    z-index: 100;
    position: fixed;
    width: 14.375rem;
    height: 100%;
    background-color: $white;
    top: 0;
    right: 0;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform $transition;
    will-change: transform;
    &--inital { width: 0; }
  }

  &__backdrop {
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition, visibility $transition;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &--visible {
  }
  &--visible &__wrapper {
    transform: translateX(0%);
  }
  &--visible &__backdrop {
    opacity: 1;
    visibility: visible;
  }
}

.header-dropdown-trigger {
  
}

.header-dropdown-content {
  height: 0;
  opacity: 0;
  visibility: hidden;
  // transform: translateY(-15px);
  transition: all .1s ease;
  will-change: transform;
  &--visible {
    // transform: translateY(0px);
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in;
  }
}

// @media (max-width: 400px) {
//   .navbar-toggler-title {
//     display: none;
//   }
// }

// .navbar .nav > li > a:hover {
//     color: #06C;
// }

// .navbar-secondary {
//   padding-top: 0;
// }

// .navbar-collapse {
//   flex-wrap: wrap;
// }

// .navbar-nav-secondary {
//   &.navbar-nav .nav-link {
//     color: $gray-800;
//   }
// }

@include media-breakpoint-up(md) {

  // .navbar-nav-secondary {
  //   padding-bottom: $spacer;
  //   width: 100%;
  //   order: -1;
  //   justify-content: flex-end;

  //   .nav-item {
  //     background-color: $gray-200;
  //     margin-left: $spacer * 0.25;

  //     &.special-nav-secondary-item {
  //       border-radius: 0px;
  //       background: theme-color("danger");
  //       font-weight: bold;
  //       .nav-link {
  //         color: $white !important;
  //       }
  //     }

  //     .nav-link {
  //       padding: $spacer * 0.25;
  //     }
  //   }
  // }
}

// .account-dropdown-link {
//   padding: 0 !important;
//   margin: 8px 0;
//   background-color: transparent !important;

//   .account-name {
//       float: left;
//       font-size: 60%;
//       margin: 2px 0 0 5px;
//       line-height: 110%;
//   }
// }

// @include media-breakpoint-down(sm) {
//   .account-dropdown-link {
//     display: none;
//   }

//   .account-dropdown .dropdown-menu {
//     border: 0;
//     display: block;
//   }

//   .dropdown-item {
//     padding: 0.25rem 0;
//   }

// }
