@use 'sass:map';

$c: map.get($container-max-widths, 'xxl');

#header nav {
  padding: $spacer 0;
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg(
      $navbar-light-toggler-icon-bg
    )};

  ul.nav-ul,
  ul.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1047;
  }

  ul.nav-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  a:not(.dropdown-item),
  button.btn-link {
    display: block;
    font-weight: 600;
    color: var(--bs-emphasis-color);

    &:hover {
      text-decoration: none;
      color: var(--bs-link-color);
    }
  }

  button.user-profile {
    display: flex;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }

    span {
      margin-left: 0.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    border-bottom: 1px var(--bs-border-color-translucent) solid;

    ul.nav-menu {
      display: flex;
      flex-direction: column;
      gap: $spacer * 0.5 0;
      position: absolute;
      top: calc(100% + $spacer + 1px); // to show the navbar border
      left: calc(var(--bs-gutter-x) * -0.5);
      right: calc(var(--bs-gutter-x) * -0.5);
      padding: var(--bs-gutter-x);
      background-color: var(--bs-body-bg);
      width: calc(100% + var(--bs-gutter-x));
      opacity: 0;
      visibility: hidden; // removed after first click, to avoid fade-out on load
      transition: opacity 0.3s linear, transform 0.2s ease;
      transform: scaleY(0);
      transform-origin: top;
      border-bottom: 3px var(--bs-blue-500) solid;
      z-index: 1046;

      &::before {
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: calc(100% + 3px);
        height: 100vh;
        background-color: var(--bs-body-color);
        opacity: 0;
        content: '';
        pointer-events: none;
      }

      &.show {
        transform: scaleY(1);
        opacity: 1;

        &::before {
          opacity: 0.3;
        }
      }
    }

    .dropdown-menu,
    &.dropdown-menu {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }

    .dropdown-menu {
      position: static;
    }

    .dropdown-item {
      padding: $spacer * 0.25 0;

      &:active {
        background-color: transparent;
      }
    }

    .nav-dropdown .dropdown-item {
      padding: $spacer * 0.25 $spacer;
      color: var(--bs-link-color);
    }

    ul.nav-ul {
      justify-content: space-between;
    }

    li.nav-search {
      padding-top: $spacer;
      padding-bottom: $spacer * 2;
      margin-bottom: $spacer;
      border-bottom: 1px var(--bs-border-color-translucent) solid;
    }
  }

  @include media-breakpoint-up(md) {
    ul.nav-ul {
      flex-direction: row;
      gap: 0 $spacer * 2;
    }

    ul.nav-menu-expanded {
      display: contents;
    }

    li.nav-sm {
      transform: translateY(0.25rem); // balance to logo
    }

    li.nav-sm a,
    li.nav-sm button {
      font-weight: 500;
    }

    li.nav-search {
      select,
      input {
        max-width: 7rem;
      }

      &.nav-search-redundant {
        opacity: 0.5;
        transition: opacity 0.3s linear;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nav-break {
      position: relative;
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer;
      width: 100vw;
      height: 1px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(calc(100vw - 100%) / -2);
        right: 0;
        width: 100vw;
        background-color: var(--bs-border-color-translucent);
        height: 1px;
      }
    }
  }

  #menu-user.dropdown-menu {
    right: 0;
  }

  @include media-breakpoint-up(xl) {
    li.nav-search {
      select {
        max-width: 12rem;
      }

      input {
        max-width: none;
      }
    }
  }
}
