/*

  Hero area

*/

.hero-area {
  background-color: $blue-10;
  &__image {
    width: 225px;
    @include media-breakpoint-up(lg) {
      width: 250px;
    }
  }
}

.process {
  &::before {
    // z-index: 0;
    background: $blue-10;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }
  // margin-bottom: $spacer * 4;
  &__wrap {
    background-color: white;
    border: 2px solid $blue-20;
    // padding: $spacer * 1.5 $spacer * 1.5;
    @include media-breakpoint-up(md) {
      box-shadow: 7px 7px 0 transparentize($blue-30, .85);
    }
    @include media-breakpoint-up(lg) {
      // padding: $spacer * 2.5 $spacer * 2;
    }

  }
}

.steps {
  position: relative;
  &__wrap {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 2;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-bottom: $spacer;
    }
  }
  &__line {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 19px;
    width:  1px;
    height: 95%;
    border-left: 1px dashed $gray-500;
    @include media-breakpoint-up(md) {
      top: 18px;
      left: 19px; // half of number circle
      width: 100.5%;
      height: 1px;
      border-left: 0;
      border-bottom: 1px dashed $gray-500;
    }
    @include media-breakpoint-up(lg) {
      width: 101.3%;
      top: 22px;
    }
  }
}


.step {
  display: flex;
  align-items: center;
  margin-bottom: $spacer * 1.5;  
  &:last-child {
    margin-bottom: 0;
    background-color: white; // hide dashed line
  }
  &__text {
    font-size: $smaller-font-size;
    line-height: $line-height-smaller;
  }
  &__number {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid $blue-30;
    border-radius: 50%;
    font-size: $font-size-base * 1.125;
    margin-right: $spacer;
    background-color: white;
    box-shadow: 2px 3px 0 transparentize($gray-500, .75);
    &--highlight {

    }
  }
  @include media-breakpoint-up(md) {
    align-items: flex-start;
    flex-direction: column;
    &:last-child { background-color: transparent; }
    &__text {
      margin-left: 19px; // half of number circle
    }
    &__number {
      width: 38px;
      height: 38px;
      margin-bottom: $spacer;
      margin-right: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    &__text {
      font-size: inherit;
      line-height: inherit;
      margin-left: 22px; // half of number circle
    }
    &__number {
      width: 44px;
      height: 44px;
    }
  }
}


// animation
.step {
  &__number {
    animation-duration: 10s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
  }
  
  &:nth-child(1) &__number { animation-name: step-1; }
  &:nth-child(2) &__number { animation-name: step-2; }
  &:nth-child(3) &__number { animation-name: step-3; }
}

@mixin number-highlight() {
  background-color: $blue-600;
  border-color: $blue-600;
  color: $white;
  box-shadow: 2px 3px 0 transparentize($gray-500, .60);
}

@keyframes step-1 {
  25% {
    @include number-highlight;
  }
}

@keyframes step-2 {
  50% {
    @include number-highlight;
  }
}

@keyframes step-3 {
  75% {
    @include number-highlight;
  }
}





// Video embed
.video-embed {
  display: block;
}

.video-embed-container {
  text-align: center;
  margin-top: 1em;
}

@include media-breakpoint-up(xl) {
  .video-embed-container {
    margin-top: 0;
  }
}

.video-embed img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}


/*

  Campaign area

*/

.campaign-area {
  background-color: $yellow-100;
  &__image {
    width: 225px;
    @include media-breakpoint-up(lg) {
      width: 280px;
    }
  }
}

.campaign-slider {
  &::before {
    // z-index: 0;
    background: $yellow-100;
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }
  &__wrap {

  }
}

.campaign-card {
  border: 2px solid $yellow-100;
  &__image {}
  &__title {}
  &__content {}
  &__footer {}
}

/*

  Investigations area

*/

.investigation-area {
  background-color: $gray-200;
}

/*

  Newsletter area

*/

.newsletter-area {
  &__image {
    width: 185px;
    @include media-breakpoint-up(lg) {
      width: 230px;
    }
  }
}


/*

  Lawsuits area

*/

.lawsuits-area {
  background-color: $gray-200;
}

/*

  Donate area

*/

.donate-area {
  &__image {
    width: 185px;
    @include media-breakpoint-up(lg) {
      width: 240px;
    }
  }
}

/*

  Testimonials area

*/

.testimonial-area {
  background-color: $blue-10;
}