body.ls,
body.ls * {
  hyphens: manual !important;
}

body.ls,
body.ls .breadcrumb-item,
body.ls .breadcrumb-item > *,
body.ls .dropdown-item,
body.ls .leichte-sprache-toggle {
    font-size: 1.25rem;
    line-height: 1.5;
}

body.ls main,
body.ls main *:not(.fa) {
  font-family: "Inter", sans-serif !important;
}

body.ls .lead > p {
    font-size: 1.5rem;
    line-height: 2.5;
}

body.ls .app-blog {
    >* h2,
    >* h3,
    >* h4,
    >* h5,
    >* h6,
    >* ul,
    >* ol,
    >* p,
    >* details {
      font-size: 1.5rem;
      line-height: 2.5;
    }
}

.leichte-sprache-toggle svg {
  height: 1rem;
  width: auto;
}

body.ls .leichte-sprache-toggle svg,
#noLsTranslationModal >* svg {
  height: 1.25rem;
  width: auto;
}