.hyphens-manual {
  hyphens: manual;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.teaser {
  margin-bottom: 20px;
}

.btn-threed {
  box-shadow: 0px 4px 4px #333;
}

.magnifier {
  background-color: #fff;
  border-color: #eee;
  border-radius: 5px;
  border-width: 2px;
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
  border-style: solid;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.highlight-target {
  *:target {
    background-color: $highlight-yellow;
  }
}

.spinning-newspaper {
  opacity: 1;
  transform: scale(1) rotate(10deg);

  animation-duration: 1s;
  animation-name: newspaper-spin;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes newspaper-spin {
  0%{
      opacity: 0.2;
      transform: scale(0.1) rotate(0deg);
  }
  100%{
      opacity: 1;
      transform: scale(1) rotate(1090deg);
  }
}
