.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.teaser {
  margin-bottom: 20px;
}

.teaser-button {
  margin-top: 1rem;
  color: $primary;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  border-color: $primary;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.teaser-button:focus, .teaser-button:hover {
  text-decoration: none;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
}

.donation-block {
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  background-image: url('https://media.frag-den-staat.de/files/media/main/f2/f8/f2f800b4-c1bb-4068-8821-0b86d210afed/35c3-fragdenstaat.png');

  .col-md-8 {
    padding: 1rem;
    background-color: rgba(255,255,255, 0.8);
  }
}