.hyphens-manual {
  hyphens: manual;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.teaser {
  margin-bottom: 20px;
}

.btn-threed {
  box-shadow: 0px 4px 4px #333;
}

.magnifier {
  background-color: #fff;
  border-color: #eee;
  border-radius: 5px;
  border-width: 2px;
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
  border-style: solid;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.highlight-target {
  *:target {
    background-color: var(--froide-highlight-bg);
  }
}

.spinning-newspaper {
  opacity: 1;
  transform: scale(1) rotate(10deg);

  animation-duration: 0.7s;
  animation-name: newspaper-spin;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes newspaper-spin {
  0% {
    opacity: 0.2;
    transform: scale(0.1) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(730deg);
  }
}

.cms-toolbar-expanded .offcanvas {
  top: 46px;
}

/*================================
=           TIMELINE            =
================================*/

.timeline {
  margin: 1rem 0;
  padding: 0;
  font-family: $font-family-sans-serif;

  p {
    font-family: $font-family-sans-serif;
    margin-bottom: 4rem;
  }
}

.timeline > li > *:last-child {
  margin-bottom: 1.25rem;
}

.timeline > li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 4px solid $primary;
  padding-left: 30px;
  margin-left: 15px;
  padding-bottom: 1rem;

  h5 {
    position: relative;
    top: -0.4rem;
    margin: 0;
    font-family: $font-family-sans-serif;
  }
}

.timeline > li:last-child {
  border-left: 4px solid transparent;
}

.timeline > li:before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: -0.65rem;
  border-radius: 50%;
  border: 0.25rem solid $primary;
  background: #fff;
}

/* Privacy blur on QR Code */
.privacy-blur img {
  filter: blur(20px);
}
.privacy-blur:hover img {
  filter: none;
}
.privacy-blur:hover > div {
  display: none;
}
