@use 'sass:string';

@mixin make-font(
  $name,
  $weight-range,
  $style: normal,
  $file: none,
  $folder: none
) {
  @if $file == none {
    $file: string.to-lower-case($name);
    $folder: $file;
    @if $style != 'normal' {
      $file: $file + '-' + $style;
    }
  }

  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight-range;
    font-display: swap;
    src: url('../fonts/#{$folder}/#{$file}-latin.woff2');
    unicode-range:
      U+0000-007a, U+00A0-00FF, U+2010-2027, U+20AC, U+2190-2199, U+2764;
  }

  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight-range;
    font-display: swap;
    src: url('../fonts/#{$folder}/#{$file}-latin-ext.woff2');
    unicode-range:
      U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
      U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
}
