
$inter-font-path: '~inter-ui/Inter (web)';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-Bold.woff2") format("woff2");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lead {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  margin: 2rem 0;
}

h1, .h1 { @include font-size($h2-font-size); }
h2, .h2 { @include font-size($h3-font-size); }
h3, .h3 { @include font-size($h4-font-size); }
h4, .h4 { @include font-size($h5-font-size); }
h5, .h5 { @include font-size($h6-font-size); }
h6, .h6 { @include font-size($h6-font-size); }

@include media-breakpoint-up(md) {
  h1, .h1 { @include font-size($h1-font-size); }
  h2, .h2 { @include font-size($h2-font-size); }
  h3, .h3 { @include font-size($h3-font-size); }
  h4, .h4 { @include font-size($h4-font-size); }
  h5, .h5 { @include font-size($h5-font-size); }
  h6, .h6 { @include font-size($h6-font-size); }
}