$inter-font-path: '../fonts/inter';

$unicode-ranges: (
  "latin": "U+0000-007a,U+00A0-00FF,U+2010-2027,U+20AC,U+2192,U+2764",
  "latin-ext": "U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF"
);

@mixin makeFont($name, $weight: 400, $style: normal, $range: false) {
  @font-face {
    font-family: 'Inter';
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    @if $range {
      src: local("Inter #{$name}"), local("Inter-#{$name}"),
        url("#{$inter-font-path}/Inter-#{$name}-#{$range}.woff2") format("woff2"),
        url("#{$inter-font-path}/Inter-#{$name}-#{$range}.woff") format("woff");
      unicode-range: unquote(map-get($unicode-ranges, $range));
    } @else {
      src: local("Inter #{$name}"), local("Inter-#{$name}"),
        url("#{$inter-font-path}/Inter-#{$name}.woff2") format("woff2"),
        url("#{$inter-font-path}/Inter-#{$name}.woff") format("woff");
    }
  }
}

@include makeFont('Regular', $range: "latin");
@include makeFont('Italic', $style: italic, $range: "latin");
@include makeFont('SemiBold', $weight: 600, $range: "latin");
@include makeFont('Bold', $weight: 700, $range: "latin");

@include makeFont('Regular', $range: "latin-ext");
@include makeFont('Italic', $style: italic, $range: "latin-ext");
@include makeFont('SemiBold', $weight: 600, $range: "latin-ext");
@include makeFont('Bold', $weight: 700, $range: "latin-ext");


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Activates nicer l and German sz in Inter
  font-feature-settings: "cv05", "cv07";
}

.lead {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  margin: 2rem 0;
}

h1, .h1 { @include font-size($h2-font-size); }
h2, .h2 { @include font-size($h3-font-size); }
h3, .h3 { @include font-size($h4-font-size); }
h4, .h4 { @include font-size($h5-font-size); }
h5, .h5 { @include font-size($h6-font-size); }
h6, .h6 { @include font-size($h6-font-size); }

@include media-breakpoint-up(md) {
  h1, .h1 { @include font-size($h1-font-size); }
  h2, .h2 { @include font-size($h2-font-size); }
  h3, .h3 { @include font-size($h3-font-size); }
  h4, .h4 { @include font-size($h4-font-size); }
  h5, .h5 { @include font-size($h5-font-size); }
  h6, .h6 { @include font-size($h6-font-size); }
}