$inter-font-path: '~inter-ui/Inter (web)';
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$inter-font-path}/Inter-Bold.woff2") format("woff2");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lead {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  margin: 2rem 0;
}
