@use 'sass:list';
@import 'bootstrap/scss/functions';

// colors
$lavender-100: #b69fff;
$lavender-25: #e6e0f8;
$lavender-50: #d5cafa;
$lavender-75: #c5b4fc;
$merlot-100: #38182f;
$merlot-25: #c6bec4;
$merlot-50: #968692;
$merlot-75: #674f60;
$teal-100: #006f59;
$teal-25: #b8d4ce;
$teal-50: #7ab2a7;
$teal-75: #3d9080;
$white: #ffffff;
$pearl-100: #f4eeee;
$pearl-25: #fcfbfb;
$pearl-50: #f9f7f7;
$pearl-75: #f7f2f2;
$sunburst-100: #f8de01;
$sunburst-25: #fdf7bf;
$sunburst-50: #fbef80;
$sunburst-75: #fae641;
$tangerine-100: #ff6c03;
$tangerine-25: #ffdac0;
$tangerine-50: #ffb581;
$tangerine-75: #ffb581;

$gradient-mist: linear-gradient(to right, $lavender-100, $teal-100);
$gradient-fire: linear-gradient(to right, $tangerine-100, $sunburst-100);
$gradient-glow: linear-gradient(to right, $lavender-100, $tangerine-100);

$primary: $merlot-100;
$secondary: $lavender-100;

// typography
$font-family-sans-serif: 'Geist', system-ui, sans-serif;
$headings-font-family: 'Gregory Grotesk Condensed', system-ui, sans-serif;
$headings-font-weight: 800;
$headings-line-height: 100%;
$h1-font-size: 4rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.625rem;
$font-size-sm: 0.875rem;
$lead-font-weight: 400;
$lead-font-size: 1.5rem;

$chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='30' viewBox='0 0 20 30' fill='none'%3E%3Cpath d='M0.635681 0.771973L17.6357 14.772L0.635681 28.772' stroke='white' stroke-width='2'/%3E%3C/svg%3E");

// navbar

$navbar-light-color: $lavender-100;
$navbar-light-hover-color: $lavender-75;
$navbar-light-active-color: $sunburst-100;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;

@import 'bootstrap/scss/variables';
@import 'froide/frontend/styles/color-contrast';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'lavender-100': $lavender-100,
  'lavender-25': $lavender-25,
  'lavender-50': $lavender-50,
  'lavender-75': $lavender-75,
  'merlot-100': $merlot-100,
  'merlot-25': $merlot-25,
  'merlot-50': $merlot-50,
  'merlot-75': $merlot-75,
  'teal-100': $teal-100,
  'teal-25': $teal-25,
  'teal-50': $teal-50,
  'teal-75': $teal-75,
  'pearl-100': $pearl-100,
  'pearl-25': $pearl-25,
  'pearl-50': $pearl-50,
  'pearl-75': $pearl-75,
  'sunburst-100': $sunburst-100,
  'sunburst-25': $sunburst-25,
  'sunburst-50': $sunburst-50,
  'sunburst-75': $sunburst-75,
  'tangerine-100': $tangerine-100,
  'tangerine-25': $tangerine-25,
  'tangerine-50': $tangerine-50,
  'tangerine-75': $tangerine-75,
  'white': $white
);

$display-font-sizes: (
  1: 5rem,
  2: 4rem,
  3: 3.5rem
);

// inputs + buttons
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;

$input-btn-font-weight: 700;
$btn-font-weight: 700;
$btn-border-radius: $border-radius-pill;

$border-color: $merlot-75;
$input-border-radius: $border-radius-pill;
$input-border-radius-sm: $border-radius-pill;
$input-border-radius-lg: $border-radius-pill;
$input-color: $merlot-75;

$input-group-addon-color: $merlot-75;
$input-group-addon-bg: transparent;
$form-check-input-width: 1.5em;

$form-check-input-checked-bg-color: $white;

$form-check-input-checked-color: $merlot-100;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$merlot-100}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/><circle r='2.8' fill='#{$form-check-input-checked-color}'/></svg>");

$form-select-border-radius: $border-radius-pill;

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Layout & components
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';

// hack to use custom text + hover colors
$original-theme-colors: $theme-colors;
$theme-colors: ();
@import 'bootstrap/scss/buttons';
$theme-colors: $original-theme-colors;

.btn {
  &::after {
    display: inline-block;
    content: '→'; // TODO: swap with proper icon
    padding-left: 0.5em;
  }
}

$buttons: (
  // background, color, hover-background
  'primary': ($merlot-100, $white, $teal-100),
  'secondary': ($lavender-100, $merlot-100, $pearl-100)
);

@each $name, $value in $buttons {
  .btn-#{$name} {
    @include button-variant(
      $background: list.nth($value, 1),
      $border: list.nth($value, 1),
      $color: list.nth($value, 2),
      $hover-background: list.nth($value, 3),
      $hover-border: list.nth($value, 3)
    );
  }
}

// unlike bootstrap outline buttons, ours don't fill when hovered
@each $name, $value in $buttons {
  .btn-outline-#{$name} {
    $color: list.nth($value, 1);
    $hover: list.nth($value, 3);

    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-border-color: #{$color};
    --#{$prefix}btn-hover-color: #{$hover};
    --#{$prefix}btn-hover-border-color: #{$hover};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  }
}

@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// @import 'froide/frontend/styles/root';
// @import 'froide/frontend/styles/utilities';

// custom styles

.logo-arrow {
  display: flex;
  flex-grow: 1;
  margin: 0 $spacer;
  height: 0.5em;
  border-bottom: 2px solid $white;
  position: relative;

  &::after {
    // not exactly the right arrow angle, but will do for now
    content: '';
    position: absolute;
    right: 1px;
    top: calc(0.25em - 1px);
    bottom: 0;
    width: 0.5em;
    height: 0.5em;
    border: solid $white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
}

.logo-fds svg {
  height: 1.5rem;
  width: auto;
}

// fonts

@import '@fontsource/geist/400.css';
@import '@fontsource/geist/700.css';

@font-face {
  font-family: 'Gregory Grotesk Condensed';
  src: url('../fonts/gregory-grotesk/gregory-grotesk-condensed-bold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
