@use 'sass:list';
@use 'sass:color';
@import 'bootstrap/scss/functions';

// colors
$enable-dark-mode: false;

$lavender-100: #b69fff;
$lavender-25: #e6e0f8;
$lavender-50: #d5cafa;
$lavender-75: #c5b4fc;
$merlot-100: #38182f;
$merlot-25: #c6bec4;
$merlot-50: #968692;
$merlot-75: #674f60;
$teal-100: #006f59;
$teal-25: #b8d4ce;
$teal-50: #7ab2a7;
$teal-75: #3d9080;
$white: #ffffff;
$pearl-100: #f4eeee;
$pearl-25: #fcfbfb;
$pearl-50: #f9f7f7;
$pearl-75: #f7f2f2;
$sunburst-100: #f8de01;
$sunburst-25: #fdf7bf;
$sunburst-50: #fbef80;
$sunburst-75: #fae641;
$tangerine-100: #ff6c03;
$tangerine-25: #ffdac0;
$tangerine-50: #ffb581;
$tangerine-75: #ffb581;

$gradient-mist: linear-gradient(to right, $lavender-100, $teal-100);
$gradient-fire: linear-gradient(to right, $tangerine-100, $sunburst-100);
$gradient-glow: linear-gradient(to right, $lavender-100, $tangerine-100);

$primary: $merlot-100;
$secondary: $lavender-100;

// typography
$enable-rfs: false;
$font-family-sans-serif: 'Geist', system-ui, sans-serif;
$headings-font-family: 'Gregory Grotesk Condensed', system-ui, sans-serif;
$headings-font-weight: 800;
$headings-line-height: 100%;
$h1-font-size: 1.625rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1rem;
$font-size-sm: 0.875rem;
$lead-font-weight: 400;
$lead-font-size: 1.125rem;

$chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='30' viewBox='0 0 20 30' fill='none'%3E%3Cpath d='M0.635681 0.771973L17.6357 14.772L0.635681 28.772' stroke='white' stroke-width='2'/%3E%3C/svg%3E");

// navbar

$navbar-light-color: $lavender-100;
$navbar-light-hover-color: $lavender-75;
$navbar-light-active-color: $sunburst-100;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;

@import 'bootstrap/scss/variables';
@import 'froide/frontend/styles/color-contrast';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'lavender-100': $lavender-100,
  'lavender-25': $lavender-25,
  'lavender-50': $lavender-50,
  'lavender-75': $lavender-75,
  'merlot-100': $merlot-100,
  'merlot-25': $merlot-25,
  'merlot-50': $merlot-50,
  'merlot-75': $merlot-75,
  'teal-100': $teal-100,
  'teal-25': $teal-25,
  'teal-50': $teal-50,
  'teal-75': $teal-75,
  'pearl-100': $pearl-100,
  'pearl-25': $pearl-25,
  'pearl-50': $pearl-50,
  'pearl-75': $pearl-75,
  'sunburst-100': $sunburst-100,
  'sunburst-25': $sunburst-25,
  'sunburst-50': $sunburst-50,
  'sunburst-75': $sunburst-75,
  'tangerine-100': $tangerine-100,
  'tangerine-25': $tangerine-25,
  'tangerine-50': $tangerine-50,
  'tangerine-75': $tangerine-75,
  'white': $white,
  'body-secondary': $teal-100,
  'body-tertiary': $pearl-100
);

$display-font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem
);

$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 2,
  4: $spacer * 2.5,
  5: $spacer * 3,
  6: $spacer * 3.5
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1320px
);

$border-radius-xl: 1.5rem;

// inputs + buttons
$btn-border-width: 2px;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;

$input-btn-font-weight: 700;
$btn-font-weight: 700;
$btn-border-radius: $border-radius-pill;

$border-color: $merlot-75;
$input-border-radius: $border-radius-pill;
$input-border-radius-sm: $border-radius-pill;
$input-border-radius-lg: $border-radius-pill;
$input-color: $merlot-75;

$input-group-addon-color: $merlot-75;
$input-group-addon-bg: transparent;
$form-check-input-width: 1.5em;

$form-check-input-checked-bg-color: $white;

$form-check-input-checked-color: $merlot-100;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$merlot-100}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/><circle r='2.8' fill='#{$form-check-input-checked-color}'/></svg>");

$form-select-border-radius: $border-radius-pill;

.form-check-input {
  margin-right: 0.5em;
}

// tooltips
$tooltip-color: $white;
$tooltip-bg: transparentize($merlot-100, 0.2);
$tooltip-border-radius: $border-radius-pill;
$tooltip-opacity: 1;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;

$tooltip-arrow-width: 0.5rem;
$tooltip-arrow-height: 0.3rem;

// badges
$badge-font-weight: $font-weight-normal;

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Layout & components
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';

// hack to use custom text + hover colors
$original-theme-colors: $theme-colors;
$theme-colors: ();
@import 'bootstrap/scss/buttons';
$theme-colors: $original-theme-colors;

.btn {
  &.arrow {
    &::after {
      display: inline-block;
      content: '→'; // TODO: swap with proper icon
      padding-left: 0.5em;
    }
  }

  &:has(svg) {
    padding: 0;
    width: 3rem;
    height: 3rem;
  }
}

$buttons: (
  // background, color, hover-background, white-hover-color
  'primary': ($merlot-100, $white, $teal-100, $teal-100),
  'secondary': ($lavender-100, $merlot-100, $pearl-100, $teal-100)
);

@each $name, $value in $buttons {
  .btn-#{$name} {
    @include button-variant(
      $background: list.nth($value, 1),
      $border: list.nth($value, 1),
      $color: list.nth($value, 2),
      $hover-background: list.nth($value, 3),
      $hover-border: list.nth($value, 3)
    );
  }
}

// unlike bootstrap outline buttons, ours don't fill when hovered
@each $name, $value in $buttons {
  $color: list.nth($value, 1);
  $hover: list.nth($value, 3);
  $white-hover: list.nth($value, 4);

  .btn-outline-#{$name} {
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-border-color: #{$color};
    --#{$prefix}btn-hover-color: #{$hover};
    --#{$prefix}btn-hover-border-color: #{$hover};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($hover)};
  }
  .text-bg-white {
    .btn-outline-#{$name} {
      --#{$prefix}btn-hover-color: #{$white-hover};
      --#{$prefix}btn-hover-border-color: #{$white-hover};
    }
  }
}

@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// @import 'froide/frontend/styles/root';
// @import 'froide/frontend/styles/utilities';

// hard-coded font sizes for each breakpoint, instead of bootstrap's responsive font sizing
$font-sizes-md: (
  '.display-1': 4rem,
  '.display-2': 3rem,
  '.display-3': 2.5rem,
  'h1': 2.5rem,
  'h2': 2rem,
  'h3': 1.5rem,
  'h4': 1.25rem,
  '.lead': 1.25rem,
  'default': 1rem
);

$font-sizes-xl: (
  '.display-1': 80px,
  '.display-2': 64px,
  '.display-3': 56px,
  'h1': 48px,
  'h2': 40px,
  'h3': 24px,
  'h4': 24px,
  '.lead': 24px,
  'default': 18px
);

$font-sizes-xxl: (
  '.display-1': 112px,
  '.display-2': 80px,
  '.display-3': 64px,
  'h1': 64px,
  'h2': 56px,
  'h3': 32px,
  'h4': 26px,
  '.lead': 26px,
  'default': 18px
);

$font-sizes-by-breakpoint: (
  'md': $font-sizes-md,
  'xl': $font-sizes-xl,
  'xxl': $font-sizes-xxl
);

@each $breakpoint, $font-sizes in $font-sizes-by-breakpoint {
  @include media-breakpoint-up($breakpoint) {
    @each $selector, $size in $font-sizes {
      @if $selector == 'default' {
        :root {
          --#{$prefix}body-font-size: #{$size};
        }
      } @else {
        #{$selector} {
          font-size: $size;
        }
      }
    }
  }
}

// custom styles

.logo-arrow {
  display: flex;
  flex-grow: 1;
  margin: 0 $spacer;
  height: 0.5em;
  border-bottom: 2px solid $white;
  position: relative;
  min-width: 20px;

  &::after {
    // not exactly the right arrow angle, but will do for now
    content: '';
    position: absolute;
    right: 1px;
    top: calc(0.25em - 1px);
    bottom: 0;
    width: 0.5em;
    height: 0.5em;
    border: solid $white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
}

.logo-fds svg {
  height: 1.5rem;
  width: auto;
}

.divider-vertical > * {
  border-bottom: 1px solid $merlot-25;
  padding-bottom: var(--#{$prefix}gutter-y);

  @include media-breakpoint-up(xl) {
    border-bottom: 1px solid $merlot-50;
  }
}

@include media-breakpoint-up(xl) {
  .divider-xl-horizontal > * {
    border-bottom: none;
    padding-bottom: initial;

    &:not(:last-child) {
      border-right: 1px solid $merlot-25;
      padding-right: calc(var(--#{$prefix}gutter-x) * 0.5);
    }
  }
}

// TODO: duplicated from cms_utils
.tight-margin > {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-container {
  max-width: 42ch;
}

.design-container > .container,
.ubf-section {
  max-width: 96rem;
  padding: 3rem 1.25rem;

  @include media-breakpoint-up(md) {
    padding: 3.5rem 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 5rem 4rem;
  }

  @include media-breakpoint-up(xxl) {
    padding: 7rem 4rem;
  }
}

$section-dividers: (
  'home-1': 5,
  'home-2': 3,
  'home-3': 2,
  'spenden-1': 2,
  'spenden-2': 2,
  'spenden-3': 2,
  'bewerben-1': 2,
  'bewerben-2': 1,
  'bewerben-3': 2
);

@each $name, $rows in $section-dividers {
  .section-divider-#{$name} {
    width: 100%;
    max-width: none; // fixes problems with cols on large viewports
    height: 5rem * $rows;

    @include media-breakpoint-up(lg) {
      height: 9rem * $rows;
    }

    background-size: contain;
    background-position: center;
    background-image: url('../img/ubf/blocks-#{$name}.svg?no-inline');
  }
}

.hero-image img,
.hero-image svg {
  height: 20rem;
  width: 100%;

  @include media-breakpoint-up(md) {
    height: 36rem;
  }

  @include media-breakpoint-up(xxl) {
    height: 42rem;
  }
}

.pattern-grid {
  background-image: url('../img/ubf/grid-pattern.svg');
  background-size: 3.5rem 3.5rem;
}

.map-pin {
  cursor: pointer;

  circle {
    transition: transform 0.3s ease;
    transform-origin: 10.5px 10.5px;
  }

  &:hover circle {
    transform: scale(1.1);
  }
}

.circled-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 9.375rem;
  aspect-ratio: 1/1;

  font-family: $headings-font-family;
  font-size: 2rem;
  font-weight: 800;
  margin: 0;

  @include media-breakpoint-up(md) {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 4rem;
  }
}

// fonts

@import '@fontsource/geist/400.css';
@import '@fontsource/geist/700.css';
@import 'mixins';

@include make-font(
  'Gregory Grotesk Condensed',
  800,
  normal,
  'gregory-grotesk-condensed-xbold',
  'gregory-grotesk'
);
@include make-font(
  'Gregory Grotesk Compressed',
  800,
  normal,
  'gregory-grotesk-compressed-xbold',
  'gregory-grotesk'
);

nav.navbar {
  font-family: 'Gregory Grotesk Compressed', system-ui, sans-serif;
}
