/* Bootstrap Theme */
$enable-shadows: true;
$border-radius: .25rem;
$border-radius-lg: .375rem;
// $border-radius-sm: .2rem;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
// $dropdown-header-color: $gray-600;

