/* Bootstrap Theme */
$enable-shadows: true;
$border-radius: 0.25rem;
$border-radius-lg: 0.375rem;

$caret-width: 0.3em;
$caret-vertical-align: $caret-width * 0.85;
$caret-spacing: $caret-width * 0.5;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'StixTwo', serif;
$headings-font-weight: 600;
$line-height-smaller: 1.25;
$modal-content-color: var(--#{$prefix}body-color);

// Dropdowns
$dropdown-border-color: $gray-300;
$dropdown-border-radius: $border-radius-lg;
$dropdown-border-width: $border-width;

$box-shadow-gray-sm: 2px 2px 0 transparentize($gray-300, 0.6);
$dropdown-divider-bg: $gray-200;
$dropdown-box-shadow: $box-shadow-gray-sm;

$dropdown-link-hover-bg: var(--bs-tertiary-bg);
$dropdown-link-active-bg: var(--bs-secondary-bg);
$dropdown-link-active-color: unset;
$dropdown-item-padding-y: $spacer * 0.5;
$dropdown-item-padding-x: $spacer;

$fds-card-border-radius: 0 !default;
