/* Bootstrap Theme */
$enable-shadows: true;
$btn-box-shadow: none;
$border-radius: .25rem;
$border-radius-lg: .375rem;
// $border-radius-sm: .2rem;

$caret-width: .3em;
$caret-vertical-align: $caret-width * .85;
$caret-spacing: $caret-width * .5;

// Typography
$enable-responsive-font-sizes: false;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'Georgia', serif;
$headings-font-weight: 600;
$line-height-smaller: 1.25;