{% load i18n easy_thumbnails_tags cms_tags %}

<article id="organization-{{ object.slug }}" class="md:shadow-gray border-gray p-3 mx-auto h-100 d-flex flex-column">
  <h4 class="mb-4">
    <a href="{{ object.get_absolute_url }}">
      {% if object.logo %}
        <img src="{% thumbnail object.logo 300x0 %}"
          class="partner-logo"
          alt="{{ object.name }}"/>
      {% else %}
        {{ object.name }}
      {% endif %}
    </a>
  </h4>

  {% if object.description %}
    <div class="organization-description">{{ object.description | truncatewords_html:TRUNCWORDS_COUNT | safe }}</div>
  {% endif %}

  <div class="mt-auto pt-3">
    <a href="{{ object.get_absolute_url }}">
      → {% trans "View organization" %}
    </a>
  </div>
</article>
