{% extends "cms/page.html" %}
{% load djangocms_alias_tags %}
{% load cms_tags %}
{% load i18n %}
{% load static %}
{% block meta %}
    {# Translators: meta keywords #}
    <meta name="keywords" content="Gegenrechtsschutz" />
    <link rel="icon" type="image/png" href="{% static 'grs/favicon.png' %}">
    {% include "fds_cms/social_meta.html" with object=request.current_page %}
{% endblock %}
{% block top_block %}{% endblock %}
{% block navbar %}
    {% static_alias "grs_header" %}
{% endblock %}
{% block messages %}{% endblock %}
{% block body %}
    {% block app_body %}
        {% placeholder "content" %}
    {% endblock %}
{% endblock %}
{% block footer_container %}
    {% static_alias "grs_footer" %}
{% endblock %}
