{% extends "cms/page.html" %}
{% load djangocms_alias_tags %}
{% load cms_tags %}
{% load menu_tags %}
{% load i18n %}
{% load static %}
{% load icons %}
{% block meta %}
    {# TODO: meta tags, favicon #}
    {% include "fds_cms/social_meta.html" with object=request.current_page %}
{% endblock %}
{% block top_block %}{% endblock %}
{% block navbar %}
    <nav class="navbar text-bg-primary border-bottom border-merlot-75 py-0">
        <div class="container ubf-section d-md-flex flex-wrap flex-md-nowrap text-uppercase py-3">
            <span class="visually-hidden">{{ request.site.name }}</span>
            <div aria-hidden="true" class="d-flex flex-grow-1 h3 m-0 pe-md-3">
                {% spaceless %}
                    {{ request.site.name|slice:"13" }}
                    <div class="logo-arrow" aria-hidden="true"></div>
                    {{ request.site.name|slice:"13:" }}:
                {% endspaceless %}
            </div>
            <ul class="navbar-nav h3 flex flex-row gap-4 flex-wrap">
                {% show_menu 0 1 0 0 "menu/bs_menu.html" %}
            </ul>
        </div>
        <div class="border-bottom border-merlot-75 w-100 order-first">
            <div class="container ubf-section py-3">
                <a href="https://fragdenstaat.de"
                   target="_blank"
                   class="link-white logo-fds">
                    {% render_svg "img/header_logo.svg" %}
                    <span class="visually-hidden">Ein Projekt von FragDenStaat</span>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block messages %}{% endblock %}
{% block body %}
    {% block app_body %}
        {% placeholder "content" %}
    {% endblock %}
{% endblock %}
{% block footer_container %}{# TODO: footer #}{% endblock %}
{% block scripts %}
    {% include "_frontend.html" with entry_point="ubf.js" %}
{% endblock %}
