{% load cms_tags %}

{% if instance.link %}<a href="{{ instance.link }}" class="d-flex w-100 text-body text-decoration-none">{% endif %}
  <div class="box-card {{ classes }}" {{ instance.attributes_str }}>
    <div>
      {% for plugin in children %}
        {% render_plugin plugin %}
      {% endfor %}
    </div>

    {% if links|length > 0 %}
      <div class="box-card-links {{ padding }}">
        {% for plugin in links %}
          {% render_plugin plugin %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% if instance.link %}</a>{% endif %}
