{% load fds_cms_tags %}
{% if instance.link %}
    <a href="{{ instance.link }}"{% else %}
        <div {% endif %}
             class="d-block box-card-image overlap-{{ instance.overlap }}{% if instance.overlap == 'left' %} col-md-4 col-lg-3{% endif %} text-center">
            {% with picture=instance.image %}
                <picture>
                    {% if picture.mime_type != "image/svg+xml" %}
                        {% get_responsive_filer_image picture "col-md-4 col-lg-3" as respimg %}
                        {% for source in respimg.sources %}
                            <source srcset="{{ source.srcset }}"
                                    sizes="{{ respimg.sizes }}"
                                    type="{{ source.mime_type }}" />
                        {% endfor %}
                        <img class="img-{{ instance.size }} z-index-10 {{ instance.attributes.class }}"
                             loading="lazy"
                             width="{{ picture.width|floatformat:"0u" }}"
                             height="{{ picture.height|floatformat:"0u" }}"
                             src="{{ respimg.src }}"
                             srcset="{{ respimg.srcset }}"
                             sizes="{{ respimg.sizes }}"
                             {% if not attributes.alt %}alt="{{ picture.default_alt_text|default:"" }}"{% endif %}
                             {{ instance.attributes_str }}>
                    {% else %}
                        <img class="img-{{ instance.size }} z-index-10 {{ instance.attributes.class }}"
                             loading="lazy"
                             width="{{ picture.width|floatformat:"0u" }}"
                             height="{{ picture.height|floatformat:"0u" }}"
                             src="{{ picture.url }}"
                             {% if not attributes.alt %}alt="{{ picture.default_alt_text|default:"" }}"{% endif %}
                             {{ instance.attributes_str }}>
                    {% endif %}
                </picture>
            {% endwith %}
            {% if instance.link %}
                {# djlint:off H025 #}
            </a>
            {# djlint:on #}
        {% else %}
        </div>
    {% endif %}
