{% extends "helper/admin_base_action.html" %}
{% load i18n %}
{% block action_title %}
    {% translate 'Import CSV' %}
{% endblock %}
{% block breadcrumbs_action_label %}
    {% translate 'Import CSV' %}
{% endblock %}
{% block action_content %}
    <div>
        <h3>{% translate "Read these instructions" %}</h3>
        <ul>
            <li>
                <strong>{% translate "If email addresses are not confirmed, they will receive a confirmation email that may need to be adjusted!" %}</strong>
            </li>
            <li>{% translate "Upload a CSV file with one column named 'email'." %}</li>
            <li>
                {# djlint:off #}
                {% translate "Optionally, you can also have a column 'name' with the subscriber's name or columns named 'first_name' and 'last_name'." %}
                {# djlint:on #}
            </li>
            <li>
                {% translate "Optionally, you can also have a column 'tags' with comma-separated tags that will be added to the subscriber." %}
            </li>
        </ul>
    </div>
    <form method="post"
          action="{% url 'admin:fds_newsletter-import_csv' pk=object.pk %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="{% translate 'Import CSV' %}" class="default">
        </p>
    </form>
{% endblock %}
{% block extrabody %}
    {{ block.super }}
    {{ form.media }}
{% endblock extrabody %}
