{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Organizations" %}
{% endblock title %}

{% block body %}
  <div class="bg-gray-100">
    <nav class="container" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'organization-list' %}">{% trans "Organizations" %}</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <h1 class="py-4">{% trans "Organizations" %}</h1>
    <div class="row shuffle-items gx-3 gy-3">
      {% for object in object_list %}
        <div class="col-md-6 col-lg-4">
          {% include "organization/includes/organization_item.html" with object=object TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
        </div>
      {% empty %}
        <p>{% trans "No organizations found." %}</p>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
