{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Organizations" %}
{% endblock title %}

{% block body %}
  <div class="container">
    <h1 class="py-4">{% trans "Organizations" %}</h1>
    <div class="row shuffle-items">
      {% for object in object_list %}
        <div class="col-md-6 col-lg-4 mb-5">
          {% include "organization/includes/organization_item.html" with object=object TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
        </div>
      {% empty %}
        <div class="col-md-4">
          <p>{% trans "No organizations found." %}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
