name: FragDenStaat CI

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Start Elasticsearch
        run: docker compose -f compose-dev.yaml up --wait elasticsearch
      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            requirements*.txt
            pyproject.toml
          python-version: ${{ matrix.python-version }}
          activate-environment: true
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Install system-level dependencies
        run: sudo apt-get update && sudo apt-get install libxml2-dev libxslt1-dev python3-dev libgdal-dev gdal-bin libmagic-dev libmagickwand-dev gettext libpoppler-cpp-dev
      - name: Install dependencies
        run: |
          uv pip install -r requirements-dev.txt
          uv pip install -e . --no-deps
          playwright install --with-deps chromium
          pnpm install
      - name: Build frontend
        run: pnpm run build
      - name: Compile translations
        run: |
          python manage.py compilemessages -i node_modules -l de
      - name: Run tests
        run: |
          coverage run --branch -m pytest --reuse-db
          coverage report --format=markdown >> $GITHUB_STEP_SUMMARY
        env:
          DATABASE_URL: postgis://postgres:postgres@localhost/fragdenstaat_de
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: fragdenstaat_de
        ports:
          - 5432:5432
