{# djlint:off H021 #}
<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center"
                                    style="border-radius: 3px"
                                    bgcolor="{{ style.primary }}">
                                    <a href="{{ action_url }}"
                                       target="_blank"
                                       class="button"
                                       style="font-size: 16px;
                                              font-family: Helvetica, Arial, sans-serif;
                                              color: #ffffff;
                                              text-decoration: none;
                                              text-decoration: none;
                                              border-radius: 3px;
                                              padding: 12px 18px;
                                              border: 1px solid {{ style.primary }};
                                              display: inline-block">{{ action_label }}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
